[2011-03-04 18:12] kumar303 opened #1 "pip install PyJWT fails"
Hello.  easy_install PyJWT works fine but pip install PyJWT fails because there is no source distribution.  When registering on PyPI you can add a source distribution alongside the egg like this:

  python setup.py bdist_egg sdist register upload -s

pip is nicer to use because it doesn't do confusing things with .pth files.  http://pypi.python.org/pypi/pip

thanks for a python implementation of J

[2011-03-06 20:25] #1 closed, assigned to nobody

[2011-06-04 00:02] chadselph opened #3 "setup.py adds a "tests" module"
In setup.py, "tests" is listed as a module, so when you're anywhere:

[code]

[2011-06-30 04:18] dhermes opened #4 "Unicode causes unnecessary DecodeError"
A simple self.request.get('jwt') very often returns a unicode string in Python.

However, feeding this JWT to jwt.decode throws a DecodeError (it expects ASCII text rather than unicode).  This should be more flexible to allow for the naive user to avoid a half hour wasted debugging the error.

[2011-07-25 09:47] #3 closed, assigned to nobody

[2011-12-12 03:30] jkarneges opened #5 "keys cannot be binary?"
encode() does some string conversions to the key which cause it to barf if a key contains non-ascii characters.  Is there a reason to be treating the key as a string?  Normally crypto operations should support the full bit range, and I don't see anything in the JWT spec that would forbid this.

Otherwise, if I want to support, say, 128-bit strength, I need to bloat it out into an ascii string that

[2012-06-23 05:21] progrium opened #7 "timing attack vulnerability"
From Jack moonboots08@gmail.com:

I noticed a timing attack vulnerability in your code for JWT hmac verification. When comparing the hmac signature of a foreign JWT with the calculated signature, the computation shortcircuits depending on how many bytes of the signatures match. This timing leak allows attackers to gain information about the secret signing key by sending specially crafted signature

[2012-10-29 03:16] #4 closed, assigned to nobody

[2013-06-04 23:20] #5 closed, assigned to nobody

[2013-06-15 19:20] #7 closed, assigned to nobody

[2013-06-19 15:46] Lothiraldan opened #15 "Compatibility with json web token revision 08"
I've read latest jwt revision (http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html). I didn't see much changes, so I think pyjwt is compatible with this revision. If it's compatible, we should update the README.

[2013-06-29 00:07] #15 closed, assigned to nobody

[2013-07-14 12:38] anderspetersson opened #17 "Add Support for Python 3"
pyjwt blows up when running on Python 3.3.2.

[2013-08-01 22:14] erikcw opened #19 "Post 0.1.6 to PyPi"
Would be great to have the latest version installed by default with pip.

Alternatively, tagging the release in git would make finding the release commit faster...

[2013-08-18 03:27] #19 closed, assigned to nobody

[2013-11-06 18:46] #17 closed, assigned to nobody

[2014-01-20 08:52] Natim opened #24 "1.7 — You forgot to add PyCrypto in `install_requires` of setup.py"

[2014-01-23 01:49] #24 closed, assigned to nobody

[2014-02-08 06:33] jpadilla opened #26 "Upload release 0.1.9 to PyPI"
Already bumped up version for this.

Edit: already released a tag

[2014-02-08 06:36] jpadilla opened #27 "Setup Travis CI"
@progrium Included a .travis.yml that should work using tox. What do you feel about setting up this repo on Travis? Can you do it?

[2014-02-08 06:41] #27 closed, assigned to nobody

[2014-02-08 07:18] #26 closed, assigned to nobody

[2014-03-24 13:39] jpadilla opened #31 "Bump up version and release"
@progrium want me to bump up version so we can release last two updates? Do we want to go up to 0.2.0?

[2014-03-26 00:31] #31 closed, assigned to nobody

[2014-04-10 01:26] gwachob opened #32 "Non-ascii keys in Python3 not working"
I'm not actually sure if this is intended to work but based on other discussions (see e.g. issue #6), it seems like it is _intended_ to work...

This is PyJWT-0.2.0 (pip installed), python 3.3 on a mac. I have a workaround (monkeypatch) shown below, but obviously this isn't the right solution...

[code]

_Monkey-patching_

[code]

[2014-04-16 19:25] tgs opened #33 "`requests` auth module"
Hiya,

Kenneth Reitz's `requests` library has a system for pluggable authentication & authorization modules.  I've made a stab at a JWT module: `jwt_auth.py` in https://github.com/tgs/python-badgekit-api-client/tree/master/badgekit

At present, it uses python-jws, but could easily be rewritten to use pyjwt instead.

I'm thinking about how make it available to the public - some `requests` auth modu

[2014-04-28 23:04] #33 closed, assigned to nobody

[2014-06-17 03:45] idella opened #36 "version -0.2.1?, testsuite"
Have just added this to portage.  The latest release listed and made available here is 0.2.0.  I have the 0,2,1 at pypi but, as often happens, it's missing the testsuite; any and all files to run the testsuite.  The testsuite is an extra however I generally include them if present. It's in the repo but absent from the tarball. Is this intended?
 It won't be the first time if it isn't.

[2014-08-24 18:54] efritz opened #37 "Custom JSON Encoder"
It would be helpful to be able to set the 'cls' attribute on the json.dumps method used by jwt.encode. This allows datatypes which do not have a built-in serializer to be present in the JWT payload.

To do this externally from JWT, one could do the following.

[code]

It could be helpful to also supply a deserializer in the same way.

[2014-09-23 02:25] #32 closed, assigned to nobody

[2014-10-12 10:46] skion opened #42 "Adding support for Ed25519 signatures"
Would anyone upstream be interested in adding support for NaCl-style [Ed25519](http://ed25519.cr.yp.to/) signatures? I have done some preliminary work [in here](https://github.com/skion/pyjwt/tree/nacl-pure) based on [PyNaCl](https://github.com/pyca/pynacl). At the moment it includes a fallback (and prohibitively slow) pure-Python implementation as well, but I could easily be persuaded to create a

[2014-10-18 13:03] #36 closed, assigned to nobody

[2014-10-18 13:04] jpadilla opened #43 "Implement aud check"
Implement audience check.

Node.JS implementation [example](https://github.com/auth0/node-jsonwebtoken/blob/master/index.js).

[2014-10-18 13:04] jpadilla opened #44 "Implement iss check"
Implement issuer check.

Node.JS implementation [example](https://github.com/auth0/node-jsonwebtoken/blob/master/index.js).

[2014-10-22 05:30] #43 closed, assigned to nobody

[2014-10-22 05:36] #44 closed, assigned to nobody

[2014-12-13 22:36] #37 closed, assigned to nobody

[2014-12-31 12:01] wbolster opened #53 "include all public api in __all__"
Not all exceptions are part of the `__all__` definition currently.

[2014-12-31 12:04] wbolster opened #54 "allow datetime.timedelta instance for leeway argument"
the summary says it all.

[2014-12-31 12:08] wbolster opened #55 "empty strings for issuer and audience are treated as "not present""
Parts of the current code such as this snippet:

[code]

treat an empty string as issuer, i.e. `""`, the same as "no issuer specified". Though it's a rather bad practice to use empty strings for these values, this might lead to unexpected results. Changing the test to be `if issuer is None:` fixes this.

The same applies to audience, and possibly more.

[2014-12-31 14:43] #53 closed, assigned to nobody

[2014-12-31 15:44] #55 closed, assigned to nobody

[2015-01-02 16:31] wbolster commented on #54
Ok, let me pick this up.

[2015-01-05 18:38] wbolster opened #57 "tests show Resourcewarning"
The tests spit out this warning: `ResourceWarning: unclosed file <_io.TextIOWrapper name='tests/testkey_ec.pub' mode='r' encoding='UTF-8'>`.

[2015-01-05 18:42] wbolster opened #59 "use common base class for all exceptions meaning "token is invalid""
the summary says it all.

[2015-01-05 19:01] wbolster opened #61 "Drop unnecessary and confusing **kwargs magic"
The `verify_signature()` function (internal API) and its only caller `decode()` (public API) are a bit overenthusiastic wrt `**kwargs`, without good reason.

[2015-01-05 19:14] wbolster opened #63 "Use constant time string comparison routine from the stdlib if available"
The summary says it all; PR upcoming.

[2015-01-05 22:21] #54 closed

[2015-01-05 22:21] #57 closed

[2015-01-05 22:24] #63 closed

[2015-01-06 12:35] wbolster opened #65 "Missing checks that decoded header and payload are actually json objects"
Consider this sample evil JWT string: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.InN0cmluZyBjb250YWluaW5nIG5iZiBhbmQgZXhwIHRvIGZvb2wgdGhlIFwiaW5cIiBvcGVyYXRvciI.OP64cbMBNsV3_2dAgL_VD96-gAvKksoEMpwIL6BAh3M` using the secret `secret`.

The payload in this JWT is not a JSON encoded object (dict in python), but a string containing the substrings "nbf" and "exp". This fools the validation since the `in` ope

[2015-01-06 13:04] #61 closed

[2015-01-06 13:09] #65 closed

[2015-01-06 13:45] jpadilla opened #67 "Handle all compatibility branching in a compat.py"
I'd like to add a `compat.py` to handle all compatibility branching in one place, removing any of that clutter from the actual code.

[2015-01-06 13:47] jpadilla commented on #67
- prepare_key_methods
- signing_methods
- verify_methods
- constant_time_compare

Perhaps also handling of `.total_seconds()` should also go here.

[2015-01-06 14:03] mark-adams opened #70 "Move algorithm-specific logic to be class-based to allow for better extensibility"
In #42, we discussed changing to more of a registry model for registration of algorithms. This issue is suggesting that we move to that sort of a model.

[2015-01-06 14:11] wbolster opened #72 "Invalid validation of issuer claim"
The spec at http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#audDef states:

As I understand it, Pyjwt doesn't seem to implement this requirement correctly. Basically it reverses the checks. Let me explain.

Pyjwt only check the audience claim when an `audience=...` arg was specified to `decode()`, meaning that any `audience` claim in the JWT is blindly ignored, and hence accepted

[2015-01-06 14:28] wbolster commented on #70
As an alternative, setuptools extension points could be used instead. With the current approach, any external "extension package" containing an additional algorithm implementation *must* be imported by the application before it could be used, because the extension package would register the algorithms only at import time.

With extension points, which are designed for use cases like these, this is

[2015-01-06 14:28] wbolster commented on #42
@skion see #70 for more discussion re. extensions.

[2015-01-06 15:10] wbolster commented on #67
While you're at it, drop usage of `unicode_literals` as well. :) https://github.com/PythonCharmers/python-future/issues/22

[2015-01-06 15:56] mark-adams commented on #70
That's a neat idea! I could see that being super useful in applications that see a lot of plug-ins being developed (things like Django, SqlAlchemy, flask) and I have some ideas for where I want to use it. Thanks for sharing it! =)

For this library, I anticipate that 99.9999% of the use-cases will be people who are only using the algorithms listed in the JWA spec (which we implement all of the req

[2015-01-06 16:11] jpadilla commented on #72
@wbolster not sure I understand yet, an example snippet or test with expected vs actual results would help. I think I based that off [node-jsonwebtoken](https://github.com/auth0/node-jsonwebtoken/blob/master/index.js).

[2015-01-06 16:21] mark-adams commented on #72
I see what @wbolster is saying.

The JWT spec says that if 'aud' claim is present in the claim-set, the consumer of the JWT must validate that its audience ID is present in the 'aud' claim list and if it is not, the JWT must be rejected.

Currently (in pyjwt), if the `audience=` arg is set, we check the 'aud' value; otherwise we ignore it. As @wbolster said, that is backwards. We should be checkin

[2015-01-06 16:26] mark-adams commented on #72
Also, I believe the title of this bug should be "Invalid validation of the audience claim"

[2015-01-06 16:27] wbolster commented on #72
Exactly. I can come up with a PR that does the correct thing, but when doing so pyjwt will lose one "feature" (or misfeature), namely the ability for application to ignore the JWT audience claim at all, which happens to be pyjwt's default currently... :( However, the current behaviour is in direct violation of the spec, and this behaviour opens up a potential security issue, so I highly recommend

[2015-01-06 16:31] wbolster commented on #72
Open questions:

- does pyjwt need support for multiple audience values? is there a use case for this? applications that act as multiple audiences? if so, it becomes a many-to-many check; in that case, only a single one needs to match.

- how to document the to be changed behaviour properly?

[2015-01-06 16:34] wbolster commented on #72
Alternative idea: allow a callback to be specified that can determine whether a specific audience claim is accepted or not. ugly and error-prone though, not like the rest of the api, and probably only useful for edge cases. Logic that would work for all use cases I can imagine would be: "if any of the audience claims matches any of the acceptable audience claims specified by the application, accep

[2015-01-06 16:35] mark-adams commented on #72
I very much agree with @wbolster. If the 'aud' claim is present and the `audience=` is None or is not contained in the `aud` claim, the JWT must be rejected as the specification says.

The main security issue here is this:
Let's say we have an organization with two resources Server A and Server B and a user named Bob who should only be able to access Server A. Let's say Bob authenticates and recei

[2015-01-06 16:40] wbolster opened #73 "usage of unicode_literals breaks "import *""
As mentioned in #67, `unicode_literals` is evil in code that needs to work unchanged in Python 2 and Python 3.

I know that `import *` is an anti-pattern, but this is an example of what breaks because of `unicode_literals` in Python 2:

[code]

Other tools using `__all__` (IDEs perhaps? I don't use those) will likely break as well.

[2015-01-06 16:42] jpadilla commented on #72
I get it now, thanks @wbolster and @mark-adams! If I recall the spec does allow for multiple audiences, right? I'm ok doing exactly what the spec suggests. If it's not in accordance to the spec, it's probably wrong and we should change it, specially if its security related.

[2015-01-06 16:43] mark-adams commented on #73
Which specific version of Python does that happen in?

[2015-01-06 16:46] mark-adams commented on #73
Nevermind, I got it in 2.7.

[2015-01-06 16:50] wbolster commented on #73
The source of the problem is that the `unicode_literals` future import makes it impossible to use "native strings" in the module, and since "native strings" are used all over the place in Python, this causes all kinds of weird errors.

[2015-01-06 16:52] mark-adams commented on #72
Technically, the spec says "Each principal intended to process the JWT MUST identify itself with **a** value in the audience claim." (emphasis added) which leads me to believe the intent is for the application's value to be a single value. Otherwise they could have said "with one or more values", but you guys may have a different reading.

I'm certain that we need to change our validation to be pe

[2015-01-06 16:53] mark-adams commented on #73
I'm also going to go ahead and mention the article you linked to in #67, since it seems to provide a good discussion on the issue: https://github.com/PythonCharmers/python-future/issues/22

[2015-01-06 17:20] mark-adams commented on #72
@jpadilla To clarify, the spec allows for the 'aud' claim to have a list of intended recipients; but I think the intent is that the application has a single audience ID for itself.

In order for validation to pass:
* 'aud' must not be present in the claimset or
* if 'aud' is a list, `aud` must contain the application's value
* if 'aud' is a string, `aud` must equal the application's value.

[2015-01-06 17:51] wbolster commented on #72
Ok, I think we all agree. Should I come up with a PR?

[2015-01-06 19:35] wbolster commented on #70
Actually I tend to agree with you here @mark-adams. The ugly import-time side-effect and the resulting seemingly "unused" import in application code is just the price one has to pay for using non-standardized crypto! :)

[2015-01-07 14:59] wbolster commented on #70
For future reference: follow-up discussion in #71.

[2015-01-08 16:25] jpadilla commented on #73
Anything happen when we remove `unicode_literals`?

[2015-01-08 16:25] #67 closed

[2015-01-09 20:22] wbolster commented on #73
Don't think so, since the API doesn't have any str/unicode default args or return values, afaics.

[2015-01-11 19:51] jpadilla commented on #73
@wbolster nothing seemed to happen in #75.

[2015-01-12 12:15] jpadilla commented on #73
Closed via 6a0f184ffafe36466cb9c50feabcbd1c66d06754

[2015-01-12 12:15] #73 closed

[2015-01-12 12:21] wbolster commented on #73
for reference, this was fixed via #76

[2015-01-16 03:39] mark-adams commented on #42
@jpadilla Since we've decided this is best handled by some form of extensibility (like #70), can we go ahead and close this issue?

[2015-01-16 09:29] skion commented on #42
Most definitely; looking forward to trying the registry stuff soon.

[2015-01-16 09:29] #42 closed

[2015-01-18 17:28] #70 closed

[2015-01-18 19:34] mark-adams opened #80 "Update documentation to reference the latest spec"
Apparently there have been 30+ iterations to the JWT spec since the pyjwt documentation was created. Do we need to update the docs to reflect that we're up to speed with the latest versions of the spec?

https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32

@jpadilla Thoughts?

[2015-01-19 03:03] jpadilla commented on #80
Yeah definitely

[2015-01-19 04:45] mark-adams commented on #80
K. I'll create a pull request with updated links and text.

[2015-01-21 19:59] svnv opened #81 "Encoding with RSA public key and decoding with private key"
In the documentation it says:

When i try to encode the payload with the public key i get an error:

    Traceback (most recent call last):
      File "<input>", line 1, in <module>
      File "/Users/sven/code/sso/env/lib/python2.7/site-packages/jwt/__init__.py",
     line 295, in encode
        signature = signing_methods[algorithm](signing_input, key)
      File "/Users/sven/code/sso/env/lib/py

[2015-01-22 00:11] buzzrick opened #82 "verify RS256 signature failing"
Since updating PyJWT to v4.1 (from v3.2) we are no longer able to verify RS256 signed messages.

I now get a "Could not unserialize key data" ValueError exception.  This stack trace shows the relevant place that the error occurs:

[code]

I'm not sure exactly which version this stopped working, but I assume it was when the crypto library dependancy switched from PyCrypto to cryptography

If there'

[2015-01-22 01:23] seedifferently opened #83 "Can't decode tokens encoded with the "none" algorithm"
There seems to be some problems with decoding tokens using the "none" algorithm:

    b'eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJzb21lIjoicGF5bG9hZCJ9.'

    [...]
    KeyError: 'NONE'
    [...]
    DecodeError: Algorithm not supported

[2015-01-22 07:38] svnv commented on #81
So, it look like I misunderstood how jwt works. I somehow thought that the payload was also encrypted with the RSA key. (I edited my previous post in light of my new knowledge.)

The documentation should at least be updated to reflect that encoding (signing) is only possible with a private RSA key and decoding (verification) only works with a private key.

[2015-01-22 12:37] jpadilla commented on #81
@svnv a pull request is welcome with your proposal to what the documentation should say about this.

[2015-01-24 15:35] jpadilla commented on #83
I've never understood why we even have that option in the first place. But it's meant to be used like this:

[code]

[2015-01-24 15:35] #83 closed

[2015-01-24 15:36] jpadilla commented on #82
@mark-adams would you happen to know what might be going on here?

[2015-01-24 19:33] mark-adams commented on #82
I'll take a look today

[2015-01-24 19:33] mark-adams commented on #82
@buzzrick Can you provide an example JWT?

[2015-01-24 20:08] seedifferently commented on #83
@jpadilla ah, thanks. Sorry about the noise.

[2015-01-24 23:57] mark-adams commented on #81
I think there is a general assumption that users of JWT understand the basics of asymmetric crypto and how a digital signature works. However, it might not hurt to provide a link to [Wikipedia's article on Public-key crypto](http://en.wikipedia.org/wiki/Public-key_cryptography)

[2015-01-25 00:10] mark-adams commented on #82
@buzzrick It looks like the test is failing because the key is not in a valid format. We have tests that cover both types (PEM & SSH) of public key. Can you attach the public key that is being used to verify so that we can see why its failing?

[2015-01-25 01:08] jpadilla commented on #81
:+1: sounds good to me

[2015-01-25 13:43] #80 closed

[2015-01-25 13:45] jpadilla commented on #81
Closed via #88

[2015-01-25 13:45] #81 closed

[2015-01-25 13:46] jpadilla opened #89 "Add docs setup with mkdocs"

[2015-01-25 21:21] buzzrick commented on #82
I have sent an email to mark-adams with an example JWT and certificate (I'm not sure whether it is a good idea to paste the details in public here).

[2015-01-25 22:01] mark-adams commented on #82
Thanks @buzzrick. Generally speaking, it is safe to share the RSA public key publicly (hence the name) as long as you don't share the RSA private key. I've had a chance to look over what you sent me and I think I've figured out where the issue lies.

PyJWT's documentation talks about accepting two kinds of RSA public keys: PEM and SSH format. PEM keys start with "-----BEGIN PUBLIC KEY-----" and SS

[2015-01-25 22:23] buzzrick commented on #82
Darn, sorry, i should have mentioned that we do decode the certificate, and extract the public key component of it, which we use to verify the signature.
I didn't post the public key, because it is a binary blob, not a string.

[2015-01-25 22:33] mark-adams commented on #82
How are you extracting the public key? Is it possible for you to try one of the methods above?

[2015-01-25 22:42] buzzrick commented on #82
I'm getting the public key as per my updated comment above.  I've had a quick attempt at using the following method
[code]
Unfortunately, our cert is stored as a string in a database, not in a file, so i'm getting an `initializer for ctype 'char[]' must be a str or list or tuple, not unicode` error.  I'll have another shot at it this afternoon once i've finished some other pressing tasks, and get

[2015-01-26 00:49] buzzrick commented on #82
Yay.  I have managed to decode the public key from the certificate string as follows:
[code]
PyJWT v0.4.1 does work with this instance of the key.

Interestingly this code does NOT work with PyJWT v0.3.2.  The issue just seems to be a difference in the way that the cryptography/PyCrypto dependancy works.

Thanks Mark for your assistance.

[2015-01-26 00:49] #82 closed

[2015-01-26 03:54] mark-adams commented on #82
Yea, `PyCrypto` and `cryptography` have two totally different representations of the RSA key so the example code using `load_pem_x509_certificate` would definitely not work with any pre-cryptography versions (like 0.3.2)

I'm glad the workaround is working for you! Thanks for reaching out!

[2015-01-27 01:40] jpadilla commented on #82
@mark-adams thanks again for stepping and helping out!

[2015-01-27 20:10] fxdgear opened #90 "Decoding does not handle the `x5c` header"
https://github.com/jpadilla/pyjwt/blob/0.4.1/jwt/__init__.py#L353-L355

[2015-02-01 05:29] mark-adams commented on #90
This is talked about in Section 4 (JOSE Header) of the JWS specification. However, it is an optional feature for implementation since it is not described as "MUST be understood" parameter in the header.

So, the good news is... we're not missing anything mandatory here for us to be a conforming implementation.

[2015-02-05 01:42] petrrr opened #91 "PyPI package cleanup"
The PyPI packages is somewhat messy and provides some strange copies of PyJWT.egg-info/SOURCES. Maybe this should be cleaned up.

[code]

[2015-02-05 03:02] jpadilla commented on #91
@petrrr horrible, sorry about that. Will make sure that gets cleaned up for next release.

[2015-02-11 13:50] wbolster commented on #91
@jpadilla perhaps wipe your local `*.egginfo/` dir is enough

[2015-02-11 13:52] wbolster opened #92 "Perhaps allow audience= and issuer= args to .encode()"
This would be nice for API parity with `.decode()` and would allow applications to ignore the `iss` and `aud` abbreviations used by JWT, and it would also give `pyjwt` control over the the way those fields are formatted, making it less likely that `.encode()` spits out a non-conforming token.

[2015-02-11 16:54] jpadilla commented on #91
@wbolster yep, will have this in mind on next release.

[2015-02-11 16:55] jpadilla commented on #92
@wbolster hmm not sure I understand your proposal. Mind showing an example or use case?

[2015-02-12 09:32] wbolster commented on #92
Code to encode a token, e.g.

[code]

takes no `audience=` or `issuer=` args, while this does:

[code]

This means that application authors need to know internal details of the JWT spec if they want to generate tokens with audience or issuer claims embedded in them, since the only way to do so (currently) is to put `aud` and `iss` keys (with conforming values) into the payload dict.

I argue that

[2015-02-12 16:45] jpadilla commented on #92
@wbolster yeah definitely makes sense now

[2015-02-12 16:46] jpadilla commented on #90
This is up for grabs to anyone who wants to take a stab at implementing whatever is needed and including tests.

[2015-02-12 17:26] fxdgear commented on #90
I'll attempt to take a stab at this since I need it, will start on it soon (unless someone gets to it before me)

[2015-02-12 18:46] wbolster commented on #92
ok feel free to assign this issue to me. no guarantees about time frame but I'll see what I can do :-)

[2015-02-12 18:53] wbolster commented on #89
just curious, what is mkdocs?

[2015-02-12 22:05] jpadilla commented on #89
http://www.mkdocs.org/

[2015-02-13 08:24] wbolster commented on #89
hmm. for python docs sphinx and readthedocs.org is the more obvious solution I think.

"José Padilla" <notifications@github.com> schreef op 12 februari 2015 23:05:08 CET:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-02-13 11:00] jpadilla commented on #89
Possibly, although I've been using mkdocs heavily for many third party packages for django-rest-framework, it's easier to get it done, and it'll be easier to maintain

[2015-02-13 23:19] fxdgear commented on #90
so i talked to some of the guys in the #cryptography-dev channel on IRC. It's lead to me creating this issue in the cryptography repo: https://github.com/pyca/cryptography/issues/1660

[2015-02-17 18:34] cancan101 opened #93 "Decoding RS256 JWT"
I am trying to decode a JWT encoded with `RS256`.

When I run the following:
[code]
I get:
[code]

I suspect something might be wrong with the public key format:
[code]

[2015-02-17 19:23] cancan101 commented on #93
Following [this](http://serverfault.com/a/441227/233297) to get a :
[code]
and then setting this to `JWT_SECRET_KEY` seems to do the trick.

[2015-02-17 19:51] jpadilla commented on #93
This might be related to #90

[2015-02-17 20:53] cancan101 commented on #93
The issue is mentioned here: https://cryptography.io/en/latest/hazmat/primitives/asymmetric/serialization/#pem and also talked about in #82.

The solution is to load the certificate using:
[code]
[rather than](https://github.com/jpadilla/pyjwt/blob/a4c5236e7b2a6e10bcfcaebcf1307122c255db57/jwt/algorithms.py#L130):
[code]

[2015-02-18 19:16] jpadilla commented on #91
https://github.com/jpadilla/pyjwt/releases/tag/0.4.2

[2015-02-18 19:16] #91 closed

[2015-02-18 20:16] cancan101 opened #96 "Issuer Check Should Canonicalize the URL"
See: https://github.com/jpadilla/pyjwt/blob/5f9bc05803508b844d3fd9c61cd5210af06eecd8/jwt/api.py#L186

Ideally the URL should be canonicalized (ie the trailing slash should be made explicit) rather than just doing a simple string compare.

[2015-02-19 14:44] wbolster commented on #96
I don't agree. There's no reason to treat the field as a url, and even if it was defined as a url (it isn't), a url with a trailing slash is different from one without a trailing slash.

Relevant part of the spec (https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32):

[code]

[2015-02-19 14:53] cancan101 commented on #96
[This is what inspired this post](https://ask.auth0.com/t/modify-iss-attribute-for-jwt-possible/498):

[2015-02-20 00:07] tilgovi opened #97 "Export `load` and `verify_signature` from `.api` in main module"
These are useful functions for people who need to inspect properties of the payload before doing verification. Otherwise, there's redundant work to load the payload twice.

Since these functions were in the top-level namespace in the previous release, this was a breaking change in a patch release and so sadface.

[2015-02-20 00:11] tilgovi commented on #96
Agree with @wbolster. Particularly where things like security are concerned I'd err on the side of strict, anyway.

[2015-02-20 11:06] wbolster commented on #97
...but those were never part of the public (documented) API, right?

I think if this functionality makes sense to expose (can you elaborate on the use case?) it will need some big fat "this is possibly unsafe" warnings and preferably also corresponding names, e.g. `unsafe_load()` and so on.

[2015-02-20 11:08] wbolster commented on #96
The generalized solution would be to have some "issuer validation" hook (callback) to be used instead of the string comparison.

[2015-02-20 11:42] jpadilla commented on #97
What @wbolster said.

[2015-02-20 11:54] jpadilla commented on #93
Still not clear with this if there's something we can do to prevent this confusion.

[2015-02-20 15:29] cancan101 commented on #93
You could make [this logic](https://github.com/jpadilla/pyjwt/blob/eb4bb5346b60d4970687c8db3935f24510b3fa46/jwt/algorithms.py#L124) try to fall back one to one more attempt. You could add some additional logic to look for the begin/end public key string as well.

[2015-02-20 17:33] tilgovi commented on #97
Ah, I see that they weren't, in fact, in `__all__`, even in 0.4.1 where they were in the package main module.

The use case is, I think, not uncommon. I serve multiple issuers. I need to inspect the issuer before I know which secret to use. On the other hand, this is just premature optimization where I'm trying to avoid the base64 decode when it comes time to verify.

Up to you all, then. I'm happ

[2015-02-21 15:38] jpadilla commented on #97
I'm still not sure this should be public API, unless we have others interested in it being it. For now, you'll still be able to import it directly from `jwt.api`.

[2015-02-21 15:39] jpadilla commented on #96
@wbolster but then would that mean we have to do the same for the other "validations"?

[2015-02-21 16:39] jpadilla commented on #93
Interested in seeing a PR for this.

@wbolster @mark-adams I'd love your thoughts on this.

[2015-02-21 19:43] mark-adams commented on #93
I think we should update the documentation to indicate how to load a key from an x509 certificate.

 I don't think adding more fallback logic is the right approach. The API expects a key and it works when you pass in a key. A certificate is way more than a key so it's a bit outside the scope of our code and would only add complexity.

It should be the consumer's responsibility to make sure they ar

[2015-02-21 21:01] cancan101 commented on #93
I would say more important than the fallback logic would just be documentation.

[2015-02-22 01:13] jpadilla commented on #93
Sold! If anyone wants to take a stab at that, pull requests are welcome.

[2015-02-22 01:49] tilgovi commented on #96
Supporting callables for all of those wouldn't be the worst.

[2015-02-22 01:50] tilgovi commented on #97
Yep. Closing. If more people come across this they can speak up if they want it.

[2015-02-22 01:50] #97 closed

[2015-02-23 13:31] wbolster commented on #96
It can be an optional hook, with the default being an exact string comparison, cf. what `json` does with `object_hook` and so on.

[2015-02-23 13:33] wbolster commented on #93
+1 on having this as documentation. Adding magic detection logic to the `jwt` API isn't the right way imho, as @mark-adams pointed out.

[2015-03-10 03:48] jeffjzx opened #98 "Decoding performance issue"
Hi, in my implementation i have to decode the same JWT token twice. First one is used in decorator to verify authentication and the second one is used in main function just to extract user information. Say i add "verify=False" in my second one, will this gain a little bit performance benefit?

[2015-03-10 16:15] wbolster commented on #98
Yes, though it's arguably better to decode only once in your decorator and store the result in a "request scoped" storage, e.g. `flask.g` or something like that.

[2015-03-11 06:17] jeffjzx commented on #98
@wbolster
Thank you, i have considered that, but say if i have several servers run the same web application and have the load balancer will redirect user to corresponding server. My plan is to use Redis as distributed memory cache to save user token in order to synchronize all the servers. However in case of flask.g it only save user information locally.

This is my first time designing a complica

[2015-03-11 11:14] rjprins commented on #98
@jeffjzx
Generally the token enables stateless server authentication. Meaning that it's not necessary to save the token in Redis or something similar. However if your main function is in an entirely different process than the token authentication, then there a few things you could do:
1. Pass on the token to the main function process, and decode it again.
2. Pass on the decrypted token information

[2015-03-11 11:26] wbolster commented on #98
@jeffjzx  Proxying (perhaps through a load balancer, perhaps just nginx reverse proxy) is very common, and in those cases you pass the token in a HTTP header in each request, and the server verifies the token for every request. As @rjprins said, there is _no state_ involved, so no need for redis/database/globals.

As I understood it, your original question was about decoding a JWT twice when handl

[2015-03-11 11:54] jeffjzx commented on #98
Thanks guys! I'll adapt your suggestion in my implementation

[2015-03-14 01:16] garyp commented on #97
I have the same need as @tilgovi: verifying jwt's received from multiple issuers, with a different key per issuer. Thus I need to get the issuer out of the jwt in order to pass in the appropriate key for verification.

[2015-03-14 01:26] tilgovi commented on #97
I think it makes sense to expose an API for this.

As for safety for the user and bw-compat what if there were a keyword argument for `decode` that returned the parts tuple and we just exposed verify but not load?

[code]

That way, verify=False would have to be the explicit opt-in rather than trying to come up with a "safe" name for load?

[2015-03-14 01:26] tilgovi commented on #97
OTOH, I don't like when methods have multiple return types.

[2015-03-14 01:28] garyp opened #99 "Support for App Engine"
Google App Engine's python runtime environment unfortunately only supports the "pycrypto" library and not the newer "cryptography" library (they have a pre-vetted list of native libraries that are supported): https://cloud.google.com/appengine/docs/python/tools/libraries27. I'm using the 0.3.x branch of pyjwt on App Engine right now and it'd be nice to be able to ugprade to 0.4.x.

The only soluti

[2015-03-14 16:36] #98 closed

[2015-03-14 16:42] jpadilla commented on #99
GAE strikes again! Are you using RSA or ECDSA signatures? If not you wouldn't need `pycypto` or `cryptography` at all. I think we could definitely evaluate the possibilities of abstracting both libraries, and support both of them without including too much about each in our implementation. Does that make sense?

[2015-03-14 22:52] garyp commented on #99
I'm using RS256 signatures. Yeah, abstracting both libraries is what I was thinking. The code already seems pretty well abstracted, so it doesn't seem like it'd be a lot of work to define a common interface.

[2015-03-15 12:17] jpadilla commented on #99
@garyp I'm down to seeing a proposal for this.

[2015-03-15 18:00] garyp commented on #99
@jpadilla Great. I'll probably work on this in a week or two.

[2015-03-16 00:10] mark-adams commented on #92
So, the big question here would be... how would you handle conflict? If a consumer passed in a payload to `encode()` that already had "aud" set but they also passed in a value for `audience=`

I think the best thing in that situation would be to throw an exception. It seems like any other option would result in a confusing API.

[2015-03-16 11:22] askjellrud opened #104 "Payload missing padding (==)"
The payload is missing padding, removing the last } from json payload.

Example:

#!/bin/sh

token=$(python << END
import jwt
print jwt.encode({'clientId': 'XXX', 'exp' : 1426505519 }, 'secret')
END)

payload=$(echo $token | cut -d'.' -f 2)
echo $(echo ${payload} |base64 --decode)

[2015-03-16 11:32] jpadilla commented on #104
Part of the spec requires base64 URL safe encoding, that means omitting `=` padding characters. So if you're decoding the payload yourself you have to take that into consideration. This library already does that for you.

      always refers to the URL- and filename-safe Base64 encoding
      described in RFC 4648 [RFC4648], Section 5, with the (non URL-
      safe) '=' padding characters omitted,

[2015-03-16 11:32] #104 closed

[2015-03-17 12:14] #93 closed

[2015-03-17 19:29] mark-adams opened #105 "Add validation to prevent asymmetric keys from being used as secrets for non-asymmetric algorithms"
We should validate that the secret is not a asymmetric key or certificate for HMAC.

Example:
Create an HS256 token.  Generate the HMAC signature using the literal bytes of the public key file (often in the PEM format).  This will confuse the implementation into interpreting the public key file as an HMAC key.

[2015-03-17 19:31] mark-adams opened #106 "Add validation to raise an exception when alg=none and a secret is specified"
If a JWT has an `alg="none"` value, but a secret is specified in decode, we should raise an exception.

[2015-03-17 19:34] mark-adams opened #107 "Add allowed_algorithms parameter to indicate which algorithms are permitted when validating"
Currently, our validation accepts any supported algorithm as valid including none. We should allow the user to specify which algorithms they would like to use and validate against that.

[2015-03-18 01:33] #105 closed

[2015-03-18 01:33] #106 closed

[2015-03-18 02:00] #107 closed

[2015-03-18 14:50] jpadilla opened #111 "Use pytest"

[2015-03-18 16:33] mark-adams commented on #111
Why?

[2015-03-18 16:46] jpadilla commented on #111
For one the exception traceback on pytest is way more informative. Also, the `raises` context manager for testing exceptions. We'll also get rid of the usual unittest boilerplate. Just feels right where we at with this project.

[2015-03-18 16:54] mark-adams commented on #99
This can now be accomplished by using `register_algorithm` and the and the jwt.contrib.algorithms.pycrypto classes.

[2015-03-18 17:13] jpadilla opened #114 "Keep a CHANGELOG"
http://keepachangelog.com/

[2015-03-18 17:20] #99 closed

[2015-03-19 12:36] trunneml opened #115 "headers function is missing"
The jwt.headers function has been removed. So you shouldn't use it in pyjwt/bin/jwt (Line 58).

[2015-03-19 13:11] jpadilla commented on #115
Closed via bd57b024d014faea73e62c3d40f0608418e1f1b0.

[2015-03-19 13:11] #115 closed

[2015-03-19 13:11] jpadilla commented on #115
@trunneml thanks for the heads up.

[2015-03-19 16:01] henri-hulski opened #116 "jwt.encode produces not constant JWT header in Python 3"
After updating to 1.0.0 I found some inconsistency:
When running the following test:

[code]

In Python 2.7 this test passes always.
In Python 3.4 this test sometimes passes and sometimes not.
The reason is, that in Python 3 jwt.encode sometimes produce a header like:

[code]

This is the same like in Python 2.

But sometimes it produces a header like:

[code]

I didn't find out why this happens.

[2015-03-19 16:08] mark-adams commented on #116
Python doesn't guarantee the ordering of the keys in a dictionary; nor does the JWT spec specify an ordering of the header parameters.

[2015-03-19 16:11] henri-hulski commented on #116
So with the same claimset I can get different tokens.

[2015-03-19 16:17] mark-adams commented on #116
Absolutely, depending on how Python wants to order those keys.

If order really really mattered to you, you could use `collections.OrderedDict` for your claims, but to be honest, there is absolutely no technical reason why the order of the keys matter. The point of the JWT is to validate the authenticity of the claimset using the signature. The order of the keys in the claimset or header have abso

[2015-03-19 16:19] henri-hulski commented on #116
I understand. So I will close this issue.

[2015-03-19 16:19] #116 closed

[2015-03-23 19:28] merwok commented on #73
For the record, one can use the ``b'string of bytes'`` syntax in 2.6+ to have “native strings” in a module with unicode literals enabled.

[2015-03-23 22:38] wbolster commented on #73
No, because it would result in bytes on Python 3, and those are not native strings.

"Éric Araujo" <notifications@github.com> schreef op 23 maart 2015 20:28:29 CET:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-03-23 23:14] mark-adams commented on #73
Isn't this resolved already? :smile:

[2015-03-26 20:53] johnlockwood-wf commented on #99
@mark-adams, how do you use `register_algorithm` with the `jwt.contrib` algorithms? When I `python setup.py install`, there is no contrib package in jwt.

[2015-03-26 20:59] johnlockwood-wf commented on #99
this seems to be an issue with the setup.py. It needs to list all the packages like:

    setup(
        name='PyJWT',
        ...
        packages=['jwt', 'jwt.contrib', 'jwt.contrib.algorithms'],

[2015-03-26 21:01] johnlockwood-wf opened #117 "Setup doesn't list contrib.algorithms packages"
This means they don't get installed when someone does `pip install PyJWT` or `python setup.py install`

[2015-03-26 21:10] jpadilla commented on #117
@johnlockwood-wf yeah you're right, just fixed it via 882524d845349df532e2a96b30fbe7e74e6ff55c. Will release a new version in a few minutes.

[2015-03-26 21:10] #117 closed

[2015-03-26 21:30] johnlockwood-wf opened #118 "Exception during sign. 'SHA512' object has no attribute 'oid'"
I created a key pair like so:

Then in the python REPL:

    ...

This raises an exception:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "build/bdist.macosx-10.10-intel/egg/jwt/api.py", line 103, in encode
      File "build/bdist.macosx-10.10-intel/egg/jwt/contrib/algorithms/pycrypto.py", line 44, in sign
      File "site-packages/Crypto/Signature/PK

[2015-03-26 21:51] johnlockwood-wf commented on #118
Okay, this seems to be a problem with PyCrypto 2.6.1, I installed from master on github and the above worked.

[2015-03-26 21:52] johnlockwood-wf commented on #118
Unfortunately PyCrypto 2.6 is what is installed on appengine and this solution won't do it. There must be a way to do it properly the 2.6 way.

[2015-03-26 22:54] johnlockwood-wf commented on #118
If I use SHA to instantiate RSAAlgorithm, encoding with it works:

But at this time, I don't know the implications of SHA vs SHA512 in the new version.

[2015-03-26 22:56] johnlockwood-wf commented on #118
I don't think it makes the same hash.

[2015-03-27 02:17] mark-adams commented on #118
SHA = SHA1 which is not a valid algorithm for JWT. Only SHA256 (*S256), SHA384 (*S384), or SHA512 (*S512).

I tried your example locally and couldn't duplicate the issue. What version of Python are you running?

[2015-03-27 14:57] johnlockwood-wf commented on #118
python 2.7.8, no cryptography package installed, PyCrypto 2.6

[2015-03-27 18:46] johnlockwood-wf commented on #118
ok, this is weird, I made a new virtualenv and installed pycrypto 2.6 and then pyjwt and it worked.

[2015-03-27 18:47] johnlockwood-wf commented on #118
I used pip installs instead of installing from cloned git repos.

[2015-03-27 18:57] johnlockwood-wf commented on #118
PyCrypto just seems to be building badly in this virtualenv, so I'm going to close this. Thanks

[2015-03-27 18:57] #118 closed

[2015-03-27 21:37] kumar303 opened #120 "encode->decode returns: InvalidAudienceError: Invalid audience"
Hi. I keep getting ``InvalidAudienceError`` with the version, ``1.0.1``. Any idea why? When I trace the code, the audience variable is None. I don't see how this can work.

Here's how to reproduce it:

[code]

[2015-03-27 21:49] mark-adams commented on #120
If the `aud` claim on the token is set (on yours it is set to 'some-aud') then decoding MUST specify an expected aud value using the `audience` argument for `decode()` otherwise decoding will fail with an InvalidAudienceError.

Please see: https://github.com/jpadilla/pyjwt#audience-claim

[2015-03-27 22:04] kumar303 commented on #120
Aha, I didn't see that this was part of ``decode()`` now. Yeah, I would always verify the audience in a separate call. Thanks!

[2015-03-27 22:04] #120 closed

[2015-03-27 22:42] kumar303 opened #121 "non-numeric expiration claim does not raise an error"
I would expect a non-numeric expiration claim to raise an error but it does not. To reproduce, here's a JWT with ``{exp: '<not a number>'}``':

[code]

If a signature checking was somehow bypassed, an expiration like this could maybe allow for replay attacks.

[2015-03-27 22:58] mark-adams commented on #121
The spec says: "Its value MUST be a number containing a NumericDate value."

We should definitely fix this. Thanks for reporting.

[2015-03-27 23:21] kumar303 commented on #121
I also noticed the same behavior when you pass in non-numeric ``iat`` values but I don't think that would lead to any replays. If you're in there, might as well fix those too.

[2015-03-29 19:26] #114 closed

[2015-03-29 19:32] #121 closed

[2015-03-29 22:43] mark-adams opened #127 "Add more flexible and complete verification options"
I was thinking that it might be useful for us to implement more flexible verification options.

I propose something like this:

[code]

where options is a dict that looks something like this:
[code]

This is similar to what [ruby-jwt does](https://github.com/progrium/ruby-jwt/blob/master/lib/jwt.rb#L110)
We could make it where options could be specified globally (at the PyJWT object level) or as a

[2015-03-29 23:06] mark-adams commented on #96
I agree @wbolster that there's no reason for us ever to assume we know the content of the `iss` value outside of what's in the spec. Like `jti`, I think anything outside of a simple string match should not be the responsibility of the library to handle.

If someone wants to implement more complicated application specific logic on a claim value, they can either do it in their application or by subc

[2015-04-02 16:52] michaeldavis-wf commented on #117
@jpadilla What is the process for requesting a release?  I would love to be able to take advantage of this fix.

[2015-04-02 17:30] jpadilla commented on #117
@michaeldavis-wf Doesn't v1.0.1 fix this? I just noticed I didn't actually publish the release here on GitHub, but it's published on PyPI.

[2015-04-03 15:31] michaeldavis-wf commented on #117
@jpadilla I didn't realize that I needed to manually register the PyCrypto algorithms.  I am up and going now.  Thanks.

[2015-04-04 12:16] jpadilla commented on #127
@mark-adams yeah I can see how this can be useful. For example that #129 use case could just set `verify_aud` to False.

[2015-04-04 12:16] #96 closed

[2015-04-05 13:15] jpadilla opened #130 "Removing bin/jwt?"
Do we want to keep this around or just remove it? How useful is it really? Are people using it?

[2015-04-05 13:40] mark-adams commented on #130
I didn't even know it was in there until three days ago. I could see how it might be useful but I feel like we might be able to fill the role by incorporating behavior into `python -m jwt` if people really use it.

[2015-04-08 12:43] mark-adams commented on #127
I'll take a look

[2015-04-09 02:18] #127 closed

[2015-04-10 18:19] yellow-beard opened #133 "verify a JWT using a public cert in PEM format."
Sorry for what is probably a very simple question, but I can't figure out how to verify a JWT signed with a public key. I used to have functioning code with 0.4.1, but I can't figure out how to make it work with 1.0.1.

My code looks like this:

    import jwt
    cert_string = "-----BEGIN CERTIFICATE-----\nMIICITCCAYqgAwIBAgIIBEsUSxL..."
    token_string = "eyJhbGciOiJSUzI1NiIsImtpZCI6I..."
    j

[2015-04-10 21:22] yellow-beard commented on #133
Some one provided the solution on SO.

http://stackoverflow.com/a/29569364/443900

[2015-04-10 21:22] #133 closed

[2015-04-10 22:50] mark-adams commented on #133
This is covered in the README under "How can I extract a public / private key from a x509 certificate?"

Thanks!

[2015-04-13 20:04] michaeldavis-wf commented on #127
@mark-adams I know timelines are to be taken with a grain of salt, but do you have a guesstimate on how long 1.1.0 might be?  I would love to be able to pull in the changes from this PR.

If it is going to be too long, would it be possible to cut a 1.0.2 release with the current master?

[2015-04-13 20:12] mark-adams opened #137 "1.1.0 Release"
This is an issue for discussing the 1.1.0 release

https://github.com/jpadilla/pyjwt/milestones/v1.1.0

[2015-04-13 20:14] mark-adams commented on #137
@michaeldavis-wf : Continuing the discussion from #127... it shouldn't be long. Once @jpadilla reviews the remaining PRs and we get the merged; I'll create the release PR.

[2015-04-13 20:15] michaeldavis-wf commented on #137
Sounds good.

Thanks.

[2015-04-13 21:38] yellow-beard commented on #133
thanks @mark-adams and sorry for the hassle. Clearly I didn't put 1 + 1 together.

I think what confused me was:

    When using the RSASSA-PKCS1-v1_5 algorithms, the key argument in both jwt.encode() and jwt.decode() ("secret" in the examples) is expected to be either an RSA public or private key in PEM or SSH format

I took PEM format to mean the raw PEM string. Perhaps the readme could be updat

[2015-04-13 21:42] mark-adams commented on #127
Moved this convo to #137

[2015-04-14 00:40] cilia opened #138 "'iat' claim"
Just noticed something inconsistent in the documentation.

In the `options` overriding example, it lists `verify_iat` field, implying that `iat` claim is supported by the library. However, under section 'Support of registered claim names', it does not list `iat` as a supported claim name.

Some confirmation would be much appreciated. Thanks!

[2015-04-14 01:50] #138 closed

[2015-04-14 01:51] mark-adams commented on #138
The `iat` claim is validated by PyJWT if `verify_iat == True`.

The `iat` will fail validation and raise an exception if the `iat` value is in the future (taking into account the specified leeway for clock skew)

The README has been updated as well. Thanks for letting us know!

[2015-04-14 18:04] #111 closed

[2015-04-15 20:55] jpadilla commented on #137
@mark-adams just released v1.1.0

[2015-04-16 10:35] #137 closed

[2015-04-19 14:43] mark-adams opened #142 "Add support for JSON Web Signature (JWS)"
http://datatracker.ietf.org/doc/draft-ietf-jose-json-web-signature/

[2015-04-19 14:44] mark-adams opened #143 "Add support for JSON Web Encryption (JWE)"
http://datatracker.ietf.org/doc/draft-ietf-jose-json-web-encryption/

[2015-04-19 14:47] mark-adams opened #144 "Add support for JSON Web Key (JWK)"
http://datatracker.ietf.org/doc/draft-ietf-jose-json-web-key/

[2015-04-19 14:47] mark-adams opened #145 "Improve support for JSON Web Algorithm (JWA)"
http://datatracker.ietf.org/doc/draft-ietf-jose-json-web-algorithms/

[2015-04-19 14:49] mark-adams commented on #144
This will cover the fix for #90 as well

[2015-04-19 14:53] mark-adams commented on #90
Since x5c is part of JWK, we'll probably implement this as part of #144 and include this as part of the 2.0.0 since it looks like it'll involve implementing most of JWK.

I don't think its really feasible to implement this separately from our 2.0.0 release so I'm going to go ahead and close this so we can track progress on #144

[2015-04-19 14:53] #90 closed

[2015-04-19 14:54] mark-adams commented on #130
If we have tests for it, I think its not a bad idea to leave it around. I could see it being useful.

[2015-04-20 07:57] osallou opened #146 "ES256 encode(): TypeError: signer() takes exactly 3 arguments (2 given)"
there is an error when using cryptography 0.8.x with ECDSA algo:

  File "/root/shadock/shadock/views.py", line 126, in api2_token
    secret,  algorithm='ES256')
  File "/root/hub-env/lib/python2.7/site-packages/jwt/api.py", line 119, in encode
    signature = alg_obj.sign(signing_input, key)
  File "/root/hub-env/lib/python2.7/site-packages/jwt/algorithms.py", line 233, in sign
    signer = key.

[2015-04-20 13:07] mark-adams commented on #146
Thanks for reporting!

PyJWT does require cryptography >= 0.8.x to use RSA / ECDSA algorithms. That functionality will not work using cryptography 0.7.x.

Regarding your particular issue, we do have an automated test which verifies that ES256 encoding and decoding works properly without raising any exceptions: https://github.com/jpadilla/pyjwt/blob/master/tests/test_api.py#L646 and that test is cu

[2015-04-21 04:54] osallou commented on #146
I had a look at your test, and did not load the key correctly. I will fix and test.
I am surprised however by the error message (be the key correct or not).

Thanks

[2015-04-21 05:29] osallou commented on #146
I fixed my script and try to use the key you have in your test dir (for test) but it fails to unserialize the key:

        with open('/../testkey_ec', 'r') as content_file:
            secret = load_pem_private_key(content_file.read().encode('utf-8'),
                                              password=None, backend=default_backend())

With error:

      File "/root/shadock/shadock/views.py",

[2015-04-21 05:35] osallou commented on #146
My fault!!!  simply ignore sorry!!!!

[2015-04-21 05:35] #146 closed

[2015-04-21 22:49] mark-adams commented on #142
Made some progress with this on #141 . Mostly just splitting out the JWS-logic from the JWT-logic.

[2015-04-22 03:00] cancan101 opened #147 "verify_expiration has been totally removed"
It was here: https://github.com/jpadilla/pyjwt/blob/8f28b4a6124830fcea400668840e645bb91e38a2/jwt/api.py#L184
and now I see no mention of its removal / deprecation any docs, etc.

The only mention I see is:

[2015-04-22 03:07] cancan101 opened #148 "Default value for options in _validate_claims is silly"
There is no reason to specify a default value for `options` in the `_validate_claims` method. A value of `None` will just result in an error.

https://github.com/jpadilla/pyjwt/blob/ddbaf0008eac6559da5ebd1f24f68ee99ccb34b0/jwt/api_jwt.py#L76

[2015-04-22 03:20] mark-adams commented on #148
Great point. Feel free to submit a PR.

[2015-04-22 03:44] mark-adams commented on #147
Yea, it looks like we missed that one. Using `{'verify_expiration': False}` for options should have the same effect. I submitted a PR to fix the README and CHANGELOG.

Thanks for raising the issue!

[2015-04-22 03:45] cancan101 commented on #147
I do not think just adding a note to the docs is the right move.
At the very least the old parameter should be marked as deprecated and converted to the new parameter for at least one version.

[2015-04-22 04:06] mark-adams commented on #147
That's exactly what we did with the `verify` parameter to decode() since we would like to eliminate it at a later point. Our behavior with the deprecation of the verify parameter is very intentional and well documented (both in the CHANGELOG and using warnings)

The removal of `verify_expiration` is certainly something we wanted to do (for the same reasons we want to remove `verify`), but the actu

[2015-04-22 04:09] cancan101 commented on #147
The "few" users include @jpadilla's django-rest-framework-jwt which has not been updated.
Further one of the issues is that the that [`kwargs` is captured and then silently dropped](https://github.com/jpadilla/pyjwt/blob/ddbaf0008eac6559da5ebd1f24f68ee99ccb34b0/jwt/api_jwt.py#L76) which is annoying when debugging / dealing with mispelled params.

[2015-04-22 04:11] mark-adams commented on #147
Now I definitely agree with you there, I don't like our usage of **kwargs currently and I think that's something we should remove in a future release.

I'm sure @jpadilla would probably agree that django-rest-framework-jwt should be updated as well :-)

[2015-04-22 04:12] cancan101 commented on #147
Sure, and I filed this: https://github.com/GetBlimp/django-rest-framework-jwt/issues/103 but I don't think that a breaking API change should just be left out there. I'm not sure how true to http://semver.org/ you aim to be, but we still can fix the breaking API change.

[2015-04-22 04:17] mark-adams commented on #147
@cancan101 Good point. You've won me over. I don't feel that strongly about it. :+1:

If you'd like to make a PR adding the parameter back and introducing some tests as well as deprecation warnings, please go ahead. If not, I'll probably do Friday or Saturday and then we can make another release this weekend.

[2015-04-23 14:53] cancan101 opened #150 "Asymmetric leeways"
Does it make sense to have two leeways, one for validating expiration and the other for validating "not yet valid" / "in the future". (They would default to be being the same if only one is specified.)

The idea here is that the leeways mean slightly different the things. The latter can come up if there is clock skew between issuer and validator. The former is clock skew + any time of queuing or p

[2015-04-23 20:29] shea256 opened #151 "ES256 not supported?"
Hey guys!

For some reason I'm no longer able to get ES256 to work, but it was working for me earlier.

Here's the code:

[code]

And it yields the following error:

*(for reference, I have version 1.1.0 installed)*

Was support for ES256 discontinued? Am I doing something wrong?

Thanks!

[2015-04-24 01:56] mark-adams commented on #151
Previously, PyCrypto was required for RSA and ecdsa was required for EC algorithms. Back in December, we switched to using `cryptography` instead of those libraries because it provided both sets of algorithms (RSA and EC) in a single library and also had better performance.

Please make sure you have installed `cryptography` by running `pip install cryptography` and you should be also set. (You al

[2015-04-24 01:56] #151 closed

[2015-04-24 03:48] shea256 commented on #151
Cryptography does not support secp256k1 (the curve that bitcoin uses). I
submitted an issue and requested it be added and they are currently
considering.

What version required and used ecdsa for ec algorithms? I will probably
switch to that one.

On Thursday, April 23, 2015, Mark Adams <notifications@github.com> wrote:

--

*RYAN SHEA*   *CO-FOUNDER, ONENAME*

*onename.com/ryanshea <http://onenam

[2015-04-24 13:25] mark-adams commented on #151
@shea256,

PyJWT will work fine with both `cryptography` and `ecdsa` installed if you need to use `ecdsa` for other purposes (bitcoin, etc.). You are not required to uninstall it. Its just reccomended if that's the only reason you have it.

[2015-04-24 16:29] shea256 commented on #151
Hm. Let me clarify. As you can see above, I used ECDSA for generating PEMs, but PyJWT simply won't accept them.

[2015-04-24 22:07] mark-adams commented on #151
Thanks for clarifying!

Back in December, we switched from using `ecdsa` to `cryptography` for performing the signing and verification of tokens using EC algorithms. That means for all releases since December, if `cryptography` was not installed, you would receive a `NotImplementedError('Algorithm not supported')`

In order to use EC algorithms with PyJWT, you need to run `pip install cryptography

[2015-04-24 22:18] shea256 commented on #151
Mark I don't think we're understanding each other.

I have both cryptography and ecdsa installed and have always had both installed.

[2015-04-24 22:19] shea256 commented on #151
Can you please look at my code above and see if you can run it? Maybe that will help us get on the same page.

[2015-04-24 22:23] shea256 commented on #151
And strangely it's working for me again. I honestly have no idea what happened (my `pip freeze` is the same as it was before).

[2015-04-26 15:44] lucacorti commented on #147
As a temporary workaround, is it possible to downgrade to PyJWT 1.0.1 to disable expiration verification with djangorestramework-jwt? Any security issue with that?

ATM I'm stuck with disabling verification altogether, which is obviously not good.

[2015-04-28 15:10] dresiu commented on #130
Maybe it can be useful, but it destroy my interpreter because if I want to import jwt and for example decode function, it says that "AttributeError: 'module' object has no attribute 'decode'" because te Scripts dir (on Windows) is before site-packages in paths. It could be renamed.

[2015-05-04 23:33] jcarizza commented on #148
A silly easy solution is set `options={}` to avoid AttributeError :P. But, by what i see `options` argument always recibe a dict object.

[2015-05-05 00:26] mark-adams commented on #147
This was fixed in the [v1.2 release](https://github.com/jpadilla/pyjwt/blob/master/CHANGELOG.md#v120)

Please upgrade.

[2015-05-05 00:26] #147 closed

[2015-05-05 02:48] #148 closed

[2015-05-08 13:33] mark-adams opened #155 "Allow for the retrieval of unverified header values"
@skion commented on #70 that it might be useful to have a way to parse out the unverified header parameters in the library prior to validating the entire JWT so that, for instance, a key could be looked up using the kid (until we get JWK support completed in 2.0)

We probably should create a jwt.utils function called `get_unverified_header()` or something like that.

[2015-05-13 02:26] #155 closed

[2015-05-19 15:27] mark-adams opened #162 "Resolve issues with RSA-PSS test vector test"
I added verified test vectors for verifying HMAC, RSA, EC, and RSA-PSS signatures in #160 so that we could verify our implementation of EC and the fix in #158 worked properly.

However, the test I introduced for RSA-PSS is not working properly. I am uncertain if this is related to my test or related to our implementation of RSA-PSS being broken.

[2015-05-19 15:27] mark-adams commented on #162
@jpadilla We probably should hold off on releasing the EC fix until this has been resolved.

[2015-05-22 15:18] #162 closed

[2015-05-30 11:54] maksbotan opened #165 "Please remove python cache files from release tarball"
At least version 1.3.0 tarball contains following files:

[code]

Please don't include them in latter releases.

[2015-05-30 14:24] #165 closed

[2015-05-30 14:25] jpadilla commented on #165
@maksbotan good catch, fe1ee72 should take care of that.

[2015-06-03 19:09] peter-conalgo opened #167 "Bad token can generate KeyError in _verify_signature"
Little thing: if the header is invalid and does not contain "alg" key, a KeyError occurs.

Example with an empty ({}) header area:

[code]

[2015-06-03 20:27] jpadilla commented on #167
@peter-conalgo thanks!

@mark-adams how about raising `InvalidAlgorithmError` in this case as well?

[2015-06-04 01:47] mark-adams commented on #167
That sounds reasonable to me. Forgetting to put algorithm in your header definitely seems to fit within the confines of being an invalid algorithm :+1:

[2015-06-04 13:30] jpadilla commented on #167
@peter-conalgo want to put a PR together to fix this? If not I'll get around to it later this week.

[2015-06-05 03:41] cica-doug opened #168 "ECDSA compatibility broken between Ruby's JWT implementation and PyJWT"
I've got some code that receives ECDSA signed JWTs and upon upgrading to PyJWT 1.3.0 users submitting JWT's created with Ruby's JWT library (https://github.com/progrium/ruby-jwt) no longer appear valid. I get the following error: "DecodeError: Signature verification failed". Not sure if this is expected behavior as a result of #158 or if there could possibly be a compatibility flag added?

[2015-06-06 02:13] mark-adams commented on #168
I think you're right. This appears to be the result of our fix in #158. I've [filed a bug with ruby-jwt](https://github.com/progrium/ruby-jwt/issues/84) so that they can fix their implementation as well. Thanks for contributing! :smile:

[2015-06-12 16:26] jpadilla opened #170 "Use twine for publishing"
https://github.com/pypa/twine

[2015-06-14 23:57] mark-adams commented on #168
This has been fixed via [an update to ruby-jwt](https://github.com/progrium/ruby-jwt/pull/87)

[2015-06-14 23:57] #168 closed

[2015-06-16 01:49] jpadilla commented on #168
@mark-adams thanks following up!

[2015-06-23 10:30] #167 closed

[2015-07-15 09:00] zhongyu211 opened #172 "why jwt would generate different token between python 3.4.x and python2.7.x"
Hi ,

Thanks for you develop such a wonderful lib.
Here I encountered a problem when using jwt, i notice the same code in python2.7 and python3.4 would generate a different result token, and I check the .net wersion jwt also generate the same token as the python3, because we just developing sso fuction in python2.7 django, could you share me how I can get the same token like python3.0 when using p

[2015-07-15 18:18] hodgesmr opened #173 "Ignores options when installed via pip"
When I run from source, everything seems to be working properly. However, when installing from pip, I'm seeing unexpected behavior around the `options` param:

[code]

[2015-07-15 18:22] hodgesmr commented on #173
I now see this looks like it was added in #166 which isn't part of a current release?

[2015-07-15 23:52] mark-adams commented on #172
There is no guarantee that the dictionaries will order keys in the same fashion across Python versions. In your case, it looks like the order is different resulting in a different token.

Example:
[code]

You can see here that if we decode the header part of the JWT to the resulting string, we have equivalent but different JSON. In both cases the token will still verify properly and you shouldn't

[2015-07-17 01:38] jpadilla commented on #173
Just released v1.4.0

[2015-07-17 01:38] #173 closed

[2015-07-18 02:33] mark-adams commented on #172
I'm resolving this. Feel free to re-open if that doesn't answer your question.

[2015-07-18 02:33] #172 closed

[2015-07-19 14:14] zhongyu211 commented on #172
Get you point, thanks for your effort and timely response.

[2015-07-29 22:38] breser opened #177 "Doesn't respect prefix install option."

[2015-07-29 23:07] breser commented on #177
Maybe doesn't matter.  pip --target seems to work fine.

[2015-08-23 21:17] bjmc commented on #144
I'm interested in this feature to use with Google's OpenIDConnect implementation, e.g. https://www.googleapis.com/oauth2/v3/certs

Is anyone working on this already, or should I go ahead and start a branch? Any tips for how you'd like to see this implemented?

[2015-09-18 01:46] mhahn commented on #143
would love to see this

[2015-10-07 09:17] mbultrow opened #179 "pytest-runner in test_requires and setup_requires"
I'm having problems with distributing my app to an offline environment because of pytest-runner in setup_requires.
I doesn't seem like pytest is necessary for installation itself, so I don't want to be forced to package it with my application.

Can you just remove the reference, or am I missing something?

[2015-10-07 15:26] mbultrow commented on #179
Wow, I see that there's already a fix waiting - nice!
I've also found [this interesting statement](http://stackoverflow.com/a/27789623), that setup_requires is really kind of incompatible with pip. Is it necessary at all in PyJWT's case?

[2015-10-09 11:58] wsw70 opened #181 "RSA256 not supported despite having cryptography (was: pycrypto) installed"
Python 3.2.3 on a RPi (`Linux raspberrypi 3.18.11+ #781 PREEMPT Tue Apr 21 18:02:18 BST 2015 armv6l GNU/Linux`).

PyCrypto is installed:

[code]

`python3-dev` and `python3-crypto` are installed as well. Note: the same issue is present whether either of `pycrypto` or `python3-crypto` are installed, or both, or neither.

The following call crashes with an unsupported algorithm:

`myjwt = jwt.encode

[2015-10-09 15:45] mark-adams commented on #181
Thanks for reporting @wsw70.

One small thing first. You don't need to include the `headers` value in your call. Those headers will be automatically populated by PyJWT when it is creating the token. The `headers` parameter is for adding additional header parameters besides just those required by the spec.

Regarding your actual issue... some time ago we switched to using `cryptography` as the pref

[2015-10-09 18:34] mark-adams commented on #179
Hmmm... I'm not sure where they're getting that from.

I just ran "pip install pyjwt" on a clean install and got the following:

[code]

Looks like it doesn't install pytest-runner as that post would suggest.

[2015-10-09 19:24] #179 closed

[2015-10-09 19:44] wsw70 commented on #181
Thank you for the clear answer, I will go for `cryptography` and fallback to the legacy support if there are problems.

[2015-10-15 06:43] mbultrow commented on #179
Sorry for not responding quickly, I was on vacation (those happen), but this needs to be reopened.
Pip install doesn't install pytest-runner, but wants it to run it's egg_info.

To reproduce my problem do this:
[code]

I've worked around it by using PyJWT's wheel, but that forced me to separate my requirements files, because I need some of dependencies (like cryptography) in source form to be mult

[2015-10-22 10:47] guyskk opened #183 "jwt.decode(None) causeAttributeError: 'NoneType' object has no attribute 'rsplit'"
[code]

It should raise jwt.InvalidTokenError.

[2015-10-22 16:07] maoaiz commented on #183
I have the same issue.

I think the solution is here: https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jws.py#L135

Change the lines 135 and 136 to:

    if not isinstance(jwt, text_type):
        raise DecodeError('Invalid token')

    jwt = jwt.encode('utf-8')

[2015-10-23 10:50] CasperCLD opened #185 "Failure at decoding: TypeError: ord() expected string of length 1, but int found"
I've installed: python3-dev, libffi-dev, PyJWT and cryptography. I'm using a virtual environment.
See stack trace:

[code]

Am I doing something wrong?
OS: Rasbian (latest 2015-09-24)

[2015-10-23 13:21] mark-adams commented on #185
This is happening because PyJWT is not supported on Python 3.2. That version of Python has some weird quirks and since `cryptography` doesn't support it either, we decided to stop supporting it beginning with 1.3.0.

I'd recommend that you upgrade to Python 3.3 or later.

[2015-10-23 13:21] #185 closed

[2015-10-23 13:22] CasperCLD commented on #185
Ah all right, thanks.

[2015-10-23 23:02] #183 closed

[2015-10-23 23:12] mark-adams commented on #177
I wasn't able to duplicate this on my end.

[code]

[2015-11-17 22:34] gobengo opened #190 "Why validate that 'iat' is not in the future?"
In https://github.com/jpadilla/pyjwt/blob/c5ee34e86bc42bef60ef6e701df569c2c86a5d5d/jwt/api_jwt.py#L129:

[code]

I just debugged an issue in prod where `jwt.decode()` failed because of this. Mostly because the other party's jwt lib added 'iat' a few seconds or minutes ahead of our clock time ('clock skew' as mentioned in JWT specs).

I can't find any place in the specs that says that a JWT should

[2015-11-17 22:36] soldnermike commented on #190
+1

[2015-11-17 22:41] gobengo commented on #138
See #190 . Where did y'all get the rule to validate that iat is not in the future?

[2015-11-18 03:24] mark-adams commented on #190
RFC 7519 says:

In all circumstances except clock skew, it doesn't seem like it makes any sense for a JWT to be valid if, by its own claim, it hasn't been created yet. That's why we included this validation. JWT doesn't say you have to have this validation to be compliant, but it seems logical and enforces integrity in the data.

I'm against removing this validation, especially when you can alread

[2015-11-18 08:54] gobengo commented on #190
In all circumstances except clock skew

Clock skew is mentioned as twice in that RFC because it's unavoidable in federated distributed systems. It's not like that's not an important circumstance.

So should I fork pyjwt and make my another version that is only spec-compliant and doesn't include any extrastandard assertions that seem like they make sense but aren't in the RFC?

If you think the sta

[2015-11-19 00:57] mark-adams commented on #190
Thanks for the PR! Just a reminder, instead of having to fork and package your own version of PyJWT, which seems a bit like overkill, you can totally bypass the check (exactly what your PR does), if you simply pass `options={'verify_iat': False}` to your jwt.decode() call with the existing code.

I don't know what @jpadilla thinks but I don't support the idea of removing this check. If anything, d

[2015-11-19 14:49] jpadilla commented on #190
I'm with @mark-adams here. Setting `options={'verify_iat': False}` achieves the same as #191. I'm not sure about setting it to `False` by default though.

[2015-11-25 16:19] petevg commented on #190
Hi there. Since the iat check introduces a situation where the a default install of PyJWT will break in typical production circumstances (or, if you're lucky, in testing, which is what happened to me), I'd like to second the request to set verify_iat to False by default. I don't think that it's reasonable to expect any two servers to have a shared definition of "now", or to make strict checks base

[2015-11-25 17:33] mark-adams commented on #190
Thanks petevg! Glad you enjoy it! :-)

A  couple of things in response:

How can it be unreasonable to assume two computers have a similar definition of when "now" is? We make these sort of assumptions all the time in all sorts of systems (public-key certificates used for HTTPS, EXP claims on JWT, TOTP-based two-factor authentication, etc.). I think it is completely reasonable, in particular when

[2015-11-25 19:32] petevg commented on #190
@mark-adams: Thanks for the quick response!

I think that the lightest weight change might simply to be to adjust the leeway to be something other than zero by default, and add it as an explicit param to PyJWT.decode, so that it's easy to find it with introspection tools or in the docstring for that function. As it is, I think that it's going to be pretty common for people to trip themselves up wi

[2015-11-25 20:58] gobengo commented on #190
I updated my PR. See explanation: https://github.com/jpadilla/pyjwt/pull/191#issuecomment-159730073

[2016-01-12 11:05] tgermain opened #193 "Doc issue : cannot get private key from a certificat"
In the FAQ, the doc says :

[code]

`public_key = cert_obj.public_key()` is perfectly legit and documented in cryptography.

On the other hand, `private_key = cert_obj.private_key()` does not exist, at least with cryptography 1.0.1. (I did not check older versions of cryptography).
Also I thought the private key was not present in an x509 certificate.

To get the private key you can use :

[code]

[2016-01-12 11:19] tld commented on #193
The private key is never present in the certificate, but it is possible to throw them into the same file (or string in this case).  That could also be the reason that .private_key() doesn't exist (no private key found in cert), but I don't know for sure.

[2016-01-14 12:25] foxx opened #194 "JTI header support"
It seems that there is no official support for a `JTI` header. Are there any plans to add this? Couldn't seem to find any other related issues or PRs.

[2016-01-16 17:09] mark-adams commented on #194
Hi @foxx,

I'm assuming that you're referring to the [JTI claim](https://tools.ietf.org/html/rfc7519#section-4.1.7) that can be used to provide a unique identifier for the JWT in order to prevent replay attacks?

Nothing PyJWT will stop you from using this header if you want to. However, by definition, this header requires you to keep track of previously seen JTIs in order to be useful, its usage

[2016-01-16 18:44] foxx commented on #194
Thank you for the details reply @mark-adams, I was slightly thrown off by the [docs][1] stating that PyJWT supported a set of registered claims (which did not include JTI), but I understand now why `JTI` isn't shown as supported, even though PyJWT allows any payload/header keys. Sorry for the wasted time on this!

[2016-01-16 18:44] #194 closed

[2016-01-18 08:29] Seraf commented on #144
Hello,

I also need this feature, is there any work done on it yet ?

[2016-01-18 15:31] mark-adams commented on #144
Not yet, the plan is to begin doing work on this against the 2.0-develop branch.

[2016-02-14 06:28] chrismbeckett opened #198 "Why can't I decode this token?"
I go to this site and generate a token:

http://jwtbuilder.jamiekurtz.com/

I go to this site and verify it works and signature is valid:

http://jwt.io/

I try to decode with this library and I get 'signature verification failed'.

[2016-02-14 13:11] mark-adams commented on #198
Hi @chrismbeckett,

Thanks for reaching out. I'm able to decode the token without issue:

[code]

You may be running into trouble with the `audience=` claim. PyJWT validates the `aud` claim in the token against the `audience=` arg to `jwt.decode()`. If you do not specify an `audience=` argument and an `aud` claim is found, you will receive a `jwt.exceptions.InvalidAudienceError` when running `deco

[2016-02-16 11:37] chrismbeckett commented on #198
Thanks for the response. I should be able to get back to this and try out your suggestions today or tomorrow. One note however, is that the error I am getting does say 'signature verification failed'. I am guessing now that is a catch-all for anything wrong with the token?

[2016-02-16 12:34] mark-adams commented on #198
Good point! DecodeError('Signature verificiation failed') indicates that one of three scenarios has taken place:

1. The claimset inside the token has been modified so the signature fails to verify
2. The signature inside the token has been modified so the signature fails to verify
3. The wrong key (or no key) is being passed to jwt.decode()

I'd take a look at those and see if any apply.  Most li

[2016-02-17 11:12] dukedougal commented on #151
It would be good if the error suggested that the problem might be that "cryptography" is now needed instead of PyCrypto.

[2016-02-18 22:35] iiSeymour commented on #144
JWK is something I'd like to see in PyJWT :+1:

[2016-02-19 03:10] chrismbeckett commented on #198
Added the audience parameter as you suggested but still getting the error:

[code]

My error log shows:

[code]

[2016-02-19 03:54] chrismbeckett commented on #198
Ok, this worked:

[code]

[2016-02-19 07:23] chrismbeckett commented on #198
I spoke too soon. I moved to another fresh VM to prepare for a deploy and now the same problem is back, even with the addition of the options to ignore audience. Seriously, I have been at this for hours, there has to be a dependency missing, or something that can cause this?

[2016-02-19 17:50] chrismbeckett commented on #198
I got it to work with python-jose.

[2016-02-19 17:50] #198 closed

[2016-02-19 17:51] mark-adams commented on #198
Hi Chris! That seems really strange. Would you mind pasting a complete example token and secret that are giving you trouble so we can confirm the issue?

Thanks!

[2016-02-26 22:28] cblair commented on #181
Legacy fix fixed for me as well.

[2016-03-07 13:50] jakubczaplicki opened #200 "Critical vulnerabilities in JSON Web Token libraries"
Have this vulnerability : "[Critical vulnerabilities in JSON Web Token libraries](https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/)" been addressed ? If so which commits have fixed it ?

[2016-03-07 15:23] jpadilla commented on #200
Yup. https://github.com/jpadilla/pyjwt/releases/tag/1.0.0

[2016-03-07 15:23] #200 closed

[2016-03-12 19:48] muhammad-meraj commented on #181
@mark-adams , Thanks, your answer fix my problem as well.

[2016-04-27 18:50] clintonb commented on #144
@mark-adams is there a timeframe for the release of this work and v2.0?

[2016-05-18 10:09] tarzanjw opened #204 "Does PyJWT cache the RSA public key loading?"
I have a RSA public key in PEM format, should I load it into RSA key and pass it to `jwt.decode` to avoid key parsing many times? Or just pass the string value and PyJWT has cached it already?

[2016-05-26 03:49] jpadilla commented on #144
Anyone interested in this should take a look at #202

[2016-06-01 13:58] jobec opened #205 "Allow a list of valid audiences to be configured"
A JWT token can contain multiple audiences.

But, it would be nice if you could also specify a list of valid audiences for `audience` in `jwt.decode()`.

Example:

[code]

[2016-06-22 20:33] shamdan opened #206 "TypeError in compat.py with Python 3.2.5"
File "/usr/local/site-packages/jwt/api_jwt.py", line 64, in decode
    options, **kwargs)
    File "/usr/local/site-packages/jwt/api_jws.py", line 115, in decode
    key, algorithms)
    File "/usr/local/site-packages/jwt/api_jws.py", line 177, in _verify_signature
    if not alg_obj.verify(signing_input, key, signature):
    File "/usr/local/site-packages/jwt/algorithms.py", line 138, in verify

[2016-06-22 22:36] jpadilla commented on #206
We're not testing against pypy, so I'm not sure what our support for it might be. A pull request adding those to Tox/Travis is welcome. We can see how to move forward from there.

[2016-06-23 17:32] shamdan commented on #206
I ended up upgrading pypy version which now supports Python 3.3. Thanks

[2016-06-30 02:38] lapinvert opened #207 "Can we force reading expired JWT without throwing "signature has expired" error ?"
When client send me an expired JWT in my REST API "refresh token" endpoint, I need to read JWT to know if it is valid, and verify some value in the claim before I accept to reissue a new JWT.

However I can't even process it because of the "signature has expired" error raised before I can.

Is there any solution you would advice me ?

[2016-06-30 04:11] jpadilla commented on #207
You can do something like:

[code]

or better yet

[code]

[2016-06-30 04:11] #207 closed

[2016-06-30 05:35] kevart opened #208 "RS256 supported?"
`encoded = jwt.encode(payload, 'secret', algorithm='RS256')`

NotImplementedError: Algorithm not supported

PyJWT==1.4.0

[2016-07-01 01:21] jpadilla commented on #208
You'll need to install `cryptography`. [Docs](https://pyjwt.readthedocs.io/en/latest/installation.html#cryptographic-dependencies-optional).

[2016-07-01 01:21] #208 closed

[2016-07-01 10:44] lapinvert commented on #207
Thank you so much !

[2016-07-04 07:07] kevart commented on #82
Should this be fixed? I am getting the same error:

`ValueError: Could not unserialize key data.`

Following packages installed:

PyJWT==1.4.0
cryptography==1.4

Running:

`encoded = jwt.encode({'some': 'payload'}, 'secret', algorithm='RS256')`

[2016-07-04 07:52] kevart commented on #208
_NotImplementedError_ is confusing here. It is implemented, just needs another dependency.

[2016-07-04 19:46] mark-adams commented on #82
@kevart You must use an actual RSA key as the `secret=` argument. When the algorithm is specified as `'RS256'`, PyJWT tries to convert the argument into a `crytography` RSA key object. If the value you are passing in is not an RSA key, you'll receive a `ValueErrro`.

In your case, if you're literally using the string `'secret'` as the value, it won't work because the word `'secret'` is not a valid

[2016-07-04 19:48] mark-adams commented on #208
Possibly. If you look at the implementation, when the dependency is not installed, the code related to RSA is literally not executed so `NotImplementedError` is actual true because PyJWT does not have any idea what RS256 is or how to sign / verify a JWT with it unless you actually have the `cryptography` library installed.

As @jpadilla pointed out, I think this is ok since its explicitly stated i

[2016-07-05 07:11] kevart commented on #82
Thanks for the explanation. I would recommend to indicate this in the [example](https://github.com/jpadilla/pyjwt#usage), e.g. sth. like:

`encoded = jwt.encode({'header': '<jwt header>', 'claim_set': '<jwt claim set>'}, '<rsa key>', algorithm='HS256')`

[2016-07-05 13:22] #206 closed

[2016-07-11 10:41] OJFord opened #209 "ExpiredSignatureError when `now < exp < utcnow`"
I'm not really sure what's going on here, but if I decode without verifying the `exp` field is quite clearly greater than current UTC:

[code]

Though it does verify if I freeze time to some time in the past:

[code]

All that I can think is that it may be because the expiry is less than 'actual' time, which is BST (UTC+1), and non-UTC system time is slipping through some how. This issue occurs on

[2016-07-12 16:11] senyorails opened #210 "NotImplementedError thrown for RS256 algorithms"
//sample line of code to reproduce

[2016-07-13 01:45] guyskk opened #211 "Can this lib release frequently?"
The bug fixed 8 months ago:  https://github.com/jpadilla/pyjwt/issues/183
but this lib didn't released since v1.4.0 on Jul 17, 2015, it's difficult to understanding.

Can this lib release frequently, other than 1~2 releases pre year?

[2016-07-13 02:16] mark-adams commented on #210
In order to use RS256, you need to have the `cryptography` package installed per the documentation.

`pip install cryptography`

[2016-07-22 17:16] bjmc commented on #144
In case anyone else needs this feature, it is supported in https://github.com/mpdavis/python-jose/

[2016-07-25 09:41] DylanVerstraete commented on #82
@buzzrick I'm getting `initializer for ctype 'char' must be a bytes of length 1, not int`
when using
[code]

[2016-07-27 18:19] natoinet opened #212 "Invalid JWT for Google Server to Server Applications"
When generating the jwt for [Google Server to Server Applications](https://developers.google.com/api-client-library/python/auth/service-accounts) then testing it with curl -d, I receive: _Invalid JWT: Token must be a short-lived token and in a reasonable timeframe_.

The code:

    b'PYJWT_RESULT_HERE'

Then, as stated in Google documentation, I run curl in bash and paste the previous result:

[2016-07-28 11:14] natoinet commented on #212
The problem was in the timestamp generation. Following pyjwt docs and using calendar.timegm, it works with the following:

[2016-07-28 11:15] #212 closed

[2016-07-31 17:22] wsw70 commented on #181
**TL;DR:** **do not make my mistake, do not install PyJWT via the OS package manager. In other words RTFM which tells to install vi a`pip` :)**

I still kept below the story of my bumpy journey, just in case I am back here again

---

I needed to install my script on another machine (the current one was working fine, honestly I do not remember how I managed to make it swallow the RS256 algorithm b

[2016-08-07 18:32] mark-adams commented on #210
@senyorails Since this hasn't been updated in almost a month, I'm closing it.

[2016-08-07 18:32] #210 closed

[2016-08-07 18:34] mark-adams commented on #204
@tarzanjw Currently, we don't cache the parsed key, however... if you parse the key yourself using `RSAAlgorithm.prepare_key()`, you can reuse that result as an argument to `jwt.encode()` and avoid having to reparse.

Generally, parsing should be pretty quick though since `cryptography` uses OpenSSL.

[2016-08-07 18:34] #204 closed

[2016-08-07 18:37] mark-adams commented on #205
I think the reason this wasn't implemented originally was based primarily on the typical use case.

For instance, a normal JWT use case is for an identity provider (the issuer) to issue a token to a user that is valid for service A, service B, and service C. When service A receives a request containing the token, it doesn't care about whether or not service B or service C are in the list, only tha

[2016-08-08 13:50] mark-adams opened #215 "Bugfix release: 1.4.2"
@jpadilla Can we do a bugfix release?

[2016-08-08 18:43] jpadilla commented on #215
@mark-adams sure thing, want to bump up versions and tags? I'll publish to PyPI soon after

[2016-08-08 19:43] mark-adams commented on #215
@jpadilla Its done: https://github.com/jpadilla/pyjwt/releases/tag/1.4.2

[2016-08-08 20:12] jpadilla commented on #215
@mark-adams just published v1.4.2, thanks again for all the hard work. Yeah, good catch regarding our changelog. Haven seen `pbr` yet, got a link to a project that uses it?

[2016-08-08 20:12] #215 closed

[2016-08-14 02:24] tarzanjw commented on #204
Thanks for reply

[2016-08-25 13:43] jpadilla commented on #144
Calling on @clintonb @iiSeymour @seraf and anyone else interested in JWK support to check out #202

[2016-08-27 12:23] wsw70 commented on #181
@mark-adams

I started from a fresh install of Windows (python 3.5), installed `cryptography` as you suggested (it is now statically linked so the install is a breeze on Windows, no need for a compiler anymore) but the issue stayed (I installed `pyJWT` via `pip` earlier).

Is there anything special I need to do in order to decal re this algorithm to `pyJWT`?

[2016-09-04 02:38] aventurella opened #217 "Should 'verify=False' during decode also imply _validate_claims?"
When decoding the token, `verify` here ensures the signature passes:
https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jwt.py#L63

However weather or not we want the signature verified spills over into weather or not we want the claims verified.

https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jwt.py#L73

The 2 use cases to me seem like distinct options, aka bypass the signature verifica

[2016-09-12 02:42] guyskk commented on #211
Thanks, v1.4.2 released for some time, it solved my problem.

[2016-09-12 02:42] #211 closed

[2016-09-22 18:44] AndrewJHart commented on #205
I actually agree with @jobec because in our instance - using JWT for oauth - we have 2 different audiences. One audience is a single page app that once authenticates with users service has a unique client_id & audience. But, if a service needs to communicate with another service - when it makes a request to the users service it will have a different audience/client_id. Therefore, since we can only

[2016-09-27 16:16] ysgard commented on #179
This bug has bit me too.  It's bothersome because even if you provide pytest-runner on an internal pip server,  PyJWT ignores it and tries to install pytest-runner from the internet.

Thanks @mbultrow for the suggestion about separate requirements files for pre-installing deps - that seems like a decent workaround.

[2016-10-09 08:55] adityosnrost opened #222 "JWT using RSA"
Hi, I am trying to use JWT in my web service. I would like to use RSA encryption / Public-Key encryption. So far this is what I have tried:

![image](https://cloud.githubusercontent.com/assets/8223156/19219259/94f8f82a-8e38-11e6-9db2-c45a91efa519.png)

But, I got this error:
![image](https://cloud.githubusercontent.com/assets/8223156/19219266/c0769c28-8e38-11e6-9afb-d21de629bcb8.png)

Is there any

[2016-10-09 09:27] adityosnrost commented on #222
Sorry for this issue, I think there is problem with generating with PyCrypto. In this new example, I am using cryptography lib and success:

![image](https://cloud.githubusercontent.com/assets/8223156/19219414/10da5dea-8e3d-11e6-9d34-d5b50cf6bacc.png)

If anyone can help me with the first one is going to be a great lesson for me, for now I am using the solution above, but I like to hear other opin

[2016-10-09 09:27] #222 closed

[2016-10-11 14:58] jomag opened #223 "False positive decode"
Hi

I have this problem where a test every now and then get a false positive decode of a JWT token. In the test I take a valid token and replace the last character with 'x' (making sure that the last character was not already 'x').

Here's an example where two different data sets are successfully decoded:

[code]

In this example the correct token is the first one, which ends with 'w'.

Is this ex

[2016-10-11 20:57] jomag commented on #223
I've tested with the tools at http://jwt.io as well with same result, so this is most likely not a problem.

[2016-10-11 20:57] #223 closed

[2016-10-24 10:45] huzhenjie opened #224 "'module' object has no attribute 'decode'"
[code]

[2016-10-24 18:28] mark-adams commented on #224
Do you by any chance have a `jwt` directory or a `jwt.py` file in your PYTHONPATH anywhere? These can override the `jwt` import and cause this problem.

An easy way to check would be to give us the output you see when you run:

[code]

[2016-10-24 18:54] #130 closed

[2016-10-25 03:20] #224 closed

[2016-10-25 18:17] mark-adams commented on #224
Is there any chance your project contains a folder called "jwt"? If so,
Python will import that module instead.

You could also check this by seeing what the value of jwt.__file__ is.

On Mon, Oct 24, 2016, 05:45 Scrat <notifications@github.com> wrote:

[2016-10-26 13:12] huzhenjie opened #226 "No matching distribution found for PyJWT"
[code]

[2016-11-03 15:33] wikier opened #227 "Encoded invalid token"
Just using what the documentation says:

    jwt.encode(claims, secret, algorithm='HS256')

I'm getting a token (e.g., `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3NGEyOTE5YS1hMjJmLTQ0ODgtOTdhNy1hYmQ0N2NmY2YxNmEiLCJleHAiOjE0NzgxOTA2MjksImlhdCI6MTQ3ODE4NzAyOX0.gatn1McpR_68n3HM-Klbn2iedwHEK8JxY9yUfHj6y70`) that according [jwt.io](https://jwt.io/) has a `Invalid Signature`.

Am I doing anything

[2016-11-03 15:35] wikier commented on #226
For me both worked:

[code]

[code]

[2016-11-04 03:43] #226 closed

[2016-11-07 10:10] wikier commented on #227
Could be that I'm already providing a base64-encoded secret?

[2016-11-07 10:19] wikier commented on #227
Yes, that was!

So I had to manually do:

    jwt.encode(claims, base64.b64decode(secret), algorithm='HS256')

So it'd be good to:

1. Properly document the secret can't be already encoded
2. Provide a flag to tell `encode()` secret doesn't need to be encoded

Thanks!

[2016-11-07 10:19] #227 closed

[2016-11-15 02:13] Vic020 opened #228 "1000 Stars"
Congratulation

[2016-11-15 02:14] luzhongqiu opened #229 "999 star mark"
mark

[2016-11-15 02:14] #229 closed

[2016-11-15 02:14] luzhongqiu commented on #228
999

[2016-11-16 03:24] #228 closed

[2016-11-16 03:24] jpadilla commented on #228
Thanks

[2016-11-22 16:14] ashb commented on #142
Has there been anymore progress on this?

I might attempt this in December (I make no promises, but I need a JWS solution for a Django project I'm working on) and I was wondering if there's been any thought to structure/arch/layout? Any estimates as to how much work it would be?

If this is going to be releases as v2 do we need to worry about keeping backcompat? Or just keep it where sensible but

[2016-11-22 17:18] wilderhernandezgarcia commented on #82
from signxml import *
from xml.etree  import ElementTree
import base64
from lxml import etree

Good day to all friends, I want to convert .pen to base64 and I sell the following error, thanks for the help

codigo:

# Send File
f = open('/home/carlos/invoice/certifica/20600995805-01-FF11-00000027.xml', 'rb')
xml_content = f.read()
cert = open('/home/carlos/invoice/certifica/CERTIFICADO.pem').read()

[2016-11-27 05:27] nv2908 opened #230 "Is algorithm 'RS256' working"
Is 'RS256' algorithm working? Giving 'Algorithm not supported' exception.

[2016-11-27 05:32] vimalloc commented on #230
Looks like you might need another dependency installed to use that RS256: https://github.com/jpadilla/pyjwt/issues/210

[2016-11-27 05:41] nv2908 commented on #230
It worked. Thanks

[2016-11-27 05:41] #230 closed

[2016-11-28 13:27] jpadilla commented on #230
I've seen many people getting tripped by this. We should definitely improve error message here to suggest installing missing dependencies for those algorithms. Anyone want to tackle this?

[2016-11-28 15:38] vimalloc commented on #230
I could create a PR for this. Can likely have it done later today (if no
one else is actively working on it).

On Nov 28, 2016 6:27 AM, "José Padilla" <notifications@github.com> wrote:

[2016-11-29 16:50] dgn opened #232 "No way to decode headers"
There seems to be no (public) method to decode a token's headers - we need this for our use-case. I'm now relying on using the private ``_load`` method of the PyJWT class, which is suboptimal at best.

Would you mind me opening a PR with a new public method that just encapsulates that call to ``_load``, returning only the headers? Something like ``jwt.decode_headers(token)``?

[2016-11-30 04:30] mark-adams commented on #232
Hi @dgn,

This is actually a pretty common issue since many consumers want to look up a particular key or shared secret to use when verifying the JWT and the easiest way to include that information is via a header parameter.

There is already a public API to do what you are probably looking for. You can use the `jwt.get_unverified_header(token)` method to retrieve the values parsed from the header

[2016-11-30 04:39] mark-adams commented on #217
If I'm understanding you correctly, you're saying that you basically want your reverse proxy layer to be able to reject the request if the token's expiration is invalid by using the token's `exp` claim without performing signature verification as a short-circuit to avoid having to pass the request to the application. Is that correct?

Many applications choose to solve this by consolidating their l

[2016-11-30 04:41] mark-adams commented on #193
@tgermain Feel free to submit any PR that you think might improve the documentation :+1:

[2016-11-30 04:43] mark-adams commented on #181
@wsw70 No, that should work. Are you sure that both `cryptography` and `pyjwt` are both being installed in the same environment / virtualenv? Also, can you confirm both are importable from a Python shell?

[2016-11-30 04:54] mark-adams commented on #142
@ashb I actually believe that I implemented JWS some time ago in the `PyJWS` class but didn't actually close out this issue! If I missed something please let me know and reopen!

[2016-11-30 04:54] #142 closed

[2016-11-30 09:57] dgn commented on #232
Thanks for the reply! I must have overlooked that method. Going to use that now

[2016-11-30 09:57] #232 closed

[2016-12-04 19:10] wsw70 commented on #181
@mark-adams I do not have a fresh install of Windows handy but I will repeat the installation via `pip3` as soon as I have one.

[2016-12-07 23:13] daredevil82 opened #233 "Encrypt tokens"
Reading the documentation, one can be excused if the impression is given that the contents of a JWT are encrypted during the encoding process.  However, they are not, and if a developer includes sensitive information in the payload of a token, it is _very_ easy to retrieve the data.

	import jwt, base64

	token = jwt.encode({'some':'payload'}, 'secret', algorithm='HS512')
	algo, text, signature =

[2016-12-07 23:16] vimalloc commented on #233
That is how JSON Web Tokens work, it's part of their specification. If you want the token to be encrypted, you should use JSON Web Signature (JWS) instead of JWT.

If I'm not mistaken, this library includes options for both.

Note: JWTs are secure from tampering, but like you said, they aren't secure from someone looking at what data is stored on the token, which could be problematic if sensitive

[2016-12-09 17:11] mark-adams commented on #233
@daredevil82 To clarify, there are three main components to the JOSE specification.
- JSON Web Signature (JWS)
- JSON Web Tokens (JWT)
- JSON Web Encryption (JWE)

All three are very similar but all have distinctly different characteristics.

A [JSON Web Signature](https://tools.ietf.org/html/rfc7515) (JWS) allows you to create a digital signature over some data (a string, some bytes, key-value pa

[2016-12-12 12:29] chenhongws opened #234 "Could not unserialize key data (use .p8 file as private key file, use ES256 algorithm"
**Such was the code:**
APNS_AUTH_KEY = './APNsAuthKey_SP7C6832EZ.p8'
f = open(APNS_AUTH_KEY)
secret = f.read()
token = jwt.encode(
payload={
"iss": "8X2A38Q9VD",
"iat": time.time()
},
key= secret,
algorithm= 'ES256',
headers={
"alg": "ES256",
"kid": "SP7C6832EZ",
}
)

**But it run with error：**
Traceback (most recent call last):
File "Http2AuthToken.py", line 31, in
"kid": "SP7C6832EZ",
File "/usr

[2016-12-21 16:48] wsw70 commented on #181
@mark-adams I moved the development of my soft to docker and ran into the same problem (I am a bit desperate but at least googling the issue brings be back here :))

The Dockerfile (which builds the docker container) calls
[code]
This is on an Ubuntu 16.10 (yakkety)

When starting my program I run into
[code]

[2016-12-21 19:14] wsw70 commented on #181
@mark-adams I started once again (on a clean distribution), this time **not** installing `python3-jwt` but going for `pip3 install PyJWT` (having installed `python3-cryptography` before). Everything works fine.

There must be something wrong with the version in the distribution.

[2017-01-11 12:49] spiow commented on #190
Hi, here's a real word case of this issue causing problems.

Our infrastructure involves generating tokens on a server in Amazon's cloud and checking them on another one in Google's cloud using `jwt.decode()`.

At midnight between 2016 December 31 and 2017 January 1, a [leap second](https://en.wikipedia.org/wiki/Leap_second) was introduced into UTC. Both clouds 'smeared' this second linearly over

[2017-02-03 17:26] nicktimko commented on #190
So is the recommended fix to just add the `options` kwarg on all decode calls? Is there some package setting I can monkeypatch to disable it globally?

[2017-02-06 21:28] hansg60 commented on #234
Hello, I'm having the same problem.  Did you ever find a way to resolve this?  Thanks.

[2017-02-08 09:12] tld commented on #190
Sorry if it's been mentioned, I didn't catch it when I read through.

First off, +1 for keeping the check, especially since it can be disabled easily.

However, would it not be worthwhile to consider adding a margin to the check?  Even allowing the token to be signed merely two seconds into the future, would go a long way towards solving the real-world issues this causes.  If you add up issue with

[2017-02-09 17:48] nicktimko commented on #190
The issue is more that unless you explicitly disable the check every time or add in leeway for clock skew, this can cause random errors. The RFC talks about *minutes* of skew, which seems crazy, but even milliseconds of skew can cause a validation error:

1. Say you have two servers, an Issuer perfectly at UTC and Validator at time = Issuer - 10 milliseconds.
1. Time is 20000.005 (seconds past epo

[2017-02-12 12:38] tld commented on #190
nicktimko, your example would be handled just fine with leeway though?

[2017-02-12 14:54] ccverak opened #236 "The specified alg value is not allowed RS256"
Hi there In getting 'The specified alg value is not allowed' when trying to decrypt an auth0 token.
Here are the details:

[code]
Installed packages

PyJWT==1.4.2
cryptography==1.7.2
pycrypto==2.6.1
ecdsa==0.13

Python 2.7.12

Can you please tell what am I doing wrong?

[2017-02-15 17:07] mikenholt commented on #236
It doesn't like the list type, so it should read `algorithm='RS256'`

[2017-02-21 19:13] efossier commented on #206
@jpadilla PyJWT doesn't support python 3.2 because hmac.compare_digest was added in 3.3, it therefore falls back to your python2 reimplementation of compare_digest which does an ord() on the characters before comparing them. This works in python2 but in python3 zip() on bytes objects returns integers giving the error above.

I fixed this in my project by re-implementing hmac.compare_digest without

[2017-02-26 20:36] #89 closed

[2017-03-04 17:27] fbartolom commented on #234
Same error here.

[2017-03-04 17:32] fbartolom commented on #82
I have this code:

import jwt
import time
from hyper import HTTPConnection
ALGORITHM = 'ES256'
APNS_KEY_ID = 'H6Q3X7RYZG'
APNS_AUTH_KEY = 'APNsAuthKey_H6Q3X7RYZG.p8'
TEAM_ID = 'GF9PQ87F68'
REGISTRATION_ID = '713d3a9f4d932ac824caf9373a2f182b2dfa710fb7b6214e3bd405ae1e32d0aa'
BUNDLE_ID = 'com.meditation.iPujaPro'
f = open(APNS_AUTH_KEY)
secret = f.read()
token = jwt.encode(
    {
        'iss': TEAM_

[2017-03-05 04:11] mark-adams commented on #82
Your key is in the wrong format. PyJWT expects an RSA key to be in PEM format. If you convert your key to PEM format, that should resolve the issue.

[2017-03-05 04:17] mark-adams commented on #234
By default, PyJWT expects keys to be in PEM format. If your key is not in PEM format, you will receive that exception.

[2017-03-05 04:17] #233 closed

[2017-03-05 08:21] fbartolom commented on #82
Good to know, thanks. But how do I modify my python code in order to do what you suggest? I am no crypto expert and judo copied the script without much understanding what it did.

[2017-03-05 15:39] fbartolom commented on #234
Yes, but how do I transform the keys into PEM and what keys are you referring to? The APNS_AUTH_KEY or the APNS_KEY_ID?

[2017-03-06 12:20] tld commented on #234
`openssl pkcs8 -inform DER -nocrypt -in [p8 keyfile] -out [pem keyfile]`

Will translate your p8 keyfile to a new pem keyfile, which you can use.

[2017-03-06 12:35] fbartolom commented on #234
This is sort of the all command I exectuted with the old notification system. Yet I am not clear how to insert it here. This is not python, but rather shell. Should I execute it once on the certifcate I get from Apple and then use it in the script (how?)? Or is there a python version I may execute in the script?

[2017-03-08 03:36] colemeister opened #240 "Getting NotImplementedError: Algorithm not supported for EC256 with cryptography installed"
I've installed both pyjwt and cryptography using pip install, yet I'm still getting NotImplementedError when I try calling jwt.encode() passing 'EC256' as the algorithm. Any idea why this could be the case? After reading similar issues i'm certain it should be working the way I have it.

[2017-03-08 06:30] vimalloc commented on #240
Are you meaning to use ```ES256``` instead of ```EC256```? There is a list of algorithms here: https://pyjwt.readthedocs.io/en/latest/algorithms.html

[2017-03-08 06:37] colemeister commented on #240
Wow... Definitely feel like a noob but I guess that's how it's not gonna happen again! That was it, thank you for your help!

[2017-03-09 02:40] jpadilla opened #241 "Release new version"
We're a bit overdue with releasing a new version. I've created a [new milestone](https://github.com/jpadilla/pyjwt/milestone/5?closed=1) to keep track of the things that are going into this version. This will also help me update the changelog.

@mark-adams whenever you got a chance, could you take a look at it and see if there's anything else missing? Also are we ok bumping a patch version? Now th

[2017-03-09 08:31] fbartolom commented on #82
If I execute:
openssl pkcs8 -inform DER -nocrypt -in  APNsAuthKey_H6Q3X7RYZG.p8 -out  APNsAuthKey_H6Q3X7RYZG.pem
I get:
Error decrypting key
139845397403552:error:0D0680A8:asn1 encoding routines:ASN1_CHECK_TLEN:wrong tag:tasn_dec.c:1343:
139845397403552:error:0D07803A:asn1 encoding routines:ASN1_ITEM_EX_D2I:nested asn1 error:tasn_dec.c:393:Type=PKCS8_PRIV_KEY_INFO

[2017-03-09 08:32] fbartolom commented on #234
If I execute:
openssl pkcs8 -inform DER -nocrypt -in  APNsAuthKey_H6Q3X7RYZG.p8 -out  APNsAuthKey_H6Q3X7RYZG.pem
I get:
Error decrypting key
139845397403552:error:0D0680A8:asn1 encoding routines:ASN1_CHECK_TLEN:wrong tag:tasn_dec.c:1343:
139845397403552:error:0D07803A:asn1 encoding routines:ASN1_ITEM_EX_D2I:nested asn1 error:tasn_dec.c:393:Type=PKCS8_PRIV_KEY_INFO

[2017-03-14 12:04] ecksun opened #242 "RFC4716 format not supported for ECDSA keys"
# Setup

## Generating keys

[code]

## Dependencies

[code]

## test.py

[code]

## Example keys

[code]

# Outcome

[code]

# Workaround

However, if I change the public key format to PEM PKCS8 public key everything works fine:

[code]

[2017-03-14 12:25] mark-adams opened #243 "RFC 4253 (OpenSSH) ECDSA public keys are not supported"
Previously, `cryptography` did not support ECDSA OpenSSH-style public keys. Now they do so we should implement support for it.

[2017-03-14 13:27] mark-adams commented on #242
Interestingly enough, the key you produced in your example is *not* an RFC 4716 key.

The result of:
[code]

is actually a [RFC 4253](https://tools.ietf.org/html/rfc4253) public key that looks like this:

[code]

In order to get an RFC 4716-formatted public key, you need to run `ssh-keygen -f ecdsa_key -e -m RFC4716 > ecdsa_key.pub` and then you'll get something like this:

[code]

Regardless, you

[2017-03-14 13:27] #242 closed

[2017-03-15 16:19] jpadilla commented on #243
Closed by #244

[2017-03-15 16:19] #243 closed

[2017-03-15 17:53] codervinod commented on #205
@mark-adams We have a use case where identity provider issues tokens to different clients. We have a single API which authenticates via JWT and hence we need to absorb a list of audience. I will send a pull request regarding this feature later today. It would be helpful if you can merge it.

[2017-03-21 15:27] dbinetti opened #247 "RS256 Public Key issue"
When I follow the docs [here](https://github.com/jpadilla/pyjwt/blob/master/docs/faq.rst#how-can-i-extract-a-public--private-key-from-a-x509-certificate) I get the following error: `TypeError: initializer for ctype 'char[]' must be a bytes or list or tuple, not str`.

My ultimate goal is to figure out how to populate the JWT_PUBLIC_KEY in djangorestframework-jwt so that I can use RS256 encryption.

[2017-03-23 16:12] lookuptable commented on #241
When does v1.4.3 is planned to be released?

[2017-03-23 23:51] skomak opened #248 "Implementation not compatible with others"
Hi,

Please correct me if I am wrong but I think that using python dicts {} is not a good idea because they have no order so if I try to set up headers:

[code]

The keys are being sorted. In this case of course base64 will be different and HMAC also so in current situation it is incompatible with other implementations of JWT, for example with Firebase in PHP where dicts are not changing the order

[2017-03-24 14:12] mark-adams commented on #248
The HMAC is not affected because it is performed against the serialized JSON string representation of the dict. Whenever a JWT is created, the Python `dict` is serialized into a JSON string which is hashed as part of producing the signature. When you receive and verify a JWT, the same JSON string (which is identical no matter what platform you are on) is hashed as part of verifying the signature.

[2017-03-24 21:25] skomak commented on #248
Python and PHP implementations give different results when providing the same data, please look above in presented examples.

It should be the same but it isn't, and as far as I know even JSON representation in Python doesn't guarantee the order since it is still saved as dicts.

The signature difference comes from this order differences as i checked it manually.

[2017-03-24 21:36] mark-adams commented on #248
Yes, they do give different results and that is completely ok. The spec
does not require that the claims be ordered in any specific way prior to or
during serialization. The spec only requires that any JWT generated by one
implementation is able to be verified and decoded by another unless the
claimset has been modified.

The fact that some implementations choose to order their JSON keys in a
part

[2017-03-24 23:50] jpadilla commented on #241
@lookuptable thanks for the nudge.

@mark-adams I think we should just bump up a minor version instead, since theres a couple new things in there. Thoughts?

[2017-03-28 23:38] sumitb opened #250 "PyJWT-1.4.2 doesn't work with cryptography-1.7.2 properly."
`import jwt`
`jwt.encode(payload, self.signing_key, algorithm=self.jwt_algo)`
I get this error:
File ".../egg/jwt/api_jwt.py", line 56, in encode
  File ".../egg/jwt/api_jws.py", line 98, in encode
  File ".../egg/jwt/algorithms.py", line 171, in prepare_key
TypeError: Expecting a PEM-formatted key.

The issue started occurring as I introduced cryptography-1.7.2 to the system. Earlier it was using

[2017-04-04 19:19] skomak commented on #248
You are right, Python JWT and PHP JWT (Firebase implementation) were able to verify each other signatures. It just was misleading for me as I thought that they should provide exactly the same output when generating signatures.

[2017-04-04 19:19] #248 closed

[2017-04-05 03:05] mazz opened #251 "Refreshing Expired Token Requires Decoding"
Hi, I'm trying to add a refresh api by passing it an expired token and extending the `exp` time. My criteria is that the token must be expired. However I've encountered a chicken-and-egg scenario where the token needs to be decoded to check if it needs to be refreshed, but the SignatureExpired exception occurs.

I've looked at jwt.decode(verify=True) but no difference from above.

Any ideas? Or is

[2017-04-05 03:38] vimalloc commented on #251
One problem you may run into if you go down this route is that you cannot update a token. If you change the expires time of the token, you in essence end up with a totally new token. This means that anyone using your API may have the access token change out from under them on *any* API call (success or failure), and if they are, for example, storing the access tokens in a browsers session storage,

[2017-04-17 13:11] mark-adams commented on #250
@sumitb It's hard to analyze this further without knowing what `type(self.signing_key)` is. Can you provide more detail?

[2017-04-17 13:54] #190 closed

[2017-04-17 15:27] nirik opened #253 "Drop hard coded pytest version requirement"
In https://github.com/jpadilla/pyjwt/commit/8f2601050339b0efcba1d7b44f646bc520e8b700 the pytest version requirement was hard coded to be exactly 2.7.3 to avoid a upstream bug that was fixed, but not yet released.

That version seems to have long since been released. pytest 3.0.7 seems to run the tests fine here.

[2017-04-17 15:53] mark-adams commented on #251
@mazz In the event that you did want to take the exact claimset from an expired token and create a new token with it, you should be able to use `jwt.decode(token, options={'verify_exp': False})` to bypass the validation of the `exp` claim and return the claimset from the original token while preserving the other validations.

[2017-04-17 16:02] mark-adams commented on #209
The `exp` claim is a `NumericDate` as defined by [RFC 7519|https://tools.ietf.org/html/rfc7519#section-4.1.6] which means it is a value representing the number of seconds since 1970-01-01T00:00:00Z UTC.

The problem in your example case is the usage of `datetime.fromtimestamp()` which takes a unix timestamp and returns a `DateTime` value in *local* time (not UTC).

- https://docs.python.org/2/libr

[2017-04-17 16:02] #209 closed

[2017-04-17 16:30] #253 closed

[2017-04-17 19:09] mark-adams commented on #241
@jpadilla Yea, bumping the minor version works for me. I created a PR: #255 that is waiting on your approval now

[2017-04-19 12:52] jaraco opened #256 "Readme not rendering in PyPI"
Looking at https://pypi.org/project/PyJWT, the readme is not rendering from RST:

![image](https://cloud.githubusercontent.com/assets/308610/25180860/8e907878-24dd-11e7-8d85-314ef8ff8c4e.png)

[2017-04-19 12:55] jaraco commented on #256
Aha. I see that's because that readme was markdown and the issue was fixed in c5ea68827f5 but just hasn't been released.

[2017-04-19 12:55] #256 closed

[2017-04-19 14:25] #241 closed

[2017-04-19 14:41] jpadilla commented on #241
Just released [v1.5.0](https://github.com/jpadilla/pyjwt/releases/tag/1.5.0). Thank you all! 🎉

[2017-04-19 21:33] abcondas opened #257 ""Could not deserialize key data""
Hi.  I'm receiving a "Could not deserialize key data" error in the following code.  What am I doing wrong?  I have investigated high/low trying to figure out if this public_key is in PEM format and it appears as if it is but I'm not sure (how can I verify this?).  The decoding (and encoding also) works in the jwt.io debugger.  Also, I traced through the pyjwt code and it's bombing during the verif

[2017-04-20 00:55] mark-adams commented on #257
That's correct. RFC 7468 says that a key in PEM format should be in the following format:

[code]

What this says is that the first line of the key is expected to contain "preeb", possibly some whitespace, and a newline. "preeb" is the `-----BEGIN...` label. The definition for "base64text" also includes a newline (not shown above for brevity) so that a parser can detect the presence of the "posteb

[2017-04-20 00:55] #257 closed

[2017-04-22 15:49] mazz commented on #251
@mark-adams thanks, that seems to have worked. I can now call jwt.decode() on an expired token without an exception while preserving its claims using your tip.

[2017-04-24 14:17] krdeepak commented on #143
Is anyone working on it or planning to work? We have a java auth service using JWE and we are creating a separate python service which will validate JWE in place before processing any requests.
Is there any alternative of pyjwt which supports JWE?

[2017-04-24 14:18] clintonb commented on #143
Checkout pyjwkest.

[2017-04-25 02:00] mark-adams commented on #143
@krdeepak The issue currently isn't assigned to anyone. However, we are always looking for more contributors to help add this functionality. Feel free to submit a PR if you're interested in helping.

[2017-04-26 13:38] skapin commented on #234
+1

[2017-04-26 18:21] clintonb commented on #55
This just came back to bite us. We forgot to set the issuer on some of our services. We never realized this because no error was raised during the decode operation. There should not be any special values. The `iss` claim should only be considered valid if its value matches the value passed into the function.

[2017-04-27 18:37] vimalloc opened #258 "(Question) Removal of **kwargs?"
I recently had a situation where I was passing ```algorithm``` instead of ```algorithms``` to ```jwt.decode()```. Due to the ```**kwargs``` eating the ```algorithm``` parameter and the decode method looking at the encoded JWT to figure out what type of algorithm to use, everything appeared to be working the way you would expect, even though it wasn't actually doing what I wanted it to.

If there w

[2017-05-02 23:04] lookuptable commented on #144
@jpadilla It seems the JWK support is on only when cryptography is available? Any chance that you'll support this feature with pycrypto so that it can be used in GAE environment?

[2017-05-03 00:50] mark-adams commented on #144
We don't actually support PyCrypto. We only kept it around for
compatibility since we didn't want to instantly break everyone using GAE
when we switched to cryptography.

I'd recommend that you look into the new GAE flexible environment which
will allow you to use any libraries you want including cryptography.

On Tue, May 2, 2017, 18:04 Yang Guan <notifications@github.com> wrote:

[2017-05-05 19:29] mrsarm opened #259 "Bad name reference of the CLI command and no information in the DOCs about it"
Release https://github.com/jpadilla/pyjwt/releases/tag/1.5.0 says that the new name of the CLI is `jwt-cli`, but the real name is `pyjwt`.

Also, it would be useful if in the README file and in the [documentation](https://pyjwt.readthedocs.io/en/latest/) pages to have a reference about the command and its usage.

[2017-05-06 15:01] jpadilla commented on #259
@mrsarm ah you're right about that. I'lll update the release note, would you want to send over a pull request adding the CLI to the docs?

[2017-05-12 13:25] rinatio opened #261 "Token expiration is not checked if token doesn't have an `exp` value."
Hi,

If someone generates a token without expiration date, then expiration will not be checked. Is it by design? See https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jwt.py#L103.

Originally found via [django-rest-framework-jwt](https://github.com/GetBlimp/django-rest-framework-jwt/issues/331)

[2017-05-18 08:45] jgehrcke commented on #261
Yes. this is by design. If no `exp` claim is encoded in the token then this token is meant to have an infinite lifetime. RFC 7519 says

(https://tools.ietf.org/html/rfc7519#section-4.1.4)

[2017-05-18 12:31] rinatio commented on #261
@jgehrcke Thanks for clarification!

[2017-05-18 12:31] #261 closed

[2017-05-18 17:01] ezheidtmann opened #263 "InvalidAlgorithmError is not available as `jwt.InvalidAlgorithmError`"
Perhaps it should be imported in `__init__.py`?

[2017-05-18 19:28] jpadilla commented on #263
@ezheidtmann sounds about right, want to put a PR together doing so?

[2017-05-19 03:37] jpadilla commented on #263
Closed via #264

[2017-05-19 03:37] #263 closed

[2017-05-19 12:20] jpadilla commented on #259
https://pyjwt.readthedocs.io/en/latest/

[2017-05-19 12:20] #259 closed

[2017-05-21 20:38] toolness opened #265 "Mind if I add type annotations for this library to typeshed?"
Hello!

I'm interested in adding [mypy](http://www.mypy-lang.org/) type annotations for this library to the repository of third-party typings at https://github.com/python/typeshed/pull/1281.

Do you mind if I do this?

I can also contribute the typings to this repository if you like, just let me know!

[2017-05-22 14:27] jpadilla commented on #265
@toolness I'm definitely good with this, but would keep the typings only on python/typeshed. Thanks!

[2017-05-22 14:27] #265 closed

[2017-05-23 20:19] marcelofern opened #266 "(InvalidIssuedAtError) not implemented for future iat's ?"
Hi,

According to the docs, jwt.exceptions.InvalidIssuedAtError should be raised when iat has a future date.
[reference](https://pyjwt.readthedocs.io/en/latest/api.html)

**Issue**:
I am trying to raise: InvalidIssuedAtError

**What I am doing**:

I am using a token with a future iat timestamp, something like:
[code]
well, this works perfectly, the problem is that it shouldn't :P
I looked at the c

[2017-05-26 10:30] dumptyd opened #267 "Claims section sometimes has incorrect padding"
So this is the code I'm using to generate the token.

[code]

and then I do this to get the email address back

[code]

[2017-05-26 10:58] dumptyd commented on #267
Well, I was looking for `verify=False`. Thanks @oxalorg. Closing it.

[2017-05-26 10:58] #267 closed

[2017-05-28 13:45] nueverest opened #268 "Prefer pycryptodome over pycrypto"
pycrypto is no longer actively maintained.

pycryptodome has stepped up to take its' place as an up-to-date drop in replacement for pycrypto https://github.com/Legrandin/pycryptodome

[2017-05-28 13:47] mark-adams commented on #268
We don't support PyCrypto currently. The PyCrypto support has been left in solely to allow for backward compatiblity with Google App Engine which doesn't support compiling C extensions. `cryptography` is the supported library to use with PyJWT.

[2017-05-28 13:47] #268 closed

[2017-05-28 13:53] nueverest commented on #268
Okay. Thanks for the clarification.

[2017-06-16 17:40] bhavin177 commented on #234
I am getting exactly the same problem with Apple issue P8 keys when trying to convert using `openssl`. I believe Apple issues it in the `pem` format already since it's `ASCII text` and not `binary` (like DER should be per this [StackOverflow](https://stackoverflow.com/questions/14191468/openssl-encoding-errors-while-converting-cer-to-pem) post)

[2017-06-16 18:41] bhavin177 commented on #234
Update: I was pasting the key string instead of 'secret'. PyJWT expects the full contents for the .p8 file including the `-----BEGIN PRIVATE KEY-----` and `-----END PRIVATE KEY-----` lines. so I changed from copy/pasting the key to:

`keyfile = open ("AuthKey_xxxx.p8", 'r')
keystring = keyfile.read()`

and then passing keystring instead of 'secret' to `jwt.encode`. I feel the example in-doc can be

[2017-06-17 02:36] mark-adams commented on #266
We removed that functionality because it was not very standard and tripped up a lot of people. See #190.

A pull request would be welcome to update the docs.

[2017-06-17 02:36] mark-adams commented on #250
Closing due to lack of response

[2017-06-17 02:36] #250 closed

[2017-06-17 02:36] mark-adams commented on #251
@mazz Awesome glad it helped.

[2017-06-17 02:36] #251 closed

[2017-06-17 02:38] mark-adams commented on #247
PyJWT expects public keys to be in either PEM or SSH format. The example you posted is actually a x509 certificate in PEM format; not a public key in PEM format.

You can extract the public key from the certificate using the following OpenSSL command:
[code]

[2017-06-17 02:38] #247 closed

[2017-06-17 02:39] #240 closed

[2017-06-17 02:39] mark-adams commented on #234
It looks like this is resolved. Please re-open if it is not.

[2017-06-17 02:39] #234 closed

[2017-06-17 18:18] mark-adams commented on #236
@mikenholt No, that is incorrect. `algorithms` expects a list of algorithms when decoding.

@ccverak This really only happens for one reason: The JWT token does not have it's `alg` header set to "RS256" which probably means it was encoded using the wrong algorithm.

[2017-06-22 00:39] t3h2mas opened #276 "jwt.encode not found"
env:
virtualenv using python 3
installed using pip3

[code]
resulted in not found error

used `dir()` to figure out encode, decode are accessible in jwt.JWT

is this a bug?

[2017-06-22 00:50] t3h2mas commented on #276
update: it looks like I had both `jwt` and `PyJWT` installed.

removing `jwt` fixed my issues.

closing this issue, as it is a nonissue.

[2017-06-22 00:50] #276 closed

[2017-06-22 16:19] Prince-Leto opened #278 "InvalidAlgorithmError with 1.5.1 release"
When updating PyJWT from 1.5.0 to 1.5.1, my Django project does not work anymore.
Using django-rest-framework, and django-rest-framework-jwt.

[code]

The code responsible of this issue:
[code]

And local vars are:
alg: `'HS256'`
algorithms: `{'verify_exp': True, 'verify_signature': True}`
header: `{'alg': 'HS256', 'typ': 'JWT'}`

[2017-06-22 17:56] jpadilla commented on #278
Released [v1.5.2](https://github.com/jpadilla/pyjwt/releases/tag/1.5.2) to fix this

[2017-06-22 17:56] #278 closed

[2017-06-27 16:12] psafont opened #279 "Proposal for alternative to require_xxx options"
Hi,

I'd like to have a flexible way to verify some claims that are not dealt with in `api_jwt.py`'s `_validate_claims`.

I find that having an option like `'require': ['exp', 'iat', 'email']` would suit my needs while not taking away any functionality from the library.
I'd also like to know your opinion on how could I provide backwards-compatibility, I'd be implementing this enhancement, of cours

[2017-07-06 05:08] vimalloc commented on #258
Glad I wasn't the only one who made that mistake :)

[2017-07-20 20:04] davidedelvento opened #282 "name clash"
Thanks to [this bug in pip](https://github.com/pypa/pip/issues/4625), installing pyjwt and jwt at the same time causes a whole lot of issues with no warning whatsoever to the poor user. Please see https://github.com/pypa/pip/issues/4625 and https://github.com/GehirnInc/python-jwt/issues/9 for details.

And pretty please consider talk with the author of the other package and agree on a unique names

[2017-07-21 11:43] stela commented on #42
Since January 2017, Ed25519 and Ed448 signatures are now standardized by this RFC: https://tools.ietf.org/html/rfc8037 (using alg=EdDSA)
There's a registry of algorithm definitions to use for JOSE implementations at https://www.iana.org/assignments/jose/jose.xhtml#web-signature-encryption-algorithms

[2017-07-25 11:30] omidraha opened #283 "How can I shorten the length of the token ?"
Hi,
I have the same issue as [#73](https://github.com/tymondesigns/jwt-auth/issues/73), my token with HS256 algorithm has length of around 256 bytes.
I want to write this token to one device, and since reading on this device is slow ( 16 seconds for 1024 bytes),
It takes nearly 5 (4+1) seconds to read every token.
Is there a way for that or not?
Thanks.

[2017-07-25 13:28] jpadilla commented on #283
Same conclusion as that issue. You might need to use some other mechanism to fit your constraints.

[2017-07-25 13:28] #283 closed

[2017-08-25 01:17] wjkaola123 commented on #234
I have the same problem , Apple  AuthKey_xxxx.p8 will be used alright in the window platform. But when i deploy my project to linux , i got the same error . how can i translate  p8 keyfile to pem keyfile ,when i execute the cmd:
openssl pkcs8 -in AuthKey_HJHCDV58KW.p8 -outform PEM  -out AuthKey_HJHCDV58KW.pem
i get:
Error reading key
139702076094280:error:0906D064:PEM routines:PEM_read_bio:bad bas

[2017-08-25 08:52] wjkaola123 commented on #234
okay,  i update the version of openssl to  1.1.0 , then i  can transform .p8 file to .pem file, as follows:
-----BEGIN PRIVATE KEY-----
MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQg2+Eybl8ojH4wB30C
3/iDkpsrxuPfs3DZ+3nHNghBOpmhRANCAAQSpo1eQ+EpNgQQyQVs/F27dkq3gvAI
28m95JEk26v64YAea5NTH56mru30RDqTKPgRVi5qRu3XGyqy3mdb8gMy
-----END PRIVATE KEY-----
mycode:
APNS_AUTH_KEY = 'authkey.pem'
ROOT = os.pat

[2017-08-25 17:38] #236 closed

[2017-08-25 17:39] mark-adams commented on #181
That makes sense. Probably should file a bug with the upstream distro.

[2017-08-25 17:39] #181 closed

[2017-08-25 22:47] mark-adams commented on #177
This doesn't seem to be reproducible.

[2017-08-25 22:47] #177 closed

[2017-08-26 11:22] mark-adams opened #286 "Add examples to documentation on how to decode private keys with passphrases"
The current API supports either passing in an unencrypted RSA key in PEM format or passing in a `PublicKey` / `PrivateKey` from `cryptography`. A common feature request has been to add the ability to accept a passphrase for encrypted keys as an argument to `encode()` or `decode()` but we've decided against that to avoid cluttering the API further.

Since the existing API supports passing in `Publi

[2017-08-26 11:30] mark-adams commented on #282
This is one of the unfortunate parts of working in Python and is rather hairy to deal with. I think it's difficult to solve because changing either library is a breaking change. I think the occurrence you're talking about is fairly rare though I'd be interested in seeing numbers of times projects require both libraries.

Because of the rarity, I don't really see how either project would see this a

[2017-08-26 12:44] davidedelvento commented on #282
@mark-adams thanks for your consideration.

I understand why you don't want to make a breaking change, not even with a deprecation period during which both old and new name may be available, even though I think that in the long term this would be the most desirable outcome (in some environment people may want to use both packages).

Frankly, I have been seriously disappointed by the discussion abo

[2017-08-29 15:50] vidstige commented on #120
Relevant docs has been moved. Go [here](https://github.com/jpadilla/pyjwt/blob/master/docs/usage.rst#audience-claim-aud) instead.

[2017-08-30 08:44] geeofree opened #287 "swap InvalidTokenError and DecodeError exception names"
Hello! Based on the [docs](https://pyjwt.readthedocs.io/en/latest/api.html#exceptions) it says that an `InvalidTokenError` gets raised when a **decode** fails on a token while the `DecodeError` says it gets raised when a token cannot be decoded because it **fails validation**. I think it would make much more sense if `DecodeError` does what `InvalidTokenError` does and vice versa. Thoughts?

[2017-08-31 16:28] mark-adams opened #288 "Release v1.5.3"
I think we have enough to do a release.

In particular, I think some users are waiting on 3def8d80eb3936dbcead07e86b6aee96ba07bfe9 to upgrade `cryptography`.

Thoughts? @jpadilla

[2017-09-05 17:31] maxrothman opened #290 "Inconsistent documentation around IATs in the future"
I can see that in #190, you decided to stop validating that IATs are not in the future. There was also some discussion about adding an option to turn that validation back on, but it didn't seem to make it into the final PR. In any case, [the documentation](http://pyjwt.readthedocs.io/en/latest/api.html?highlight=iat#jwt.exceptions.InvalidIssuedAtError) still indicates that the validation is done.

[2017-09-05 18:23] jpadilla commented on #288
@mark-adams thanks, just released v1.5.3 https://github.com/jpadilla/pyjwt/releases/tag/1.5.3

[2017-09-05 18:23] #288 closed

[2017-09-05 18:25] jpadilla commented on #170
Done in 72bb76cb343bb6d0f40fcd0d136898b8ba08c323

[2017-09-05 18:25] #170 closed

[2017-09-05 18:28] jpadilla commented on #282
Agree with @mark-adams . Thanks for bringing this up, but will close for now.

[2017-09-05 18:28] #282 closed

[2017-09-05 18:49] mark-adams commented on #290
The current behavior is that the IAT claim is not checked to see if it's in the future. The documentation should be changed to match.

[2017-09-05 22:21] maxrothman commented on #290
Is there interest in adding back an optional check?

[2017-09-11 18:36] butla commented on #144
@mark-adams shouldn't this issue be closed? The code seems to be functional.

[2017-09-11 18:52] butla opened #291 "Better documentation on using JWK needed"
I was wondering whether this library (which I've used for JWTs for some time) supports JWKs. When I found issue #144 to be open, I thought I was out of luck. It seemed that another library, [python-jose](https://github.com/mpdavis/python-jose), had that already, at least that's what it said in the first few lines of the README. The problem with that library was, it used PyCrypto (which didn't have

[2017-09-12 12:19] butla opened #292 "Expose a function for parsing a JWT without any verification"
In my code, I'm implementing decoding a token that's been signed by one of the keys in a JWK Set. I'm going to aproach this according to the second option I described [here](https://github.com/jpadilla/pyjwt/issues/144#issuecomment-328619194). I found that all I need to get the header containing the key is to call this:
[code]

But this uses a non-public API, which is far from ideal.

I've noticed

[2017-09-13 13:45] bogdanpetrea opened #293 "Verifying a JWS when decoding it triggers an error"
I am getting the following message when trying to decode a JWS string:
[code]
Skipping the verification part with `options={'verify_signature': False}` works as expected.

I might be wrong but, in the [cryptography docs](https://cryptography.io/en/latest/hazmat/primitives/asymmetric/rsa/#verification) it's stated that the public key should be used for verification. I assume a check should be made

[2017-09-18 23:29] cwiki commented on #293
I'm having similar issues. I am able to verify my certificate on the JWT.io site.

[2017-09-27 20:55] tbsnell opened #294 "Conda Install failure of noarch/pyjwt 1.5.3 on Windows 7"
Attempted to install pyjwt with Anaconda and received this error:

-----------------------------------------------------------------------------------
ERROR conda.core.link:_execute_actions(337): An error occurred while installing
package 'conda-forge::pyjwt-1.5.3-py_0'.
CondaError: Cannot link a source that does not exist. C:\Users\tsnell\AppData\Lo
cal\Continuum\Anaconda2\Scripts\conda.exe
Attem

[2017-09-28 18:02] sirosen opened #295 "Support computation and validation of OIDC at_hash value"
Open ID Connect specifies an optional additional claim for its ID token JWTs: the [`at_hash`](http://openid.net/specs/openid-connect-core-1_0.html#CodeIDToken).
It's just a hash of the access token issued alongside the ID token.

Although OIDC lists it as optional, it also states that it's required when performing the "Authorization Code Grant" (3-legged OAuth), which is confusing.

It's very easy

[2017-09-29 09:36] Sebubu commented on #293
Same here

[2017-10-04 13:26] sirosen opened #297 "Travis builds fail due to missing python2.6 and python3.3"
@jpadilla, this is probably your call in terms of what lengths you want to go to in order to support these platforms, since it doesn't look like Travis py3.6 workers have these pythons anymore.

This happened in builds for #296, and it will impact other changes too.

### Drop 2.6?

If there's no testing on py2.6, pyjwt should drop the classifier for it: otherwise something like `"{}".format("foo")

[2017-10-11 23:43] fgblomqvist commented on #291
Wanna share how one decodes/verifies a token using a JWK? Can't figure it out myself.

[2017-10-12 10:35] willow2014 opened #298 "pyjwt decode --verify CLI hang"
$ pyjwt -v
pyjwt 1.5.3

$ pyjwt decode --no-verify eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzb21lIjoicGF5bG9hZCJ9.4twFt5NiznN84AWoo1d7KO1T_yoc0Z6XOpOVswacPZg
^CTraceback (most recent call last):
  File "/usr/local/bin/pyjwt", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/jwt/__main__.py", line 157, in main
    output = arguments.func(arguments)
  File "/us

[2017-10-12 11:01] butla commented on #291
@fgblomqvist Below is my (almost) full flow using `aiohttp`. I'll redact some application specific thing.
You can think of `decode_google_id_token` as the entry point - we have and ID token that came from Google and we want to verify it using Google's JWK Set:

[code]

[2017-10-12 17:17] fgblomqvist commented on #291
I see, so the key (no pun intended) is to convert the key first:
`jwt.algorithms.RSAAlgorithm.from_jwk(json.dumps(key_dict))`
I'm getting an error that algorithms does not have the property RSAAlgorithm. But nontheless, I think I'll be sticking with python-jose for now since their implementation is cleaner and actually documented.

Just some advice regarding the caching: afaik, the way it should w

[2017-10-12 17:48] butla commented on #291
Do you have `cryptography` installed? Does the key type (it's in the JWK structure) starts with `RS`? If not then it isn't an RSA key.

As for caching - it hasn't bit me yet. From what I've observed, each keys lives for a bit more than 24 hours. Also, they probably aren't used for signing as soon as they enter the set. But yeah, that is a potential issue to think about.

And thanks with `get_unver

[2017-10-12 17:51] fgblomqvist commented on #291
Yeah I have cryptography installed and the key is RS. And yeah, the reason why I would rather use a different library than `python-jose` is specifically that one, but oh well, what I am developing will not be used in production anytime soon so there will be time to change things up once either this project gets an update or a different library does.

[2017-10-13 08:51] jayfk opened #299 "Please document/flag security issues"
Is it possible to document security issues in the changelog, possibly in its own section?

For [CVE-2017-11424](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11424) the changelog entry is:

For people not familiar with the codebase it's hard to understand that this might be a security concern.

If you flag them with something like

it would be much easier to see that.

Thanks!

[2017-10-15 15:14] jnyborg commented on #291
I also had no idea this library supported JWKs! It would definitely be useful to mention its usage somewhere.

[2017-10-16 17:41] butla commented on #291
@fgblomqvist Just a word of caution - assuming there will be more time for security (or more time for fixing bugs, writing tests, or any quality-providing activity) later on in project isn't right in many cases... But I'm just a random person from the Internet :) Hope you won't lead to any major data-breaches in three years, or something :)

[2017-10-16 18:09] fgblomqvist commented on #291
You're a 100% right. This is just a school project but if it wasn't, then I would for sure care more ;)

[2017-10-16 22:55] dmulter commented on #172
One more question if I can... I just switched to Python 3 and see the same thing, but my question is why it's wrapping the returned token as the returned string b'TOKEN'. Is there a way to just get the raw token back without the wrapping? My decode is failing with invalid header padding now and I want clients to just see the raw token. Hope this makes sense.

[2017-10-16 23:18] dmulter commented on #172
Solved my own problem, need to use TOKEN.decode('ascii')

[2017-10-19 13:45] jpadilla commented on #297
I'm +1 on dropping 2.6 and 3.3 at this point.

[2017-10-19 13:45] jpadilla commented on #299
Thanks for the suggestion, will address in the future.

[2017-10-19 13:45] #299 closed

[2017-10-19 18:43] jpadilla commented on #297
Closed via #301

[2017-10-19 18:43] #297 closed

[2017-11-05 03:14] whimian commented on #294
Same problem on Windows 10 x64

[2017-11-05 13:07] jpadilla commented on #294
Haven't used conda before, so anyone is welcome to debug this further.

[2017-11-05 13:55] jpadilla commented on #298
Will be fixed via #304

[2017-11-06 00:05] #298 closed

[2017-11-06 20:19] evertlammerts commented on #144
I've submitted #303 to support loading ECDSA keys from JWKs.

We use JWK sets to support key rotation and selecting a verify key based on the `kid` property in JWT headers. With the current API of PyJWT the user first needs to call `jwt.get_unverified_header`, grab the key from the keyset and call `jwt.decode`. This means base64 and json decoding the same data twice.

Would it be nice to have firs

[2017-11-10 18:27] butla commented on #292
Actually, using `jwt.get_unverified_header()` is OK for that. I didn't notice it earlier :)

[2017-11-10 18:27] #292 closed

[2017-11-20 14:07] vaibhavmule opened #307 "What is solution for compatible code for extracting a public key from a x509 certificate that works in Python 2 and Python2"
https://github.com/jpadilla/pyjwt/blob/master/docs/faq.rst#how-can-i-extract-a-public--private-key-from-a-x509-certificate

[2017-11-21 16:04] pcwang0205 commented on #181
@mark-adams
I use like this, but I catch the following error.
[code]

raise ValueError('Algorithm already has a handler.')
ValueError: Algorithm already has a handler.

[2017-11-24 14:37] emmlejeail opened #311 "Can't use EllipticCurvePrivateKey to encode token with algorithm ES256"
I am trying to use an EllipticCurvePrivateKey read from a .key file to encode a token using algorithm ES256, but I always get back the following error happening in algorithms.py:
Here is my python code:
[code]
Here is the error I get back:
[code]
Where is it coming from?

[2017-11-27 03:46] mark-adams opened #312 "Python type hints"
[PEP 484](https://www.python.org/dev/peps/pep-0484/) and [PEP 526](https://www.python.org/dev/peps/pep-0526/) introduced the concept of "type hints" which allow Python code to have inline type declarations to make it easier for editors and static analysis tools to work with Python code.

[code]

To maintain Python 2.7 compatibility, we'd have to use the comment-based syntax:

[code]

Is this somet

[2017-11-27 04:03] #205 closed

[2017-11-27 04:33] mark-adams commented on #258
It looks like we don't currently allow `**kwargs` on `encode()` but I do think we should definitely remove the `**kwargs` from `decode()`.

This may be a non-trivial change to make since we currently have several arguments such as `audience=` and `issuer=` which are not currently explicitly enumerated in the function definitions for `decode()`.

Give it a shot if you'd like. 👍

[2017-11-27 17:37] sirosen opened #314 "Support exposure of hash algorithm digest to handle OIDC at_hash, potentially other spec extensions"
#296 was closed with the suggestion that rather than special-case support for OIDC, PyJWT could support pluggable verifiers which handle additional, specialized claim validation behavior.

If there's a general market for verifiers -- or if they're going to be prepackaged and provided in this library as optional extensions -- that's a good avenue, but at present #295 is the _only_ such issue.
Addit

[2017-11-29 11:01] MarkusH opened #315 "Add InvalidSignature exception"
Right now the [`jws.decode()`](https://github.com/jpadilla/pyjwt/blob/e0aa10ee586bf010ce9a99c5582ee8dc9293ba1e/jwt/api_jws.py#L206) method raises a `DecodeError` when the signature verification failed. I would like to propose adding a dedicated `InvalidSignatureError` or `SignatureVerificationError` exception class.

The reasoning behind this: I'd like to implement a key-rotating feature that chec

[2017-11-29 21:22] jpadilla commented on #315
@MarkusH I'm +1 on raising an `InvalidSignatureError` there.

[2017-11-29 21:55] MarkusH commented on #315
Sweet, I'll get on it tomorrow :)

[2017-11-30 12:15] MarkusH commented on #315
I opened PR #316.

[2017-12-01 19:11] #315 closed

[2017-12-04 22:09] dmwyatt commented on #312
You can run mypy against the code and it will tell you if your types don't make sense.

[2017-12-06 15:16] intonarumori opened #317 "Using PyJWT on App Engine"
As suggested by the documentation PyJWT could be used in environments where `cryptography` cannot be installed (ex. App Engine).

In a local virtualenv I installed `cryptography`, `ecdsa`, `pycrypto` to test my code.

Code using the default implementation works as expected:
[code]

However using the suggested workaround registering the `ecdsa` algorithm and using the exact same code and key result

[2017-12-10 23:00] ogudino opened #318 "Can't use EllipticCurvePrivateKey to decode token with algorithm ES256"
This is the stack trace that I get

  File "music_token.py", line 35, in <module>
    jwt.decode(token, secret, algorithms=[alg])
  File "/Library/Python/2.7/site-packages/jwt/api_jwt.py", line 78, in decode
    jwt, key=key, algorithms=algorithms, options=options, **kwargs
  File "/Library/Python/2.7/site-packages/jwt/api_jws.py", line 140, in decode
    key, algorithms)
  File "/Library/Python/2

[2017-12-10 23:03] ogudino commented on #311
I would make sure that you have cryptography installed.

pip install cryptography

I can encode using ES256 but decoding doesn't seem to work for me. I opened a new issue for that.

[2017-12-15 01:06] Oxyrus opened #319 "Problem decoding token"
Hello, thanks for making pyjwt!

I've been trying to use it in my Django application, however, something weird is happening: I can't decode the token!

This is how I'm creating the token

[code]

And creating a token with `user_id: 1` gives me this token `b'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxfQ.J_RIIkoOLNXtd5IZcEwaBDGKGA3VnnYmuXnmhsmDEOs'`, however it says invalid signature in [h

[2017-12-15 01:09] vimalloc commented on #319
Try decoding the token to utf-8:

[code]

[2017-12-15 01:18] Oxyrus commented on #319
Didn't work @vimalloc here's the code I'm using:

[code]

I'm definitely getting the token, because if I check with:

[code]

I get it printed in the console

[code]

[2017-12-15 01:23] vimalloc commented on #319
This isn't right:
[code]

You want to create the token like such:

[code]

and decode it like:

[code]

[2017-12-15 01:31] Oxyrus commented on #319
Thanks a lot @vimalloc that solves the issue!

[2017-12-15 02:36] jpadilla commented on #319
@vimalloc thank you for helping out, really appreciate it 🥇

[2017-12-15 02:36] #319 closed

[2017-12-20 10:31] C0DK opened #320 "TypeError: Password was not given but private key is encrypted"
How do i supply the password? I can't find the documentation part regarding this. The code i use, for reference.
[code]

[2017-12-21 02:00] jpadilla commented on #320
Check out https://github.com/jpadilla/pyjwt/pull/199#issuecomment-325068235 for more info about this.

Something like this should work:

[code]

[2017-12-21 02:00] #320 closed

[2017-12-26 13:55] dmitrybelyakov opened #321 "Why use local timezones for expiration?"
It seems that when passing a UTC datetime object or timesatmp to `encode`, it gets converted to local timezone (by the use of `calendar.timegm` I presume) which results in tokens having local timezone instead of UTC one.

What was the reason for such implementation? Would it not cause problems for cross-timezone applications? Why not just use UTC for everything?

[2017-12-26 20:16] jpadilla commented on #321
Hm, can you demonstrate this behavior your seeing?

The standard for JWT defines an `exp` claim for expiration. The expiration is represented as a NumericDate:

This means that the `exp` field should contain the number of seconds since the epoch. We currently convert `exp` datetime to an int here:

https://github.com/jpadilla/pyjwt/blob/7f7d524b78ab98e42e9064f4f2bab5b6e126f766/jwt/api_jwt.py#L43-L

[2017-12-27 05:21] dmitrybelyakov commented on #321
Hi!

Sure, it's actually quite easy:

[code]
The last two lines will print a UTC timestamp vs. what is set in the token, which is local time that is off UTC by several hours.

More specifically, when I do `timegm` with a UTC timetuple input (just as you do when encoding) it returns local time:

[code]

[2017-12-27 15:03] jpadilla commented on #321
According to [`datetime.timestamp()`](https://docs.python.org/3/library/datetime.html#datetime.datetime.timestamp) you'd have to make sure your `datetime` specifies `tzinfo=timezone.utc`.

[code]

Also, [`datetime.datetime.fromtimestamp`](https://docs.python.org/3/library/datetime.html#datetime.datetime.fromtimestamp) by default returns the local date and time if `tz` is not specified.

[2017-12-27 15:03] #321 closed

[2017-12-28 08:10] canoeist2018 commented on #318
you must use public key to decode jwt token, and this:
jwt.decode(token, public)

the public is come from:
from cryptography.x509 import load_pem_x509_certificate
from cryptography.hazmat.backends import default_backend
public = load_pem_x509_certificate(ecc_public_key_in_bytes, default_backend()).public_key()

[2017-12-28 10:02] dmitrybelyakov commented on #321
You are absolutely right! Thank you!

[2018-01-11 20:31] pandiaraj6 opened #323 "Python - General SSH error - Could not deserialize key data"
I am running the python script which using below library ,  when I run the script on my windows machine I am getting exception "General SSH error - Could not deserialize key data". Can some one help to find what is wrong on my key files.

my public key
---- BEGIN PUBLIC KEY ----
AAAAB3NzaC1yc2EAAAABJQAAAQEAlh7rcraFLyOHX+BRA+asCubmDjIFVNdNu4U1
45sgAcwm+90Gxa+OGmO4U5eMcM2H+YBG+ZxrFn4nFFqwuRPH3MWmMkk

[2018-01-16 13:56] mani1950 opened #325 "binascii.Error: Incorrect padding"
We receive a JWT token and we need to decode it, We are able to successfully decode it in jwt.io

token=<<My JWT token>>
public_key=<<'-----BEGINPUBLICKEY-----' \
                     public key goes here
                   '-----ENDPUBLICKEY-----'

decoded=jwt.decode(token,public_key,algorithms='RS256')

We then get the error.
binascii.Error: Incorrect padding

Please help. We are stuck with this

[2018-01-16 14:31] lutzhorn commented on #325
Is the JWT correct? Did you check it using the https://jwt.io/ debugger?

[2018-01-16 14:53] mani1950 commented on #325
Yes. We are able to see the payload in the debugger. The payload is correct

[2018-01-16 14:55] lutzhorn commented on #325
Well, without the JWT and the public key it is hard to tell what is going wrong. Can you include those?

[2018-01-16 16:14] jpadilla commented on #325
Make sure your public key is a byte string.

https://pyjwt.readthedocs.io/en/latest/usage.html#encoding-decoding-tokens-with-rs256-rsa

[2018-01-16 16:14] #325 closed

[2018-01-19 18:52] david-jana opened #326 "decoding a payload that is a list"
Hi, I'm using pyjwt with an api that accepts and returns jwt tokens.  I ran across a case where the api returned a token where the payload string encoded a list rather than a map, and the pyjwt decode() function resulted in "jwt.exceptions.DecodeError: Invalid payload string: must be a json object".

see https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jwt.py#L84-L85

 I'm wondering if encodi

[2018-01-19 19:15] vimalloc commented on #326
I believe that the JWT spec requires the items to be a dict, due to all the documented claims. I assuming you are trying to encode a JWT that looks something like `['foo', 'bar', 'baz']`, is that right? Instead, you should do something like `{'items': ['foo', 'bar', 'baz']}`.

Maybe the wording of that exception could be updated to be less confusing.

[2018-01-19 20:47] david-jana commented on #326
My outgoing messages are all dicts, so no problem encoding.  It's the incoming message from making a third party api call that I'm trying to decode where the payload is just the list instead of embedding the list as the value of a key in a dict as in your suggestion.  I'll raise this issue with the third party and if I need to I'll just use a custom decode function that doesn't block such cases.

[2018-02-08 12:25] charlesasilva61 commented on #181
I have the same problem like a @mark-adams .
@mark-adams , Did you solve your problem?

[2018-02-12 08:37] goginenir6 commented on #181
I have also got same problem @pcwang0205 and  @charlesasilva61 . Is this problem solved?
@mark-adams
Could you please take a look at once.

[2018-02-12 23:13] sushovan23 opened #328 "ValueError: Could not deserialize key data."
Here is my code:

[code]
pubkey.pem is RSA key starting with:
[code]
stacktrace:

[code]
Please let me know where I may be going wrong.

[2018-02-13 17:22] sushovan23 commented on #328
Issue was with using cert instead of pubkey. I had to convert the cert to pubkey plaintext and then read it. It working

[2018-02-13 17:22] #328 closed

[2018-02-15 16:21] praveenupadrasta opened #329 "Couldn't decode the token."
I have been using JWT authentication for my recent project. But the problem is, I'm able to get the JWT encoded token but couldn't decode the same token with the same algorithm (HS256) and same 'secret_key' which I have in my django.conf.settings.

Here I provide the code I'm using.
 This is for token generation.

    def _generate_jwt_token(self):
        """
        Generates a JSON Web Token th

[2018-02-16 12:16] FilimonovAP81 opened #330 "MemoryError"
Hello,

I have a problem with this lib
I use python 2.7.10 and djangorestframework 3.3.2
I have installed last release pyjwt and if i import jwt then I have MemoryError. If I comment import line then no error messages.

Do you know potentional problem places or may be how I can localized  it?

[2018-02-16 20:02] anurag90x opened #331 "JWT strings different between python 2 and 3"
Because python dictionaries arent ordered by default in 2 and are ordered by default in 3, pyjwt generates different jwt strings because of https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jws.py#L83. This affects applications and libs that are doing jwt comparisons.

Would it be acceptable to change that to use an OrderedDict instead? That way, the jwt strings will be the same between 2 and

[2018-02-17 18:47] jpadilla commented on #331
This is not a problem. Spec does not require implementation to order keys.

Here are some previous conversations related to this.

https://github.com/jpadilla/pyjwt/issues/172

https://github.com/jpadilla/pyjwt/issues/248

[2018-02-17 18:47] #331 closed

[2018-02-17 18:48] jpadilla commented on #330
Is there a stack trace available, not aware of what in this library might cause an error like that.

[2018-02-17 18:59] #326 closed

[2018-02-17 19:00] #323 closed

[2018-02-17 19:00] #329 closed

[2018-02-17 19:02] #317 closed

[2018-02-17 19:03] #318 closed

[2018-02-17 21:11] FilimonovAP81 commented on #330
Yes, sorry
It looks like problem in the "/usr/lib64/python2.7/ctypes/__init__.py in _reset_cache, line 279" but this is standard python lib.
full stack trace in attachment
[New Text Document (4).txt](https://github.com/jpadilla/pyjwt/files/1734158/New.Text.Document.4.txt)

[2018-02-18 16:50] jpadilla commented on #330
Closing, as I don't see this library being used through that stack trace.

[2018-02-18 16:50] #330 closed

[2018-02-18 17:27] FilimonovAP81 commented on #330
Hm, but if I remove string "import jwt" from my code then all work fine (exclude decoding my jwt string).
May be your library need some specific access or has conflict this this (ctypes) module?
This is really strange.

[2018-02-19 08:11] FilimonovAP81 opened #332 "MemoryError again"
Sorry but I think you didn't solve my problem.

I don't know how to open already closed issues so I have created new one.

I have the same problem like in [this issue](https://github.com/jpadilla/pyjwt/issues/330) But I have attached wrong stack trace file.
In attachment you can find correct stack trace file.
[New Text Document (5).txt](https://github.com/jpadilla/pyjwt/files/1735908/New.Text.Docu

[2018-02-24 14:35] FilimonovAP81 commented on #332
I have already fixed it. The problem in cryptography library. If I understand this correctly, same of them wrote on C. And problem in the /usr/lib64/python2.7/ctypes/__init__.py in _reset_cache, line 279 happend then python try to work with C libs.  May be I am mistake but any way I uninstalled cryptography library and all works fine now.

[2018-02-24 14:35] #332 closed

[2018-02-25 15:08] pcwang0205 commented on #181
@goginenir6
you can use like this:
pip install jwt
[code]

[2018-03-07 12:25] apple-blossom commented on #181
Had the same problem, the solution was just to delete line with jwt.register_algorithm()
so:
`import jwt
...
payload = {...}
key = self.copy_file_text('some-key.txt')
result = jwt.encode(payload, key, algorithm='RS512')`
By the way, Pycrypto is deprecated, used Pycryptodome instead (python v3.6)

[2018-03-21 13:31] akash1551 commented on #319
Thanks @vimalloc , You saved me.

[2018-03-22 02:35] marcboissonneaultjda commented on #181
@apple-blossom:
pycryptodome is not part of the "[built-in Third party libraries](https://cloud.google.com/appengine/docs/standard/python/tools/built-in-libraries-27)" in app engine. And even once installed through the vendor process, it seems to use some C libraries.

`
  File "/base/data/home/apps/projectX/lib/Crypto/Hash/SHA256.py", line 23, in <module>
    from Crypto.Util._raw_api import (loa

[2018-03-23 00:14] caseyduquettesc commented on #181
If anyone is getting the "Algorithm already has a handler" problem, there's a simple fix. Unregister the original handler first.

[code]

[2018-03-23 15:01] acdebaca commented on #232
@mark-adams I feel like this feature should be on the docs site for pyjwt, as it's a common requirement and I was unaware of the `get_unverified_header` method until I stumbled upon this issue. Would you be interested in a PR with updated documentation, and if so, would you update the docs site?

Thanks!

[2018-03-24 00:03] mark-adams commented on #232
Absolutely! A PR that updates the docs would be very welcome. Once the PR is merged, it should automatically update the docs 🎉

[2018-03-27 13:21] m1schka opened #338 "Unable to verify ES512 token generated by JJWT/java-jwt"
Hey,
I am unable to verify a JWT token generated by JJWT/java-jwt when using the ES512 algorithm.
the token:
[code]
pub key:
[code]
it looks a bit weird because there are so many null bytes (here in base64 the A), so I decoded the signature, took out the nullbytes with a hex editor and base64 encoded it again and then pyjwt accepts the signature. After reading a lot there seem to be differences in

[2018-03-27 13:31] mw44118 opened #339 "Does pyjwt support the jti claim (nonce used to prevent replays)?"
I want to make sure a reset-password link can't be used more than once.

I'm setting an "exp" key to make it expire after a fixed amount of time.  I see there is a "jti" claim described in the spec, where each JWT would have a unique key, and I could verify that I've never seen this before.

Does pyjwt have this built-in?

If not, I can still add a "jti" key that points to a uuid.uuid4() value and

[2018-03-27 14:10] mark-adams commented on #339
Thanks!

In the case of some claims that have a very clear method of validation (like `nbf` and `exp`), we have built-in support in the library since it's easy to implement those. For `jti`, there's a lot of application-specific concerns involved that might differ between applications. For instance, if you are running a single instance of a web app, it might be easy to just have an in-memory set t

[2018-03-27 14:16] mw44118 commented on #339
I agree with all that; maybe the right thing to do is just have that paragraph in the docs, so that browsers like me don't ask this question again and again :)

I'll try to send a patch for the docs soon.

[2018-03-27 14:16] #339 closed

[2018-03-29 08:07] qwez opened #342 "Can't use encrypted private key to encode token with RS256"
I have an encrypted private key and try to encode token with RS256:
`encoded = jwt.encode({'some': 'payload'}, private_key, algorithm='RS256')`
And got:
`TypeError: Password was not given but private key is encrypted`

Please add argument `password` to `encode()` method

[2018-04-02 03:10] cppg opened #343 "What do you mean by this?"
path： jwt/api_jws.py
 line:+98 ==》segments.append(base64url_encode(payload))
If you do this, what's the point of encryption? The data was completely exposed

[2018-04-02 03:16] vimalloc commented on #343
This is simply not how JWT works. it does encrypt the data, it only verifies that the data in a token has not been tampered with (see https://jwt.io/introduction/). If you want to encrypt the data in a token you should use JWE instead.

[2018-04-02 03:54] cppg commented on #343
thanks

[2018-04-06 08:01] jacopofar commented on #312
I'm happy to give it a try, and hopefully include mypy to travis config

[2018-04-06 11:54] jacopofar commented on #312
Opend PR #344

[2018-04-19 13:13] #293 closed

[2018-04-19 16:02] Allan-Nava opened #347 "ValueError: Could not deserialize key data."
When I try to encode this data:

`{'user_id': 19, 'aud': 'django', 'exp': datetime.datetime(2018, 4, 19, 16, 6, 0, 516545), 'email': 'allan.nava@ies-italia.it', 'token': {'expires_in': 300, 'not-before-policy': 1523627965, 'token_type': 'bearer', 'access_token': 'eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI4c2RZTEJsdFVWTjlqcUpBLXFVWHJmUnRkWXFqanRQX0NRUlhDdHZNU1JVIn0.eyJqdGkiOiJkMDhiN2Q2My1l

[2018-04-20 09:41] Allan-Nava commented on #328
@sushovan23  how do you solve the problem?

[2018-04-20 13:25] sushovan23 commented on #328
I have to convert the cert file -

openssl x509 -in certificate.cer -pubkey -noout > publickey.txt

[2018-04-20 14:00] Allan-Nava commented on #328
@sushovan23 I used the keycloak to get the jwt but I want to implement with django restframework-jwt and keycloak. Is possible?

[2018-04-23 05:48] wichert commented on #144
@evertlammers JWK sets would be very nice. They look pretty essential when using AWS user pools.

[2018-04-24 20:09] d0nutptr commented on #234
Nice private key..

[2018-05-04 04:39] gwl002 commented on #347
Same problem.I have tried many methods found online but all failed.

[2018-05-10 02:40] jpadilla commented on #343
@vimalloc thank you

[2018-05-10 02:40] #343 closed

[2018-05-10 02:42] jpadilla commented on #342
https://github.com/jpadilla/pyjwt/issues/320#issuecomment-353236716

[2018-05-10 02:42] #342 closed

[2018-05-17 08:31] 52lemon opened #349 "How to extend the effective duration of the token"
How to extend the effective duration of the token? can you give me an example!!! thanks

[2018-05-21 20:03] zulrang commented on #144
+1

[2018-05-23 23:32] dlopuch opened #351 "1.6.1 --> 1.6.3 introduced breaking API changes: .decode(token=) vs .decode(jwt=)"
PR #344 renamed some arguments on `api_jwt` ([for example](https://github.com/jpadilla/pyjwt/pull/344/files#diff-00ea5fc2260636f8d87435daf8c3b4c7R69)).  This is a breaking API change -- although the argument normalization is appreciated and an improvement, this should have triggered a major version bump (eg 1.6.1 --> 2.0.0) or there should have been a deprecation warning when using the old arg.

#

[2018-05-24 02:13] mark-adams commented on #351
I agree. I'll submit a pull request to revert that change.

[2018-05-24 02:27] mark-adams commented on #349
Hi @52lemon,
If you'd like to generate a token with a longer expiration, simply set the `exp` claim in your token.
For instance:
[code]

[2018-05-24 02:27] #349 closed

[2018-05-24 02:45] #351 closed

[2018-05-28 09:22] aklim007 commented on #312
@jacopofar hello, in `decode` methods `jwt` and `jws` parameters may by bytes, not only str.

[2018-05-28 10:06] Krishnaprasad66 commented on #234
Hi Team,

  is it possible to read key from .p8 file by running command
  is it possible to convert .p8 file to .pem file?

[2018-05-31 10:11] FelikZ commented on #181
I think it worth to mention `cryptography` requirement in README.md , otherwise people will end-up here trying to figure out why it does not work :)

[2018-06-08 09:54] SamuelKnoch commented on #347
Same problem :disappointed:

[2018-06-12 19:58] SrChip15 opened #354 "Problem upgrading package"
Summary
===
Tried updating package with the following command:
`pip3 install pyjwt -U`

I am using Python 3.6.5

Below is the dir level permissions info:
`rw-r--r--    admin    1 KiB  Tue Dec  5 15:00:12 2017   DESCRIPTION.rst `

Also ran with sudo, like so:
`sudo pip3 install pyjwt -U`

which yielded,
`The directory '/Users/<user>/Library/Caches/pip/http' or its parent directory is not owned by t

[2018-06-13 06:47] aseem-hegshetye commented on #257
I had same error. I had copy pasted pem file from my mac to ec2 ubuntu using nano editor.
Instead if you copy the entire pem file using scp from mac to ec2 ubuntu, it works.

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AccessingInstancesLinux.html

[2018-06-14 10:00] psafont commented on #307
I use this:

[code]

works for python 2.7, 3.4, 3.5, 3.6

[2018-06-14 15:07] kosso opened #355 "pip install PyJWT fails"
[code]

I also tried `--trusted-host pypi.python.org`

[2018-06-15 03:06] #307 closed

[2018-06-21 12:58] codemeetspeople commented on #347
Same problem.

[2018-06-25 07:21] koorukuroo commented on #355
Try it
```pip uninstall pyOpenSSL```

[2018-06-26 21:54] srikanthjeeva commented on #181
Adding `cryptography` to my `requirements.txt` solved the issue :) Thanks!

[2018-06-29 18:15] srevenant opened #358 "Problem w/binary data keys"
I am still not certain where this problem lies, but pyjwt has allowed me to use binary data as a key, but I cannot decode the same from node.js

I have written several tests in trying to troubleshoot this, and they are here w/output:
https://github.com/srevenant/pyjwt-binary-secrets-bug

At a high level, both of these should work as the second doesn't throw an error (such as it does when run with

[2018-06-29 20:19] srevenant commented on #358
I created another test (but have not published it) which verifies a jwt encoded with the binary secret in node.js by `jsonwebtoken` and decoded in `njwt` and it works fine, but it cannot decode a jwt created by pyjwt with the same binary secret.  It feels to me like this is a pyjwt problem in handling bytes data.  Please LMK if I can assist any, I don't know where to investigate within the code ba

[2018-07-12 17:27] tyrelkostyk opened #359 "RS256 Token Validation & Decoding using Public Key Not Working "ValueError: Could not deserialize key data.""
I'm trying to validate Google's ID Tokens for user authentication on a web app. The id token can be decoded fine if I disable verification, but won't verify when I pass it the RSA256 Public Key. The Public Key in question is Base64urlUInt-Encoded ([RFC 7518 Specification](https://tools.ietf.org/html/rfc7518#section-6.3)).

#### The Entire Public Key Response
[code]
According to the Specification I

[2018-07-18 12:50] agruener2000 opened #361 "Add Support for Algorithm ES256K"
In Bitcoin and Ethereum the elliptic curve signature algorithm with curve es256k1 (abbreviation: ES256K) is used. PyJWT currently does not support this algorithm.

[2018-07-18 23:17] xujiahaha commented on #355
If you were using `virtualenv`, try to upgrade it. It worked for me.

[2018-07-19 07:08] thomasliub commented on #359
Have the same issue.

[2018-07-19 13:33] jpadilla commented on #359
Try something like this:

[code]

[2018-07-19 13:37] #355 closed

[2018-07-19 13:37] jpadilla commented on #354
Feel free to open again if this is still an issue...

[2018-07-19 13:37] #354 closed

[2018-07-19 19:56] SrChip15 commented on #354
Can I take it that it's been fixed?!

[2018-07-19 20:07] jpadilla commented on #354
Not particularly. I have not reproduced this issue or seen any other reports.

[2018-07-23 08:45] bongtrop opened #362 "EC Signature allows to use ssh pub key format but HMAC doesn't check invalid secret key."
The ECDSA algorithm allows to use ssh public key format `ecdsa-sha2` but HMAC doesn't check invalid secret key. If users use ECDSA algorithm and they don't identify algorithm on decode, the attacker can tamper algorithm to HS. Then the server will use ECDSA public key with HMAC secret key.

[2018-07-23 19:50] chadjaros commented on #181
👍 add to readme please

[2018-07-23 20:04] jpadilla commented on #181
We need to update docs, but `pip install pyjwt[crypto]` should work.

[2018-08-01 14:30] coopa commented on #144
JWK sets are also part of the OpenID spec (see jwks_uri [here](http://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata)), so expanded support for them would be welcome.

This also tangentially ties in with comprehending x5c/x5t fields in JWKs, which the lib does not appear to do at this time.

[2018-08-05 05:56] thekondor opened #364 "Impossible to use custom UTC now time value on token decoding"
`decode()` is stuck with using `datetime.utcnow()` call for IAT, NBF and EXP verification. That makes using of custom time sources hardly impossible. As well as testing of a code dependent on `pyjwt`.

Since it is possible to set `iat`, `nbf` and `exp` claims with a time retrieved from a custom time source, it should be possible to validate them against a time from the same source.

[2018-08-05 10:15] ghost opened #366 "invalid client credentials"
Summary.

## Expected Result

Valid token

## Actual Result

{'error': 'invalid_client', 'error_description': 'invalid client credentials'}

## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

[code]

This command is only available on PyJWT v1.6.3 and greater. Otherwise,
please provide some basic information about your system.

[2018-08-08 19:42] matayru commented on #359
_Convert JWK to pem; use nodejs and jwk-to-pem_

`jwk = require("./jwk.json")
topem = require("jwk-to-pem")
pem = topem(jwk)
`
_Write to file_
`fs = require("fs")
fs.writeFile("appname.json", pem)`

[2018-08-15 14:54] xsank opened #369 "Will pyjwt support "sub: The subject of the token"?"
The full claim attributes as follows:

iss: The issuer of the token

`sub`: The subject of the token

aud: The audience of the token

qsh: query string hash

exp: Token expiration time defined in Unix time

nbf: “Not before” time that identifies the time before which the JWT must not be accepted for processing

iat: “Issued at” time, in Unix time, at which the token was issued

jti: JWT ID claim p

[2018-08-29 16:02] ptdel commented on #144
Okta, OneLogin, Cognito, etc all proffer keys in jwks format.  Not having to convert to PEM would be really appealing.  in addition to the fields that @coopa brings up, some of these providers will only give an exponent (e) and modulus (n) in addition to the algorithm and kid, so there needs to be support for rebuilding from just those components if x5c/x5t aren't available.

[2018-08-29 16:35] ptdel commented on #144
Hairy, but this converts from jwks exponent and modulus to PEM format.  Rather pilfered from solutions around the web.

[code]
would work with something like:
[code]
for example.

[2018-09-06 21:26] jonobrien commented on #369
#339 related

[2018-09-07 01:09] macmichael01 opened #371 "inconsistent results in Python2 - Python3"
When I run the following command below. I receive inconsistent results.

## Expected Result

The same token should be returned. There is one noticeable difference in the second token which is the b (byte) prefixed to the string.

## Actual Result

two different strings

## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

Tested on Mac OS
[code]
Tested on Ubuntu 16.04
[c

[2018-09-07 02:29] mark-adams commented on #371
The reason you see different tokens is that Python's `dict` datatype (used for storing JWT claims) does not guarantee ordering of the keys. As a result, changes to the internal `dict` implementation between Python versions can cause two dict literals to have keys that are ordered differently even though the dicts are equivalent to one another.

[2018-09-07 03:01] macmichael01 commented on #371
You are referring to an internal dict in the pyjwt library or the dict that I passed?

When testing between versions, this becomes an issue.

What about using OrderedDict?

[2018-09-08 02:17] macmichael01 commented on #371
Oh ok I see what was happening now. The solution is to first assign the dict to a variable. Explicitly passing a dictionary in the way that I did will not guarantee order between python versions (which I still find a bit odd but I am sure there is a reason internally or this). It's best to assign a dict to a variable and pass that variable along.

[code]

This will only ever be an issue if you nee

[2018-09-10 23:46] styk-tv commented on #359
<img width="738" alt="screen shot 2018-09-11 at 00 35 42" src="https://user-images.githubusercontent.com/838921/45329920-bd280200-b55a-11e8-8092-2242f5341e5e.png">

[2018-09-12 06:15] styk-tv commented on #347
openssl looks at every character of the public key, a white-space missing or BEGIN headers mismatch or missing and it just stops on that silly deserialize message. took me forever to solve this. i was lucky, because in case of openid you can retrieve all information to programmatically compose a public key from openid's well.known cert endpoint and then feed it into jwk as object (one line of code

[2018-09-16 12:54] mydockergit opened #372 "Can't use "RS256" algorithm - "ValueError: Could not deserialize key data""
Closed. Opened by mistake

[2018-09-16 12:59] #372 closed

[2018-09-18 09:26] MonkeyInWind opened #373 "The old token will not fail, when I generate a new token."
I generate a token named 'a' and expire for one day, then I generate a token named 'b',use the same object, the difference is 'iat' and 'exp'.
Now the two token are effective.
But I only need one token to work.
Can you add a API that makes token invalid or invalidation of old ones when new token is generated?
thanks!

[2018-09-18 13:51] vimalloc commented on #373
Nope, that’s fundamentaly not how JWTs work.

If you want to not allow the old token when creating a new token, you will need to create a blacklist on your backend where you mark the old token as revoked, then manually check that blacklist every time a request comes in to see if the token is revoked or not.

[2018-09-18 13:57] MonkeyInWind commented on #373
Ok, thanks.

发自我的 iPhone

在 2018年9月18日，21:51，Landon <notifications@github.com<mailto:notifications@github.com>> 写道：

Nope, that’s fundamentaly not how JWTs work.

If you want to not allow the old token when creating a new token, you will need to create a blacklist on your backend where you mark the old token as revoked, then manually check that blacklist every time a request comes in to see if the

[2018-09-20 04:48] asajuenitan opened #374 "AttributeError: module 'jwt' has no attribute 'encode'"
Using
`import jwt`

`encoded = jwt.encode({'some': 'payload'}, 'secret', algorithm='HS256')`
**Traceback (most recent call last):
    File "< stdin >", line 1, in <module>
AttribureError: module 'jwt' has no attribure 'encode'**

Same issue with using `decode`

[2018-09-20 04:49] vimalloc commented on #374
Do you have a file called jwt.py in the same directory where you are trying to run the code?

[2018-09-28 14:58] benjamimo1 opened #376 "AttributeError: '_RSAPrivateKey' object has no attribute 'sign'"
When using a pair of RSA keys to try the example given in the docs:

[code]

## Expected Result

I'm expecting to get both variables assigned without problem.

## Actual Result

But what happens instead is that I'm getting:

`AttributeError: '_RSAPrivateKey' object has no attribute 'sign'`

## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

[code]

This command is only

[2018-09-28 20:13] PauloViniciusBaleeiro commented on #319
Thanks @vimalloc, after spent a whole day in this, i found this issue and, principally, your ask.

[2018-10-03 15:38] desertkun commented on #286
[code]

[2018-10-03 16:42] infohack1 opened #377 "python 2.6 support for v1.5.3 not working on fedora"
As per pypi link https://pypi.org/project/PyJWT/1.5.3/ , python 2.6 is supported for version 1.5.3, but
rpm at https://fedora.pkgs.org/26/fedora-updates-x86_64/python2-jwt-1.5.3-1.fc26.noarch.rpm.html
shows python2-jwt-1.5.3 requires Python(abi) = 2.7 .

Can you please guide me on how to install and use pyjwt for python 2.6 on fedora.

[2018-10-05 22:38] logankaser commented on #376
I also have this problem.

[2018-10-05 22:39] theo-walton commented on #376
{
  "cryptography": {
    "version": "2.3.1"
  },
  "implementation": {
    "name": "CPython",
    "version": "3.7.0"
  },
  "platform": {
    "release": "17.7.0",
    "system": "Darwin"
  },
  "pyjwt": {
    "version": "1.6.4"
  }
}

i also have this issue

[2018-10-09 18:04] logankaser commented on #376
@pcchannz With RSA you sign with the private key. JWT's do not encrypt data, they only sign it.

[2018-10-10 23:01] pcchannz commented on #376
Thanks @logankaser. I should update the original comment description. It should be sign message with public key.

Additional notes, it seem like while is **mathematical possible** to sign jwt with public key, it is not compliant as public key is meant to be known. If I am correct, pyjwt is compliance with the standard and therefore throwing this message?

Reference: https://stackoverflow.com/quest

[2018-10-27 18:01] nourchawich commented on #376
Any update on this?

[2018-10-27 19:43] pavelsuk commented on #82
I tried the example from https://github.com/jpadilla/pyjwt/issues/82#issuecomment-71397750 and it requires little bugfix - the file should be opened as binary:

[code]

So complete code is:

[2018-10-27 19:50] pavelsuk commented on #347
I had the same issue as well and hint in https://github.com/jpadilla/pyjwt/issues/82#issuecomment-71396019 helped me. See the code snippet in https://github.com/jpadilla/pyjwt/issues/82#issuecomment-433649759.

[2018-10-30 13:25] a-recknagel opened #380 "Support nested payloads on pyJWT CLI"
The help text for pyjwt suggests that

This doesn't work for nested payloads, like `{'nested': [{'name': 'me', 'id': 'one'}]}`, which is a perfectly valid payload when using `pyjwt` in python code:

[code]

Maybe add the option to submit `json.loads`-able payloads using a reserved keyword `payload`?

[code]

[2018-11-01 20:18] jaraco opened #381 "DeprecationWarning on Python 3.7: Using or importing ABCs from collections"
[code]

[2018-11-04 22:52] carlwgeorge commented on #377
Fedora 26 has Python 2.7, not 2.6.  The python2-jwt package is built against the system version of Python 2, hence the requirement you observed.  If you somehow managed to downgrade Fedora 26's Python to 2.6, you're going to see lots of problems like this.

Fedora 26 is end of life.  If you need to run on Python 2.6, I suggested switching to RHEL/CentOS 6, which still uses 2.6 and is [supported un

[2018-11-05 03:53] carlwgeorge opened #382 "failed tests"
I co-maintain the python-jwt package in Fedora for PyJWT.  The test suite is now failing in Fedora 30 and I'm not sure why.  The failing tests are:

* `TestJWS.test_decode_no_algorithms_verify_signature_false`
* `TestJWT.test_decode_no_algorithms_verify_false`

## Expected Result

Tests to pass (just like they did in Fedora 29).

## Actual Result

[code]

Full output: https://gist.github.com/carlw

[2018-11-05 18:47] jpadilla commented on #382
I recently ran into something similar so I pinned test dependencies. https://github.com/jpadilla/pyjwt/commit/b616107dab3d977771cf3568eff6be5150f69037

[2018-11-05 21:58] carlwgeorge commented on #382
I went through and ran the tests with various pytest versions from 3.6.4 (the version in Fedora 29) and 3.10.0 (latest).  They pass fine up until 3.7.4, then it gets messy.

- 3.6.4 through 3.7.4: `173 passed, 14 skipped, 1 xfailed`
- 3.8.0 through 3.8.2: `173 passed, 14 skipped, 1 xfailed, 143 warnings`
- 3.9.1 through 3.10.0: `2 failed, 171 passed, 14 skipped, 1 xfailed, 143 warnings`

[2018-11-08 12:10] ahopkins opened #383 "DeprecationWarning ... but algorithms are defined."
I am receiving a `DeprecationWarning` on my tests for [`sanic-jwt`](https://github.com/ahopkins/sanic-jwt/) even though `algorithms` is explicitly set.

## Expected Result

Tests to run without `DeprecationWarning`

## Actual Result

[code]

## Reproduction Steps

The code is essentially this:

[code]

Running just this is fine.

[See the actual code here](https://github.com/ahopkins/sanic-jwt/blo

[2018-11-08 14:22] vimalloc commented on #383
You have places in your unit tests where you are calling decode directly without specifying algorithms:
https://github.com/ahopkins/sanic-jwt/blob/9dd5d1a016281c76e53311b5d3f29b18f244a9aa/tests/test_claims.py#L16

[2018-11-08 15:18] ahopkins commented on #383
🤦‍♂️🥴🙄😶

Thanks. me == embarrassed.

[2018-11-08 15:18] #383 closed

[2018-11-19 17:18] southwolf commented on #374
You might have installed another package [jwt](https://github.com/GehirnInc/python-jwt)

Did you run `pip install jwt`? @heroh9

[2018-11-27 22:36] trevh3 opened #385 "Encoding JWS with a dictionary payload"
## Summary
Are dictionaries supported when encoding a JWS? The comments seem to support this use case, but the error message I receive indicates that only bytes-like variables are supported.

## Reproduction Steps

[code]

Response:
[code]

## System Information

    $ python -m jwt.help

[code]

This command is only available on PyJWT v1.6.3 and greater. Otherwise,
please provide some basic infor

[2018-11-27 22:48] vimalloc commented on #385
Instead try:

[code]

[2018-11-27 22:52] trevh3 commented on #385
That works well. The comment just indicates that dictionaries are accepted.

[2018-11-28 17:58] glaubitz commented on #382
We're using the patch from https://github.com/NixOS/nixpkgs/pull/49602 in openSUSE now and it fixes the testsuite.

[2018-11-29 16:24] jpadilla commented on #382
Aiming to release a new update before the week ends.

[2018-12-05 19:32] jpadilla commented on #382
Released v1.7.0 last week.

[2018-12-06 10:07] dotlambda commented on #382
It's said to see you're viewing pinning the pytest version as a solution to this.

[2018-12-06 11:32] jpadilla commented on #382
@dotlambda I can't do anything about it with a comment like that though.

What would you recommend we should do exactly? Stop pinning? Pin a specified range so it doesn't happen again? Add a compat layer to handle various versions of a test dependency?

[2018-12-06 11:37] glaubitz commented on #382
@jpadilla I would suggest using the patch from https://github.com/NixOS/nixpkgs/pull/49602.

Pinning users to an old version is a bad idea, in particular when users are getting their Python packages through their Linux distribution.

[2018-12-06 11:48] jpadilla commented on #382
@glaubitz That I can do, thanks. Wouldn't not pinning(at least a range) mean it's more likely for tests to break like they did at a later point? Current pytest version is now 4.0.1

[2018-12-06 11:55] glaubitz commented on #382
Pinning is fine as long as you're not pinning to a fixed version and you're depending on a reasonably new version which distributions would ship in their unstable or rolling release distributions. In this case, the version you pinned on was relatively old looking at the number of releases pytest made since 3.7.0 was released. So, it's expected for Linux vendors to package versions later than 3.7.0

[2018-12-06 12:43] jpadilla commented on #382
@glaubitz thanks for the thorough explanation! Here's what I did: https://github.com/jpadilla/pyjwt/commit/b65e1ac6dc4d11801f3642eaab34ae6a54162c18

[2018-12-07 13:42] jpadilla commented on #382
https://github.com/jpadilla/pyjwt/releases/tag/1.7.1

[2018-12-07 13:42] #382 closed

[2018-12-17 10:59] AntonOellerer opened #386 "PyJWT in AWS Lambda"
I want to use PyJWT in an aws lambda function.
This fails without any helpful error messages from aws.

I created a serverless project (` sls create ---template aws-python3`), a script importing the library, freezing the requirements to a `requirements.txt` file and then deploying it.

## Expected Result
I expect nothing out of the ordinary here, since local invocation of the `handler` function ru

[2018-12-17 13:58] sander-su commented on #359
Just for reference, I'm also using keycloak and for me the issue was line breaks
(windows vs linux) and
adding linebreaks (after 76 characters) in the keystring (besides adding the header and footer)

[2018-12-18 01:30] jpadilla commented on #386
@AntonOellerer how exactly are you packaging your deployment? I wonder if you might need need to use https://github.com/UnitedIncome/serverless-python-requirements

A full stack trace might also be useful.

[2018-12-18 10:17] AntonOellerer commented on #386
I'm just doing it with `sls deploy` rn.
I will take a look at sls python requirements, thank you!
How do I get a full stacktrace?

[2018-12-20 04:03] ncknuna commented on #144
In case anyone stumbles across this and just needs to decode a single JWK and got confused as to if that was supported or not, here's all you should need:
[code]

JWK Sets, on the other hand, are not supported yet, AFAIK

[2018-12-20 10:53] AntonOellerer commented on #386
thank you, with serverless-python-requirements it worked for `sls invoke -f main`
Sadly I can't test via http requests now due to upload limitations.

[2018-12-22 16:42] #386 closed

[2018-12-28 23:05] vjsimha1 commented on #359
Thank you @jpadilla! I was stuck for a long time but then came across this post and now I am able to successfully verify JWT token issued by AWS Cognito User Pool using the same guidelines.

Thanks once again!

[2018-12-31 07:52] jadhavmanoj commented on #371
Hello @macmichael01,

I am using flask and pyjwt python2.x version. Now I am upgrading python 2.x to python3.x. Should I go with pyjwt or use flask jwt?

[2018-12-31 14:53] vimalloc commented on #371
You should not use Flask-jwt, it has been abandoned for years. Flask-jwt-extended or flask-jwt-simple are both actively maintained flask extensions, and use PyJWT behind the scenes. There is also nothing wrong with using PyJWT directly in your flask application if you want to go that route.

[2019-01-03 04:11] macmichael01 commented on #371
@jadhavmanoj I don't think this will be a common bug that most developers will run into.

I would recommend identifying in your code where PyJWT is being called and run some tests on those specific parts of code both in py2 and py3 and verify that you are receiving expected results.

If you have already developed an app using Flask + PyJWT, I wouldn't recommend converting to another 3rd party libr

[2019-01-03 05:18] justmobilize commented on #371
The other thing to note is that your data is the same:

`eyJ0cmFuc2FjdGlvbiI6IjZmYTQ1OWVhLWVlOGEtNGNhNC04OTRlLWRiNzdlMTYwMzU1ZSIsImV4cCI6MTQ5Nzk2NTY0MH0`

It's the first part, which is the header.
`eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9` >> `b'{"alg":"HS256","typ":"JWT"}'`
or
`eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9` >> `b'{"typ":"JWT","alg":"HS256"}'`

[2019-01-07 06:43] ziaul-haque opened #387 "The old expired token is passed and didn't throw ExpiredSignatureError"
Summary
1. Created email signup link with ttl_sec = 5
2. After 5 secs of expired token, jwt decode the token as passed not throwing expired signature error.
3. jwt 1.4.2
Payload: {"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiYXV0aDB8NWMyMzY1Zjg3ZTg1ZGUzMWI5ZjNjYzliIiwiZW1haWwiOiJkZW1vX3VzZXJfMTBAeW9wbWFpbC5jb20ifQ.1z9g9PUA304SOnXozI3vPKvtUoD-Z4oLWGaRNkGT0s8","password":"*******"}

[2019-01-07 14:50] vimalloc commented on #387
`ttl_sec` is not a registered claim name that is automatically validated. The claim you are looking for is `exp`.

[2019-01-07 17:54] jpadilla commented on #387
@ziaul-haque what @vimalloc comments is correct. Furthermore, your sample token's payload does'nt event contain `exp` nor `ttl_sec`.

[2019-01-07 17:54] #387 closed

[2019-01-07 19:43] #371 closed

[2019-01-09 20:49] qilyn opened #389 "Toggle validation of specific claims"
We currently use this library (and JWTs) to retrieve some information from an outside system, which is independent of us. The trouble is that that system doesn't generate a unique token each time one is requested--it caches them, so occasionally a token's `audience` claim will belong to a different project.

It's great to be able to provide a list of possible values this field could contain (thank

[2019-01-10 03:34] jpadilla commented on #389
You can actually do this already. Although we should do a better job at documenting it(help wanted 😃)

[code]

[2019-01-10 21:08] qilyn commented on #389
Oops! Thanks so much, that would do it! (Maybe I'll help with that instead :joy:)

[2019-01-10 21:08] #389 closed

[2019-01-18 21:45] lbragstad opened #390 "RFE: Support for multiple signatures"
The [JWS RFC section 7](https://tools.ietf.org/html/rfc7515#section-7) details optional support for multiple signatures, depending on the serialization approach.

I'm checking to see if it would be feasible to support passing multiple private keys into ``encode()`` as a way to generate multiple signatures for a JWS. A benefit of using multiple signatures is that it would allow for a graceful trans

[2019-01-22 20:15] shughes-uk opened #391 "jwt.encode generating bytes instead of a string"
The documentation example seems to indicate the result of jwt.encode is a string. The actual result with Python 3.7.1 is bytes. If this is just a documentation issue i'm happy to submit a small PR.
## Expected Result

[code]

## Actual Result

[code]

## System Information

[code]

[2019-01-22 23:42] donspaulding commented on #359
@vjsimha1 Indeed, this is the solution I came up with for decoding AWS Cognito tokens:

[code]

Does this look similar to your solution?

[2019-01-23 00:32] styk-tv commented on #359
@donspaulding @vjsimha1

I documented my process in this PR https://github.com/vimalloc/flask-jwt-extended/pull/222
Take a look at the doc, that setup works with Keycloak but should be very similar to Cognito. As a matter of fact we should start a catalog of all the public OIDC autoconfig url's in a gist somewhere.

[2019-01-24 08:20] Hanaasagi opened #392 "Confused with jwt.decode return type"
I am using mypy to check my code. And I find that the annotation  of `jwt.decode`'s  return value is `Mapping[str, Any]`. It's immutable, so if i change it, mypy will complain `Unsupported target for indexed assignment`. I think the type should be `Dict[str, Any]` or `MutableMapping[str, Any]`. Are there someone give a official solution?

More detail, please see https://github.com/python/typeshed/

[2019-01-24 22:49] jacopofar commented on #392
Seems a good idea, I tried to[ implement it](https://github.com/jacopofar/pyjwt/commit/4799c4e2cb462c4ef2db89ab81779afc344b69fd) and it passes the tests and mypy.

It took me some time to realize why it was `Mapping`, and apparently mypy inferred it from the check [at line 100](https://github.com/jacopofar/pyjwt/blob/decode-return-dict/jwt/api_jwt.py#L100).

[2019-01-25 01:59] Hanaasagi commented on #392
After `json.loads`, the key of `dict` must be a `str` type, maybe `Dict[str, Any]` is better. I've made some changes in https://github.com/python/typeshed/pull/2765.

[2019-01-25 08:01] #373 closed

[2019-01-25 08:42] jacopofar commented on #392
Right, fixed. Is it still needed?

[2019-01-25 15:17] jpadilla commented on #392
@jacopofar yes please! 👍

[2019-01-29 08:30] qiaocco opened #394 "payload type error"
Summary.

## Expected Result
according to source code, payload can be Dict or bytes:
https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jwt.py#L41
[code]

## Actual Result

but when I use bytes type:
[code]

## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

[code]

[2019-02-01 12:53] #392 closed

[2019-02-01 12:59] Hanaasagi commented on #394
You can get the reason in the next few lines. https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jwt.py#L48

[code]

In typeshed, it has the correct type. https://github.com/python/typeshed/blob/master/third_party/3/jwt/__init__.pyi#L10

[code]

[2019-02-01 14:38] Hanaasagi opened #396 "Incorrect type annotation in `jwt.encode`"
Similar to #394, but deeper.

In current `pyjwt`, `PyJWT.encode`'s type annotation is:
https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jwt.py#L48

[code]

`payload` is `Union[Dict, bytes]`, but actually it should be `Mapping[str, Any]`.

And current `PyJWS.encode`'s type annotation also is `Union[Dict, bytes]`.
https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jws.py#L77

[code]
But it c

[2019-02-01 14:55] rudmac commented on #359
same problem when trying to validate firebase tokens with the public key [https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com](url)

works only with verify=False

`
@app.post("/auth_firebase")
async def route_firebase_login_access_token(form_data: OAuth2FirebaseTokenRequestForm = Depends()):
    token = form_data.token

    header = jwt.get_unverified_header(to

[2019-02-05 09:22] randomstuff commented on #390
Multiple signatures is only possible with JWS JSON serialization (i.e. [not the Compact one](https://tools.ietf.org/html/rfc7515#section-7.1)):

JWT on the other hand is [restricted to the Compact serialization](https://tools.ietf.org/html/rfc7519#section-1):

Thus, it is not possible to use multiple signatures with JWT. It probably does not make much sense to add support for multiple signatures i

[2019-02-09 13:50] livespotty opened #397 "RFC7797 - Unencoded Payload Option"
Suggest an idea for this project.

https://tools.ietf.org/html/rfc7797. Support for JSON Web Signature (JWS) Unencoded Payload Option

[2019-02-19 10:47] kodkuce opened #399 "TypeError on doc example?"
Tryed exactly example from your documentation and i get this error

encoded = jwt.encode({'some': 'payload'}, 'secret', algorithm='HS256')

TypeError: Object of type bytes is not JSON serializable

am i doing soemthing wrong or wtf?

[2019-02-19 11:58] kodkuce commented on #399
Ok so i created a tottaly new project only imported jwt and it works, so need to figure out where it confilicts in my project

[2019-02-19 12:05] kodkuce commented on #399
Ok so flask was not allowing me to return encoded error was there :)

[2019-02-19 12:05] #399 closed

[2019-02-22 10:48] jgehrcke opened #400 "float values should be allowed for exp claim"
Currently JSON Web Tokens are invalidated by PyJWT when their `exp` claim contains a numeric non-integer value, as in a simple floating point number.

However, as of RFC 7519 non-integer values should be fine. The `exp` claim specification says that the value must be a `NumericDate`; and https://tools.ietf.org/html/rfc7519#section-4.1.4 pretty clearly says about NumericDate fields:

What do I miss

[2019-02-22 10:58] jgehrcke commented on #400
Nevermind, the first sentence is actually wrong:

Sorry for the noise!

[2019-02-22 10:58] #400 closed

[2019-02-28 07:05] venkat-pixelbrook commented on #374
use "pip install pyjwt"

[2019-03-01 17:37] codingchili opened #401 "Unable to verify token with alg: 'none'"
Attempting to verify a token with the alg header set to 'none' always fails. This is because the implementation of the NoneAlgorithm 'verify' unconditionally returns False.

[code]

## Expected Result

Verifying any token with the alg header set to 'none' should always succeed whenever the token has a valid format.

## Actual Result

Verifying the token fails.

[code]

## Reproduction Steps

[code

[2019-03-01 21:35] kevjin commented on #401
verifying token with 'none' is a security vulnerability
https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

[2019-03-02 07:09] codingchili commented on #401
Yes agreed, but only if it's allowed by default in the algorithm whitelist. If I explicitly stated that I want to allow 'none' I would also expect it to verify.

We already enforce the secret to be set to None when using this algorithm. Unless we allow None secrets for other algorithms (which also is a security issue) it should be fine. We could also block mixing 'none' with anything else in the w

[2019-03-03 19:19] lfshammu commented on #374
Had a similar issue. Accidentally installed jwt first. Just removing jwt and installing PyJWT did not help.
Recreating my virtual environment and installing PyJWT fixed the issue.

[2019-03-05 11:37] fredaas opened #402 "AttributeError: 'module' object has no attribute 'encode'"
The provided example under "Usage" in `README.md` crashes with said attribute error out of the box.

I see similar topics have been posted but no real solutions that address the issue have been provided, pluss the API-documentation is lacking.

Anyone care to explain how to get this basic example to work?

Running Ubuntu 18.04, Python 3.6.7, pyjwt 1.7.1.

[2019-03-05 11:40] fredaas commented on #402
The problem is resolved by ensuring that there are no Python-files named "jwt" in the same directory.

[2019-03-05 11:40] #402 closed

[2019-03-07 11:56] thegrumpyscot opened #403 "Generated JWT fails under call made by Python 3.x, but works under Python 2.x"
Using Python 2.x with PyJWT results in a correct response while using the Apple Music API, however switching to Python 3.x persistently yields a 401 (unauthorized) response, suggesting that the generated token is no being correctly generated.

## Expected Result

Running the CURL command produced by the sample code under Python 2.x yields an HTTP/2 200 status code with a JSON response for the endp

[2019-03-07 14:53] vimalloc commented on #403
It might be an encoring issue with the resulting token. Try adding `.decode('utf-8')` after creating the token with `jwt.encode()`

[2019-03-14 03:56] Mr-artist opened #404 "{"hash":"md4","alg":"HS256","typ":"JWT"}"
token = 'eyJoYXNoIjoibWQ0IiwiYWxnIjoiSFMyNTYiLCJ0eXAiOiJKV1QifQ.eyJzaWQiOiIzNTI3MzRkMTM4ZTU0MTczYzFjNzhiYThkZTM5ZmYyYiIsImV4cGlyZSI6MTU1MjQ2NDU2NX0.Le4K9oJaP3rMMW6kVjKhyPgJ1JxWKDW5M9nMnBeWUqI'

'hash' in header dict, Is it the same way?,Must I get secret value?

[2019-03-16 02:04] jpadilla commented on #404
I'm not sure what you're asking. Closing for now, feel free to give an update.

[2019-03-16 02:04] #404 closed

[2019-03-16 19:56] brandonmbanks commented on #391
Also having the same issue. Any news on this?

@shughes-uk It is possible to decode the byte string by appending `.decode('utf-8')`. It will keep the same string and signature.