[2019-03-16 22:20] shughes-uk commented on #391
Oh I know, it's just a docs fix I think

[2019-03-21 18:31] fredaas opened #405 "jwt.exceptions.DecodeError: Not enough segments"
## Problem description

pyjwt yields said error message when trying to decode an RS256-decoded ID token returned from our OIDC/Oauth token endpoint.

The signed JWT token is encoded using the following header/body:
[code]
The token is then submitted to the token endpoint with the following payload:
[code]
Trying to decode the returned ID token with the code shown bellow triggers an exception withi

[2019-03-21 22:41] Botono opened #406 "Encode via command line cannot set headers"
There is no way to set headers on a token when encoding via the command line.

## Expected Result

Command line arguments should accept some kind of headers input and pass it to `encode()`.

## Actual Result

Headers cannot be set.

## Reproduction Steps

[code]
`headers` value will appear in the payload.

You can see that no header value is passed to `encode()` here: https://github.com/jpadilla/p

[2019-04-01 21:33] fergyfresh commented on #116
We have a 3rd party integration that hardcoded the order of the keys :(. I'm glad I was validated here though by you guys confirming that the order doesn't matter and isn't specified in the RFC either.

[2019-04-07 06:17] khteh opened #407 "jwt.encode throws exception due to datetime not serializable"
I have datetime data in the payload to be jwt-encoded and it throws non-json-serializable exception. Any advice and insight is appreciated.

[2019-04-08 12:57] jpadilla commented on #407
@khteh instances of `datetime.datetime` aren't serializable by default with Python's `json.dumps()` You could pass in a custom `json_encoder` to `jwt.encode()`.

https://github.com/jpadilla/pyjwt/blob/ed28e495f937f50165a252fd5696a82942cd83a7/jwt/api_jwt.py#L40-L66

[2019-04-08 12:57] #407 closed

[2019-04-10 14:00] MUGABA commented on #198
Hey guys, AttributeError: 'AttributeError' object has no attribute 'decode' am getting that error yet i have exported the environment variables

i can not decode my token

[2019-04-11 02:54] jpadilla commented on #406
@Botono wanna put together a pull request?

[2019-04-22 07:21] Reskov opened #408 "Why token with kid should be decoded twice?"
decoding  and verifying JWT token with kid need token to be loaded and parsed twice. First to get headers and thereafter to verify signature.

[code]

Does it possible to eliminate unnecessary second parsing?

For example google-auth does not have such problem
https://github.com/googleapis/google-auth-library-python/blob/2c6ad78917e936f38f87c946209c8031166dc96e/google/auth/jwt.py#L197

[2019-04-22 20:10] jedrzejsekowski opened #409 "Flask & WSGI. Error: no python application found."
Hi guys,
I have installed and tested JWT directly interpreted via console and it works correctly. Unfortunately when I try to run app via WSGI the problem is as below:

1. The app spawned correctly.
[code]

2. But when I do a request to my site the response is as below.
[code]
I have discovered which line generates problem:
[code]

My JWT version:
[code]

Have you ever seen similar problems? What

[2019-04-23 23:02] jaraco opened #410 "Why not read when not a TTY?"
I was looking to experiment with PyJWT's command-line interface, and I thought a thing to try would be to encode a token and then decode it immediately, so I did this:

[code]

But as you can see, that generated an error. Is there a reason to reject the stdin if it's not a TTY?

[2019-04-26 23:30] igor47 commented on #405
having the same issue. did you ever figure out out?

[2019-04-30 01:09] jpadilla commented on #410
@jaraco want to put together a PR for this?

[2019-04-30 01:11] jpadilla commented on #409
@jedrzejsekowski did you figure this out? I'm not sure I can suggest anything based from just this info. Will close for now.

[2019-04-30 01:11] #409 closed

[2019-04-30 01:21] jpadilla commented on #405
Any chance we can get a full reproduction?

[2019-04-30 02:02] jpadilla commented on #403
Noticed the following when running that...

Python 2

[code]

Python 3

[code]

In Python 3 we're returning bytes, so note the extra b'...' in that curl command. Seems to me like that might be the issue. Closing for now.

[2019-04-30 02:02] #403 closed

[2019-04-30 06:36] jaraco opened #412 "Error decoding on command-line: Expected a string value"
Running a simple `decode` operation on the command line fails on Python 3:

[code]

[2019-04-30 06:36] jaraco commented on #410
I've started working on a PR, but I've encountered another issue (#412).

[2019-04-30 06:48] jaraco commented on #412
Aha. The issue is that either `--key` or `--no-verify` must be passed, but if it's not, it triggers the reported error. Allowing the traceback to propagate, it's more clear what's happening:

[code]

[2019-04-30 06:50] jaraco commented on #412
I suggest the command-line handler should probably emit a nicer message when `args.verify` but not `args.key`.

[2019-04-30 07:06] jaraco opened #415 "flake8 fails after running tests"
Running tests with `tox -e python` causes `setup.py pytest` to be invoked, which causes eggs to be installed in `./.eggs`. Thereafter, running `tox -e flake8` fails because the linter is run on everything, including files in `.eggs`. Probably the linter should be configured not to run on files in .eggs.

[2019-04-30 07:07] jaraco opened #416 "Package uses easy_install for tests"
The setuptools project has deprecated use of `setup_requires` and `tests_require`, because they rely on `easy_install` and `eggs`, both of which are deprecated. Instead of using `setup.py test` this project should invoke pytest directly.

[2019-04-30 07:14] jaraco opened #418 "mypy tests failing"
See for example [this job](https://travis-ci.com/jpadilla/pyjwt/jobs/196542782). The tests are failing when mypy attempts to run on invalid Pythons.

[2019-04-30 10:25] Esquire-gh commented on #405
I had a similar issue and I realised that the jwt token wasn't being added as part of the request header. if you are using postman to make the requests, you could check if you are typing the token into the value section and not description.

[2019-04-30 13:14] jedrzejsekowski commented on #409
Nach, not really. I have only achieved more questions and possibilities :D

I will describe the solution in this issue if I fix it.

[2019-05-01 05:19] jiap opened #419 "decoding two diff jwt to get same payload"
Install pyjwt and encode. When decoding the two different tokens using the same secretkey, the payloads are same.

Here is the code.

[code]

Encoding is as follows.
[code]

Can somebody explain why?  And how can I get the first jwt instead of the second one?

[2019-05-04 02:50] HadeelElbitar opened #420 "Decoding a string JWT"
Can I use this library to decode a JWT that wasn't generated using that library? The JWT is in string format. It seems like I can't (or at least I haven't been able to do so, so far..) so I would like to get a confirmation.

Thanks!

[2019-05-04 23:24] jpadilla commented on #420
Yes.

Any particular error?

Closing this for now as a usage question / issue. Feel free to reply if you're still having problems.

[2019-05-04 23:24] #420 closed

[2019-05-04 23:42] jpadilla commented on #419
Those two tokens have payloads that are not quite the same...

[code]

[2019-05-04 23:42] #419 closed

[2019-05-05 01:42] #416 closed

[2019-05-05 01:58] #418 closed

[2019-05-05 02:09] jiap commented on #419
Thanks for the reply. When I arrange the payload as `type`, `sub` and `nouce`, why the decoding result appears as `nouce`, `type`, `sub`？

You can run the following code. The `de_token2` is what i want, but all i can get is the `token`. You will find the `decoded` and `decoded2` is the same, but the `token` and `token2` are totally different.

Here are my questions:
1. why does the arrangement of

[2019-05-05 03:32] HadeelElbitar commented on #420
Yes I get an error saying the jwt has to of type bytes `"Invalid token type. Token must be a <class \'bytes\'>"`

[2019-05-05 11:29] kevinmustaqim opened #422 "-bash: lspyjwt: command not found"
I have installed and it doesn't seem to work. The detail error as below:

-bash: lspyjwt: command not found

My OS: Linux kali 4.14.0-kali3-amd64 #1 SMP Debian 4.14.12-2kali1 (2018-01-08) x86_64 GNU/Linux

[2019-05-06 23:38] jpadilla commented on #422
@kelvintaywl did you try `pyjwt` instead of `lspyjwt`?

[2019-05-06 23:38] #422 closed

[2019-05-07 01:50] HadeelElbitar commented on #420
@jpadilla

[2019-05-07 21:32] HadeelElbitar opened #423 "Invalid token on decode"
I'm trying to decode a jwt in string formate using this library, however the jwt wasn't generated by this library. I keep getting below error:
[code]

Any ideas?

[2019-05-07 22:04] HadeelElbitar commented on #423
nevermind, figured it out!

[2019-05-07 22:04] #423 closed

[2019-05-13 23:32] randomstuff opened #424 "Add a "strict key type" mode to prevent any key type confusion"
Adding a "strict key type" mode to only accept typed keys (`RSAPrivateKey`, `RSAPublicKey`, etc.) as public/private key could prevent key type confusion issues (similar to CVE-2017-11424).

Something like:

[code]

[2019-05-21 08:33] dimaqq opened #425 "Simple current time"
Code uses `now = timegm(datetime.utcnow().utctimetuple())` from a3f2ec37f8660e3c445635ed417ae1100753309d
The value it produces appears to correspond to `int(time.time())`.
Is there any reason to prefer earlier over the latter?

[2019-05-24 14:58] Samarpitr commented on #391
Same issue!

[2019-05-24 15:01] Samarpitr commented on #391
Thanks @brandonmbanks `.decode('utf-8')` is working!

[2019-05-27 06:34] godspeedcurry commented on #374
uninstall all of them then "pip install pyjwt"

[2019-06-02 19:06] martinoywa commented on #374
Uninstalling "jwt" then installing "pyjwt" worked for me.

[2019-06-05 03:08] Deepakthakur53 commented on #181
I am trying to use , PS256  and getting below error, if I  change algorithm for HS256 code is working well and good.

below is the error I am getting.

NotImplementedError: Algorithm 'PS256' could not be found. Do you have cryptogra
phy installed?

[2019-06-05 06:51] wsw70 commented on #181
@Deepakthakur53 : so you have `cryptography` installed?

Also please look at my TL;DR comment (https://github.com/jpadilla/pyjwt/issues/181#issuecomment-236443339) where I found out that all this needs to be installed via `pip` and not `apt`, `yum` or other system packager.

I use `pyjwt` in a docker container and the installation is painless now (again, when using `pip`)

[2019-06-07 21:06] richey-v commented on #391
Personally, I think this is a Python3 compatibility issue and that `encode()` should return the Python string type for both Python2 and Python3.

On my machine:
[code]
but
[code]

[2019-06-19 06:03] prsolucoes commented on #391
I have the same problem -,-

[2019-06-19 20:06] azizabah commented on #338
@m1schka  - Hey I'm having a very similar issue consuming a JWT that's been created by a Java library utilizing pyJwt. The crazy part for me is that it's okay with the JWT like ~70% of the time but fails the validation otherwise. It ends up failing this check here:
[code]
inside utils.py. Good JWTs end up having a length of 132 and pass that math check. The bad ones end up being 130 and failing it

[2019-06-20 05:50] sandbbk commented on #374
I have this problem on win10, but on debian9.9 code works correctly. In my `requirements.txt` present both `jwt` and `pyjwt` and it works on linux. When i had relocated my code from linux on windows, it didn't worked before i uninstalled `jwt`. Thanks for resolving!

[2019-06-21 17:43] azizabah opened #428 "ES256 Verification Failing"
It appears that PyJwt is failing to validate *some* JWTs that are encoded using ES256 through a separate API Gateway (written in Java, not Python). The issue appears to occur when the signature portion of the JWT is created at 174 characters instead of 176 and is padded with two "=" by PyJwt before validation. The Java services we have using these JWTs do not have issues with the 174 character or

[2019-06-21 18:48] tscrypter commented on #428
What is this particular [snippet](https://github.com/jpadilla/pyjwt/blob/3d47b0ea9e5d489f9c90ee6dde9e3d9d69244e3a/jwt/utils.py#L107) doing? `if len(raw_sig) != 2 * num_bytes:` seems to always be applied and fails, even though the signature is valid.

[2019-06-21 18:58] tscrypter commented on #428
Similarly, maybe adding a comment behind this [line of code](https://github.com/jpadilla/pyjwt/blob/3d47b0ea9e5d489f9c90ee6dde9e3d9d69244e3a/jwt/utils.py#L105). What does adding 7 and floor dividing by 8 do?

[2019-06-24 13:19] azizabah commented on #428
In utils.py, if we modify raw_to_der_signature like so:
[code]
it works every time. This seems incredibly odd and feels like a bug somewhere else in the code.

[2019-07-03 14:10] PiotrNestor opened #429 "TypeError: sign() takes 3 positional arguments but 4 were given"
I'm getting:
TypeError: sign() takes 3 positional arguments but 4 were given

## Expected Result

Token is returned

## Actual Result

TypeError: sign() takes 3 positional arguments but 4 were given

[code]

## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

[code]

This command is only available on PyJWT v1.6.3 and greater. Otherwise,
please provide some basic informa

[2019-07-03 14:13] PiotrNestor commented on #429
This is on MacOS:
uname -a
Darwin EU-EXT-CKY 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64

[2019-07-07 07:01] randomstuff commented on #397
The name of this library is `PyJWT` and Unencoded Payload Option is [explicitely excluded for being used in JWT](https://tools.ietf.org/html/rfc7797):

   (JWTs) MUST NOT use the unencoded payload option defined by this
   specification.

Is non-JWT JWE and JWS in scope of this library?

[2019-07-10 13:09] IrvinCrespo opened #430 "Encoding with RSA says, Unable to parse an RSA_JWK from key: <cryptography.hazmat.backends.openssl.rsa._RSAPrivateKey object at 0x0000000007643390>"
i have been trying to encode jwt with private key by this way, but i have this error

i think that is because i passed an object RSAPrivateKey. what is the correct way to do this.

        import os
        pwd = os.path.dirname(__file__)
        private_key = open(pwd + '/authkey').read().encode('ascii')

        priv_rsakey = load_pem_private_key(private_key, password='smashedintopieces'.encode(

[2019-07-16 10:16] beaugogh commented on #359
just fyi, a simpler approach also worked for me;

`import jwt
IDjwt = <my id_token here>
decoded = jwt.decode(IDjwt, '', verify=False)`

[2019-07-16 13:40] drbitboy commented on #429
Hi Piotr et al.,

**Summary**

The ```Reproduction Steps``` example has a mismatch between the Elliptic Curve ```private_key``` argument and the ```algorithm='RS256'``` keyword argument, which mismatch generates an exception; that exception, though less than helpful, is correct behavior.

**Suggestion**

To be more informative, the ```prepare_key``` methods of the various ```Algorithm``` sub-class

[2019-07-17 00:21] bsima commented on #376
I'm getting the same thing following the directions on [google cloud docs here](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#jwt-auth)

[code]

My code is the same as in the above gcloud docs.

[2019-07-24 01:31] fgimian commented on #391
Came across this too, really would be nice to have the returned result be a string to avoid an unnecessary encode / decode cycle.

[2019-07-25 16:09] je111ena commented on #376
Same issue.

[2019-07-25 16:28] je111ena opened #432 "Encoding with OpenSSL private key throws ValueError"
Trying to encode the data with private RSA key generated with OpenSSL( while encoding with private key generated with OpenSSH works):

    `jwt_request_data = jwt.encode(headers=jwt_header, payload=jwt_payload, algorithm="RS256", key=rs_private_key_bytes)`

is throwing :

File "/home/je111ena/virtual_envs/PROB/lib64/python3.6/site-packages/cryptography/hazmat/backends/openssl/backend.py", line 105

[2019-07-26 12:14] jpadilla commented on #391
I'm all for improving this if anyone want's to work on it, it would most likely be considered a breaking change so it would require a major version bump. Now that Python 2 is reaching it's EOL, it might be a good time to do so.

[2019-07-29 06:14] qilyn opened #433 "Allow multiple issuers?"
Does it seem reasonable to allow PyJWT to accept a list of possible `iss`uer arguments, in the same way that `aud` does?  (It's possible I'm just lazy and trying to avoid try-catch blocks :joy:)

[2019-08-12 20:44] talilama commented on #376
I had the same issue using a Google Cloud API with JWT tokens. I solved by upgrading the version of cryptography I was using.

[2019-08-13 01:57] jpadilla commented on #376
@talilama what exact version of pyjwt and cryptography are you using?

Can anyone use something like https://repl.it/languages/python3 to replicate this issue?

[2019-08-21 00:55] evso9816 commented on #376
**"AttributeError: 'AsymmetricKey' object has no attribute 'sign'"**
As indicated, I used the below code on your page and it worked, but trying on my computer (Ubuntu 16.04, python 3.5.2, with the newest version of cryptography 2.7 using pip, Pycharm-com), we have the above error.
It might be the Python versioning. Using the same code on Windows (Eclipse, Python 3.7), it worked. Very interesting!!

[2019-08-30 12:10] cal97g opened #435 "Add correct ssh-keygen command to docs"
It's actually quite difficult to find information on different key formats for Asymmetric keys. Add an example key format or at least a command to generate one correctly; eg:

`ssh-keygen -t rsa -b 4096 -m PEM`

[2019-09-13 21:58] joestubbs commented on #376
I'm also hitting this issue with the latest versions of cryptography and pyjwt:

[code]
if anyone has it working (maybe @talilama?) could you post the versions of pyjwt and crytography that you are using?

[2019-09-14 16:06] danielkramer opened #437 "Trying to use "legacy" pycrypto support"
I'm using Appengine and trying to setup Sign in with Apple which is expecting ES256.

I setup my import like

[code]

I get the following import error trying to run my app:

[code]
Any thoughts?

[2019-09-14 16:43] danielkramer commented on #317
Were you ever able to get this working? I'm getting the same error:

[code]

[2019-09-14 16:44] danielkramer commented on #437
Sorry for the false alarm.  I think I have it working using the pycrypto that is defined in appengine rather then uploading my own copy of the lib.

[2019-09-14 16:44] #437 closed

[2019-09-14 20:29] danielkramer commented on #317
I was able to get this working by converting the key to the EC format.  On my mac:

`openssl ec -in AuthKey.p8 -out AuthKey.pem
`

I found the info for converting between key formats here:

[Command_Line_Elliptic_Curve_Operations](https://wiki.openssl.org/index.php/Command_Line_Elliptic_Curve_Operations)

[2019-09-17 06:15] rSrkn commented on #359
We also faced the same problem.
Our tests on mac had not problems but jenkins tests (slave docker) had 'Could not deserialize key data' error.
After applying above solution (adding line breaks ...)  problem solved.

[2019-10-03 03:58] winstonma opened #443 "Add support to pycryptodome"
I am using pycryptodome with pyjwt.

## Expected Result

Everything should work (if pycryptodome is supported)

## Actual Result

I got the following error

[code]

## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

[code]

This command is only available on PyJWT v1.6.3 and greater. Otherwise,
please provide some basic information about your system.

## Comment
After v

[2019-10-05 05:34] Lagicrus opened #445 "[Feature Request] Adding support for JWE"
Are there any plans to implement JSON Web Encryption to pyjwt?
I love using this lib and I want to move to add JWE as a layer of additional security to my application so I was wondering if there were any ideas in the pipeline for adding support for JWE rather then potentially having to swap libs or implement myself.

Thanks in advance

[2019-10-06 08:33] huakaidaojia commented on #374
@lfshammu 我与你的情况一样，安装你的方法，一块完美解决，感谢

[2019-10-06 21:44] jpadilla commented on #443
@winstonma what's the advantage of using pycryptodome over [cryptography](https://cryptography.io/en/latest/)?

[2019-10-06 23:09] #415 closed

[2019-10-18 15:40] Reclu3e commented on #374
If your python file name is jwt.py, you may have this problem.

[2019-10-18 19:54] StefanBruens opened #447 "python-ecdsa 0.13.3 raises BadSignatureError exception"
ECAlgorithm.verify expects an AssertionError when the signature is too long:
https://github.com/jpadilla/pyjwt/blob/3a20892442b34c754b26550e05f7f856fb008c94/jwt/contrib/algorithms/py_ecdsa.py#L59

But ecdsa>=0.13.3 raise an MalformedSignature exception internally, which is caught and reraised as BadSignatureError.

https://github.com/warner/python-ecdsa/blob/5fa2fd85aa4706c809e3ab705f3a22bf604eec2

[2019-10-21 00:07] #447 closed

[2019-10-22 01:18] justinbaur commented on #406
I'd like to help out with this.

[2019-10-22 01:26] jpadilla commented on #406
@justinbaur that'd be awesome, thanks!

[2019-10-22 08:35] v1xingyue opened #451 "osx Result I Can't Work"
I Use pip install PyJWT install this package. But It Can't Work .
 Error  Like This :

[1]    18041 abort      python -m jwt

My Python is 3.7.0 from pyenv .
And My Osx Is Latest 10.15 (19A602) .

I don't known why .

[2019-10-22 23:05] Djailla opened #453 "Python 2 support ?"
Hello,

Python 2 support is almost over, do you think you should remove this support in the next major release ? It would allow extensive usage of mypy and f-strings and facilitate compatibility checks.

If agreed, I could provide a PR.

Regards

[2019-10-24 00:01] rayluo commented on #291
@fgblomqvist @butla Thanks for a very informational conversation! It seems the [python-jose switched its crypto backend since its 3.0.0 version](https://github.com/mpdavis/python-jose/releases/tag/3.0.0).

[2019-10-24 17:20] shaneguignard commented on #376
py -m jwt.help
{
  "cryptography": {
    "version": "2.8"
  },
  "implementation": {
    "name": "CPython",
    "version": "3.6.5"
  },
  "platform": {
    "release": "10",
    "system": "Windows"
  },
  "pyjwt": {
    "version": "1.7.1"
  }
}
Same issue here, except I get has no attribute 'verify'

[2019-10-24 23:09] butla commented on #291
Alright, that's good news. I'm gonna close this then. People from the future that come across this - use python-jose for JWKs :)

[2019-10-24 23:09] #291 closed

[2019-10-25 13:25] janparadowski commented on #376
I think it is due to difference between _RSAPrivateKey and _RSAPublicKey in cryptography.
The latter has a verify method but the former does not. (So if you encrypt with the public key you cannot call verify on the private key in the decode call but the other way around works.)
Pass in verify=False as an option on the decode call to work around this.

[2019-10-25 16:21] shaneguignard commented on #376
You are right, one I got the public key to verify it worked as expected

Shane Guignard
Sent from my iPhone

[2019-10-26 16:33] jpadilla commented on #291
👋 I'm currently working on improving the use of JWKs in this library.

[2019-10-28 03:04] winstonma commented on #443
@jpadilla The main reason why I install [pycryptodome](https://pycryptodome.readthedocs.io) is because I got the following error message

[code]

I installed [cryptography](https://cryptography.io/en/latest/) and it didn't fix my problem. I then installed the Pycrypto package and fixes my problem. So I assumed that I need to install Pycrypto in order to use pyjwt. Based on the assumption (Pycrypto

[2019-10-30 03:29] #443 closed

[2019-11-02 00:51] KingDarBoja commented on #453
I do think the next major release should remove it as stated on [this anaconda post](https://www.anaconda.com/end-of-life-eol-for-python-2-7-is-coming-are-you-ready/).

Most packages already participating on it as seen [here](https://python3statement.org/).

Cheers!

[2019-11-07 02:35] dimaqq opened #458 "Update © Copyright year 🙏"
The footer on https://pyjwt.readthedocs.io/en/latest/index.html reads:
`© Copyright 2015, José Padilla Revision c4044732.`

I guess that could be updated 😉

[2019-11-07 02:38] dimaqq opened #459 "Better documentation: complete encode and decode docs"
https://pyjwt.readthedocs.io/en/latest/index.html has examples 😄
https://pyjwt.readthedocs.io/en/latest/api.html has only exceptions 😕

I wish there was complete documentation for `jwt.encode` and `jwt.decode` high level methods / public API.

Specifically, there are keyword arguments which are not trivial and `options=` which have defaults, but it takes digging into the source code to understand

[2019-11-07 02:49] dimaqq opened #460 "leeway is ignored"
`leeway` is accepted as part of `**kwargs` in `.decode`, is passed to `_validate_claims()`, is forwarded to `_validate_iat|nbf|exp`:

https://github.com/jpadilla/pyjwt/blob/c404473271a199a7445b0e2a348e47893988bbc7/jwt/api_jwt.py#L141-L142

And then ignored:

https://github.com/jpadilla/pyjwt/blob/c404473271a199a7445b0e2a348e47893988bbc7/jwt/api_jwt.py#L166-L172

In fact the only test is that the v

[2019-11-12 10:08] pmutua opened #461 "How to resolve Error: The specified alg value is not allowed when decoding HS256 encoded token"
I am  decoding a  token I just received from an authorization service. The problem is when I try to decode the token I get: `InvalidAlgorithmError: the specified alg value is not allowed`. Why is the exception stating that the algorithm is not allowed yet the token is encoded in `HS256`?

[code]

## Logs
[code]

When I decode the token at the [jwt.io](https://jwt.io/) site the encoded data is deco

[2019-11-13 21:47] dbanty commented on #144
You can use sets, it's just a bit more work.  I found [this article](https://renzo.lucioni.xyz/verifying-jwts-with-jwks-and-pyjwt/) which gives a great explanation.

Basically, they use the code in the comment above me to get the keys and stick them in a dict (keyed by KID).  Then, when you get a jwt to decode, you determine the KID to use with `jwt.get_unverified_header(token)['kid']`, get the ke

[2019-11-16 03:51] atleta commented on #391
I've looked into the code and it's a rather trivial change - if we just add the (ascii) decoding step to PyJWS.encode. If you really want to spare the decoding, that's a lot more work as the base64 module (and the binascii module it uses) works with bytearrays. (Which makes sense for the input, since you should be able to b64 encode binary data. As for why it returns a bytearray, that might be som

[2019-11-16 15:50] #406 closed

[2019-11-18 06:24] #461 closed

[2019-11-18 20:35] ngc2392 opened #464 "How to implement refresh token after access token expires?"
I was hoping someone could help me with this. I have looked quite about online for this answer and am surprised I can't find an example somewhere. I am trying to implement a login view. If a user submits a username and password that matches a User in the database, then I create a token and return it to the frontend, and store it somehow in the browser. Now, the user does something else (edits some

[2019-11-18 20:40] vimalloc commented on #464
There are multiple ways this could be done such as having a separate refresh token or creating a new token before the old one expires. This stackoverflow answer is for flask + flask_jwt_extended, but should hopefully be generalized enough to give you some ideas: https://stackoverflow.com/questions/46197050/flask-jwt-extend-validity-of-token-on-each-request/46284627#46284627

[2019-11-19 00:59] ngc2392 commented on #464
@vimalloc thanks for the response. The second method makes the most sense to me and seems like what other libraries do. I'm going to give that a shot. Also, I have to write my own Authentication class for JWT to work, correct?

[2019-11-19 01:13] jpadilla commented on #464
Thanks @vimalloc

[2019-11-19 01:13] #464 closed

[2019-11-20 02:19] douganger opened #465 "Algorithm ES512 really was named correctly prior to issue #219"
Issue #219 requested that the algorithm ES512 be renamed to ES521, citing RFC4492. The reporter correctly noted that the curve is named P-521, not P-512.

However, RFC4492 addresses the names of standard curves, not algorithm specifications for JSON Web Signatures or JSON Web Tokens.

In RFC7518, the table under section 3.1 on page 6 specifies ES512 as the "alg" Param Value for ECDSA using P-521 a

[2019-11-20 17:33] jpadilla commented on #465
@douganger great catch.

https://tools.ietf.org/html/rfc7518#section-3.1

[code]

[2019-11-22 08:09] dimaqq opened #466 "EC to_jwk"
I've notices that RSA keys have a `to_jwk()` function in `pyjwt`, but EC keys do not.

I've cobbled together a dirty conversion routine:
(shared under MIT license)

[code]

Given this input:

[code]

It produces the output:

[code]

If someone wants to drop this into the codebase, that would be great!

[2019-11-22 08:16] dimaqq commented on #430
After playing a bit with EC keys (not RSA, sorry), I've discovered that:
* PEM file content (as `str`) can be passed directly to `jwt.encode` as key argument
* FWIW, I have `PyJWT==1.7.1 cryptography==2.8` installed and backend is openssl

[2019-11-22 14:04] pmutua commented on #461
I finally identified the issue, the problem was that the header was invalid that's why the library could not decode the jwt token. The "alg" value  must be a valid algorithm type e.g **HS256**

[2019-12-09 17:47] pmutua opened #467 "Customizing jwt error exceptions"
How can I customize JWT exceptions? For instance normally in **pyjwt** the response that is returned when someone does not provide credentials would be:

[code]

But I want to customize the response to return something like this:

[code]

[2019-12-10 07:50] #467 closed

[2019-12-16 11:31] anguelov opened #468 "pyJWT does not support lists"
Summary.
A empty list or a list of JSON objects is valid JSON. currently trying to encode a list into JWT raises a exception.
## Expected Result

`JWT.encode([], "secret", algorithm="HS256")` should return a valid JWT:
`eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.W10.ny0W7Pkele2S9JjQz1pcPuE-7_Jrt2VBqPEO1UnPyQg`

## Actual Result

[code]

## Reproduction Steps

[code]

## System Information

    $ python

[2019-12-19 01:54] jordanmkoncz commented on #359
Just a note that I faced a similar issue and found a solution. In my case, I was using a signing certificate downloaded from Auth0 in PEM format, which I had incorrectly assumed was a public key. According to https://cryptography.io/en/latest/hazmat/primitives/asymmetric/serialization/#pem:

My PEM file did start with `-----BEGIN CERTIFICATE-----`, so I had to implement what is suggested by the cr

[2019-12-27 15:31] jpadilla commented on #468
Not sure this is something we'll want to do though. According to the spec:

   JWS and/or JWE structure.  This JSON object is the JWT Claims Set.
   As per Section 4 of RFC 7159 [RFC7159], the JSON object consists of
   zero or more name/value pairs (or members), where the names are
   strings and the values are arbitrary JSON values.

[2019-12-27 15:31] #468 closed

[2019-12-27 17:50] jpadilla commented on #144
Hey all, sorry for the long delay on improving support for JWKs. I've just started putting together a few things for v2. You can follow along on #470. Any feedback would be appreciated.

[2019-12-27 17:51] jpadilla commented on #291
Hey all, sorry for the long delay on improving support for JWKs. I've just started putting together a few things for v2. You can follow along on #470. Any feedback would be appreciated.

[2019-12-30 22:02] sbdchd commented on #451
I ran into a similar issue with the following config:

<details>

<summary><code>pyproject.toml</code></summary>

[code]

</details>

<details>

<summary>
<code>poetry.lock</code>
</summary>

[code]

</details>

Upgrading from `cryptography=2.7` to `cryptography=2.8` fixed the problem for me.

<details>

<summary>diff</summary>

[code]

</details>

[2020-01-16 15:08] benclark0 commented on #406
Is there any chance you'd consider making a new version with this change?  It'd make my life considerably easier.

[2020-01-17 10:56] cglacet opened #471 "Is there any way to ignore expiry date?"
I'm simply wondering if there is a way to ignore expiry date (only) while decoding. I've seen that there is a `verify` option but from what the documentation say it also ignores signature. I only want to have a way to retrieve the payload of any access token so I can refresh them without encoding any information in my refresh tokens.

[2020-01-18 18:08] #471 closed

[2020-01-18 18:09] cglacet commented on #471
Found the answer [here](https://github.com/jpadilla/pyjwt/issues/207#issuecomment-229555025)

[2020-01-18 18:10] cglacet commented on #207
By the way, don't use `jwt.decode(jwt_payload, verify=False)` it also ignores the secret which means anyone could forge a fake token (most likely you don't want that).

[2020-01-25 14:45] stefann01 commented on #391
Same issue! Could not jsonify a token if it's a bite object.
![image](https://user-images.githubusercontent.com/30937067/73122852-1a76f480-3f92-11ea-874a-18eb862a2df7.png)

[2020-02-07 10:50] triat opened #472 "Warning about possible security issue"
Hello,

As you all know, JWT provides different way to encode and decode a token. Some of those algorithm are asymmetric and others symmetric. The fact that you can have both of them working together create a breach if you can access the public_key.

I'd like to know what you think about the idea of having a warning, or not allowing it at all, to have both a symmetric and asymmetric algorithm in t

[2020-02-16 11:45] nigoroll commented on #408
I would argue that in particular with public key crypto, the duplicate parsing overhead is insignificant, but you are right: `decode()` could support passing a dict with key ids.
I would suggest to allow a list or dict also as the `key` argument:
* for a dict and jwt containing a `kid`, use the corresponding key
* otherwise and for a list try all keys.
See also: https://github.com/Styria-Digital/d

[2020-02-16 11:51] nigoroll commented on #472
I do not see how this would work:
* a RS256 signed with an RSA public key would not be accepted by any validator also using the public key
* a HS256 requires a pre-shared secret and unless that has leaked from App A, I do not see how Actor 2 could generate a valid HS256 signature.

[2020-02-16 11:55] nigoroll commented on #432
This sounds like a usage error of the cryptography package, you are probably feeding it something which is not a valid serialization of your private key.

[2020-02-18 16:05] qasimalbaqali opened #473 "Does pyjwt follow the JWT Best Current Practices?"
I am wonder if `pyjwt` follow/implement the best current practices in case of security that is mentioned in the following [draft-ietf-oauth-jwt-bcp-07](https://tools.ietf.org/html/draft-ietf-oauth-jwt-bcp-07)

[2020-02-20 14:15] tayalakansh opened #474 "Getting exception NameError: global name 'decode_rfc6979_signature' is not defined"
Summary.
Getting exception on Ubuntu 14.04.5 LTS and PyJWT-1.7.1
## Expected Result

What you expected.

## Actual Result

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 2311, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1834, in full_dispatch_request
    rv = self.h

[2020-02-20 14:31] tayalakansh commented on #474
Uninstalling and installing cryptography and pyjwt fixed the issue.

[2020-02-20 14:31] #474 closed

[2020-02-24 10:13] triat commented on #472
In the case you have a proper RSA key, but in some cases, you could have an ECDSA key, and I'm not sure they validate that.

This is the whole point, the shared secret is the public key.
App A has the public key, to be able to validate the JWT token. But this public key is also available to any user who is using the Auth server.

Does this make more sense?

I agree that I'm pushing a bit of what i

[2020-02-24 10:35] nigoroll commented on #472
Making public a shared secret used for HS* is wrong.

Consequently, re-using a (published) public key for HS* is wrong.

Bluntly, I see no point in your scenario.

[2020-02-24 10:50] triat commented on #472
And this is why I ask the question, should HS* and RS* (or simply asym / sym) algorithm authorized to be set together.

Maybe I'm understanding it wrong but I don't see a good reason to have both HS*/RS* allowed in a `jwt.decode`, as the secret needs to be a public key for RS*, which means that the public key is also the shared secret between systems

[2020-02-24 10:55] nigoroll commented on #472
OK, I understand your point now. A public key argument does not make sense for HS*

I agree that the interface could be improved, see also https://github.com/jpadilla/pyjwt/issues/408#issuecomment-586696809

[2020-03-02 20:47] bshaffer opened #476 "Issue with decoding sequential arrays"
### Summary.

See https://github.com/firebase/php-jwt/issues/259 for reference

It seems that there is an issue where sequential arrays (defined in JSON as `["item1", "item2", "item3"]` are not decoding as expected in this library, and instead the object notation of `{"0":"item1", "1": "item2", "2": "item3"}` is required.

## Expected Result

JSON sequential arrays should be encoded/decoded as exp

[2020-03-10 17:48] parin13 commented on #374
`pip3 install pyjwt==1.5.3`

did the magic

[2020-03-19 10:33] michael-k commented on #453
@Djailla can you close this issue?

[2020-03-19 10:39] #453 closed

[2020-03-31 08:01] hi2rashid opened #480 "Commercial Usage rights for pyjwt"
We are using this module in our application with Django.

Can you please confirm if its okay to be used commercially.

Thank you in advance

[2020-03-31 13:20] vimalloc commented on #480
This is using the MIT license, which does grant commercial use: https://github.com/jpadilla/pyjwt/blob/master/LICENSE

[2020-03-31 13:50] jpadilla commented on #480
what @vimalloc said (thanks!)

[2020-03-31 13:50] #480 closed

[2020-04-02 18:51] malewars commented on #445
Any updates if this will be added?
Thanks!

[2020-04-08 14:50] jpadilla commented on #408
Have been working on v2 which includes some new primitives that aim to improve this. Feedback is welcome https://github.com/jpadilla/pyjwt/pull/470

[2020-04-08 14:56] jpadilla commented on #465
Addressing this for v2 https://github.com/jpadilla/pyjwt/pull/470

[2020-04-08 15:01] #451 closed

[2020-04-12 01:14] jpadilla commented on #476
I'm not sure about this. Based on https://tools.ietf.org/html/rfc7519#section-2

A JWT Claim Set has to be JSON object.

[code]

You can probably do something like the following though:

[code]

[2020-04-12 01:14] #476 closed

[2020-04-23 14:31] tobni commented on #459
Agreed, was bit by the lack of docs and received deprecation warnings for
[code]
Had to consult source to find the use of the favored
[code]

[2020-04-23 14:42] rahulchowdhuryce opened #481 "Unable to decode token"
I am given a JWT which does not contain any dots. I read somewhere that the typical format of a JWT is 3 pieces of string concatenated with 2 dots in total. Using PyJWT when I try to decode the token, I am getting the below error -

[code]

However, when I put the same token on jwt.io, it gets decoded and I am able to see the complete dictionary. Is What am I missing?

Here is my code -
[code]

At

[2020-04-23 14:53] vimalloc-mavenlink commented on #481
In this case all http://jwt.io is doing is base64 decoding your string to turn it back into a JSON object. It isn't doing any verification to make sure the token was not tampered with because there is not enough information available in your "token" for that. In fact, the "token" you have is *not* a JWT, and should not be treated as such. Without the signature in the third segment of the JWT you c

[2020-04-24 03:03] dimaqq opened #483 "Automated build fails"
[code]

There's no `requirements.txt` in the repo though, what is it on about?

[2020-04-24 03:03] dimaqq commented on #483
Example: https://github.com/jpadilla/pyjwt/pull/482/checks?check_run_id=614074375

[2020-04-24 03:08] dimaqq commented on #481
I've pulled your paste and looked inside, it's not a JSON Web Token:
[code]

[2020-04-24 03:08] dimaqq commented on #481
I vote to close this issue :D

[2020-04-26 04:05] dedeco commented on #405
I have the sane issue! ;-(

[2020-04-26 23:48] #481 closed

[2020-04-26 23:48] jpadilla commented on #483
ah yeah, thanks for the reminder. will be fixed in #470

[2020-04-26 23:48] #483 closed

[2020-04-26 23:52] #459 closed

[2020-04-27 02:01] dedeco commented on #405
Here some answer related to my problem: https://stackoverflow.com/questions/61436054/not-enough-segments-when-seding-a-get-message-with-bearer-token-authorization/61450588#61450588

[2020-04-27 11:52] fredaas commented on #405
It's been a while since we solved this problem. I'll need to go back a take a look at the source, but if I remember correctly it had something to do with the jwt not being correctly formatted.

I'll post a more in-depth answer later today.

[2020-05-02 02:48] aaknitt commented on #428
Seems like this could be similar or same as described [here](https://github.com/zelloptt/zello-channel-api/issues/91#issuecomment-622576383).  Related to whether or not url-safe base64 encoding/decoding is used or not.  Perhaps a flag to direct PyJWT to use one or the other during encode and decode is a potential solution?

[2020-05-08 19:56] radbahi commented on #405
pls get back to us on this. i'm having the same problem.

[2020-05-10 07:11] auvipy opened #485 "New co maintainer"
Hi, I want to be a maintainer of this project.

[2020-05-14 14:48] jpadilla commented on #485
Done. Thanks for the help!

[2020-05-14 14:48] #485 closed

[2020-05-14 15:07] #279 closed

[2020-05-15 01:21] niro-sean commented on #405
Issue for me turned out to be stripped base64 padding.
`            while len(token_string) % 4 > 0:
                token_string = token_string + "="`
was a quick and dirty fix for my issue

[2020-05-22 13:29] sidneijp commented on #347
Recently I got this error too: `ValueError: Could not deserialize key data.`

In my case it was the private_key that was trying to load. The application was running in a docker container and we passed the private_key using an environment variable but the way we did that ended removing the `\n` characters.

[2020-05-22 19:18] matt-coppola opened #487 "validate nbf uses local timezone for its current time. I believe it should use UTC"
Summary.
_validate_nbf uses the local timezone for now when verifying whether the token is valid but should be using UTC time.

## Expected Result

The time validation should be using UTC.

## Actual Result

The validation uses the local timezone when determining the current time. This occurs in jwt/api_jwt.py ~line 154 when the call to timegm() converts to calendar time. Because I am in EST the t

[2020-05-23 03:45] auvipy commented on #487
any failing testcase?

[2020-05-23 12:05] tohin opened #488 "Option require does not work if exp claim is absent"
I assumed there will be an error in case if the `exp` claim is not provided in the token payload, If `require` option is enabled for `exp` claim.

## Expected Result

Exception in `decode` function.

## Actual Result

Token decoded successfully.

## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

[code]

[2020-05-25 19:57] matt-coppola commented on #487
Not a failing unit test. I believe the reason you won't see any failures in UT is because the test is doing both the encoding and decoding. Given that it will be doing this UT on the same machine (with the same system timezone) you won't observe this error. The issue is that decode assumes the current system timezone is the same as the timezone the token was encoded in.

[2020-05-26 12:30] matt-coppola commented on #487
Some additional details.
From the spec. https://tools.ietf.org/html/rfc7519
An NBF must be a NumericDate https://tools.ietf.org/html/rfc7519#section-4.1.5 and a NumericDate must be in UTC https://tools.ietf.org/html/rfc7519#section-2

If you manually were to create a token with the NBF set to a utc time, and then tried to decode the token in a timezone such as EST the verification would fail becau

[2020-06-09 11:00] cdeil opened #493 "Show version of docs"
Is it possible to know which version of the docs this is?

* https://pyjwt.readthedocs.io/en/latest
* https://pyjwt.readthedocs.io/en/stable

Could you please add a version number prominently to the Sphinx docs build and re-build the docs on RTD?

I'm currently struggling with https://pyjwt.readthedocs.io/en/latest/api.html#jwt.decode options, the description there doesn't match what I get with ve

[2020-06-13 09:39] Royzzz21 commented on #374
thanks it works

[2020-06-13 09:40] Royzzz21 commented on #374
thanks

[2020-06-13 19:47] vungsung commented on #374
For anyone installed `jwt` directly and the Python environment cannot be easily reset:
Try this:
[code]

The problem is at the `site-packages/jwt` folder.
After runs `pip uninstall jwt`, the folder still exists. You have to remove it manually.
And then, the `PyJWT` folder is still stuck in `site-packages`.
You have to reinstall it in order to move it to the default `jwt` folder.

[2020-06-15 20:12] #374 closed

[2020-06-20 08:15] ashraful1980 opened #502 "Json Web Token from Zip password protected file"
How to generate json web token from Zip password protected file; please help me.

[2020-06-21 22:44] dxtnpipgwh commented on #376
Resolvi comentando a linha 143 do arquivo algorithms.py, meu pyjwt tá na versão 1.7.1

[2020-06-22 10:22] rjdkolb commented on #376
Make sure you don't mix up your private key with your public.
Always verify with your public key.
I was using my private key to verify and got this message.
Struggled with this for about 2 hours...

[2020-06-22 16:09] adriendb commented on #401
Edit api_jws.py and comment out  lines 223 and 224.

223           #  if not alg_obj.verify(signing_input, key, signature):
224           #      raise InvalidSignatureError('Signature verification failed')

Useful in a test lab environment, obviously do not do this in production.

[2020-06-29 01:05] daniel-demelo commented on #488
`options={"require": [<whatever_claims>]}`

Does not work for me at all.
I even took a look at how you guys were testing this and your test doesn't even work when I tried.
It does not raise the exception.

[code]

[2020-06-29 01:35] vimalloc-mavenlink commented on #488
The latest release, `1.7.1`, does not include the the `require` option. You will need to wait for a new version to be released before being able to use it. You should make sure you are referring to the `stable` version of the documentation instead of the `latest` which is built from master: https://pyjwt.readthedocs.io/en/stable/usage.html#requiring-presence-of-claims

[2020-06-29 12:20] matusf opened #504 "Inconsistency between docs & actual behaviour in jwt.decode"
[Docs](https://pyjwt.readthedocs.io/en/latest/api.html#jwt.decode) says that several decode options (aud, iat, nbf..) are set to False, however, I found out that [in code](https://github.com/jpadilla/pyjwt/blob/1.7.1/jwt/api_jwt.py#L26) they are set to True.

Decoding token fails even-though `verify_signature` is set to False due to those defaults. (it fails with `InvalidAudienceError`)

## Expect

[2020-07-02 17:26] schumannd commented on #429
Can you give an example of successfully using "RS256" as an encoding algorithm, or does that not work?

[2020-07-03 06:37] tohin commented on #488
Oh, thanks for the clarification.

[2020-07-03 06:37] #488 closed

[2020-07-06 22:15] pytheous opened #505 "why does jwt.encode return a bytes string despite the "readthedocs" stating that it returns a string"
Please refer to our [StackOverflow tag](https://stackoverflow.com/questions/tagged/pyjwt) for guidance.

[2020-07-07 15:28] DestyNova commented on #374
I had the same problem (but with 'decode'). The fix was as @vungsung said, but you can fix PyJWT in one step with:
[code]

[2020-07-18 10:38] Curiouspaul1 commented on #505
I swear i was about to raise this issue. Been having my jwt turned into bytes every time. However if you're looking for a quick fix (I'm not) you could use the "decode method" to decode according to utf-8 standard

`
import jwt
encoded = jwt.encode({'some': 'payload'}, 'secret', algorithm='HS256')**.decode('utf-8')**

[2020-07-18 10:45] Curiouspaul1 commented on #505
I swear i was about to raise this issue. Been having my jwt turned into bytes every time. However if you're looking for a quick fix (I'm not) you could use the "decode method" to decode according to utf-8 standard

`import jwt`
`token = jwt.encode({'some': 'payload'}, 'secret', algorithm='HS256')**.decode('utf-8')** `
Dont add the asterisk o, it was only meant to indicate what's being done differe

[2020-07-28 14:15] strahius commented on #181
Any idea/workaround for someone like me who wants to use `from_jwq` that is not implemented in the legacy class?

[2020-07-28 14:19] salcedo opened #507 "Documentation and release out of sync"
The feature documented by [Requiring Presence of Claims](https://pyjwt.readthedocs.io/en/latest/usage.html#requiring-presence-of-claims) is not implemented in the current release version (1.7.1)

This was result of pull #280 as proposed #279

## Expected Result

Should raise MissingRequiredClaimError

## Actual Result

The documentation states that options can be set to require any claim. However,

[2020-07-28 15:19] vimalloc commented on #507
You should refer to the `stable` version of the documentation, instead of the `latest` version which is built from master. See https://pyjwt.readthedocs.io/en/stable/usage.html#requiring-presence-of-claims

[2020-07-28 15:23] salcedo commented on #507
[https://github.com/jpadilla/pyjwt/blob/1.7.1/README.rst#documentation](https://github.com/jpadilla/pyjwt/blob/1.7.1/README.rst#documentation)

[2020-07-28 15:55] vimalloc commented on #507
Yeah, that seems like a good candidate to be fixed. I imagine if you made a PR to update that to stable @auvipy or @jpadilla would be willing to merge it! :+1:

[2020-07-28 16:27] salcedo commented on #507
If a user of this library simply follows the links from README.rst or "About", they could incorrectly assume the Require Presence of Claims functionality is working properly.

In the stable version, the `_validate_required_claims` method will only raise exception if 'exp', 'iat', or 'nbf'. 'required' key is ignored without error.

[2020-07-28 16:44] #507 closed

[2020-07-28 16:44] salcedo commented on #507
Thanks @auvipy

[2020-08-04 05:13] shinySonic commented on #359
This was exactly what i needed. i also struggled with keycloak. i had to make a small change to the jwt.decode though to make it working on my side:
`decoded = jwt.decode(token, public_key, algorithms="RS256", audience="account")`

Thanks alot for this solution!

[2020-08-12 19:59] kkirsche commented on #208
I have cryptography installed and I'm getting this error with the latest PyJWT, Cryptography and Python 3 version (Python 3.8.5) — really confusing what's going on

[2020-08-12 23:08] rezen opened #509 "Accept piped stdin with pyjwt cli usage"
**Use case**
I'd love to use curl and pass on the content to `pyjwt` for decoding, instead of getting the error `Cannot read from stdin: terminal not a TTY`.

[code]

**Change**.
I think the change below would do the trick, but I'm not 100% sure.
https://github.com/jpadilla/pyjwt/blob/master/jwt/__main__.py#L71
[code]

[2020-08-14 13:57] #385 closed

[2020-09-10 15:39] rezen commented on #509
Anything I can do to move this along?

[2020-09-13 18:30] niinpatel opened #517 "jwt.encode returns different result in python 2 and python 3"
The following code returns a completely different result in python 2 and python 3

[code]

in Python 3 it returns `eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzb21lIjoicGF5bG9hZCJ9.Joh1R2dYzkRvDkqv3sygm5YyK8Gi4ShZqbhK2gxcs2U`

and in the older version, it returns `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzb21lIjoicGF5bG9hZCJ9.4twFt5NiznN84AWoo1d7KO1T_yoc0Z6XOpOVswacPZg`

I think the difference is becau

[2020-09-14 04:32] auvipy commented on #517
do you have any fix in mind?

[2020-09-14 06:18] niinpatel commented on #517
Yes, using OrderedDict for headers would be a quick fix. Want me to raise a PR?

[2020-09-14 07:21] auvipy commented on #517
sure but with unit test :1st_place_medal:

[2020-09-14 08:02] niinpatel commented on #517
Okay, I'm on it!

[2020-09-21 20:49] dh-check opened #518 "ECAlgorithm.from_jwk(key) gives a NotImplementedError()"
I've been attempting to use PyJWT for JWT authentication and was unable to use ECAlgorithm for verifying a JWT with a JWK. Every attempt to use `jwt.algorithms.ECAlgorithm(ECAlgorithm.SHA256).from_jwk(key)` results in a `NotImplementedError()`. I am able to call the right functions from `algorithms.py` with `RSAAlgorithm`. What is the correct way to call `ECAlgorithm`.

[2020-09-21 21:08] jpadilla commented on #518
That will soon be available in v2

[2020-09-21 21:08] #518 closed

[2020-09-21 21:56] dh-check commented on #518
Hi @jpadilla ,

Is there an estimated release date for v2? In addition, do you recommend another way to deserialize a JWK with PyJWT's current version for `ES256`?

[2020-09-24 15:42] jpadilla commented on #517
Are there any concrete example/scenarios where this is issue? You should still be able to decode both those tokens across other systems/implementations/languages.

[2020-09-30 21:54] JustFerry opened #520 "from jwt.algorithms import RSAAlgorithm"
For some reason, PyJWT[crypto] doesn't work on my Linux machine, yet it works fine on my Windows machine.

Error from Linux:
[code]

Installed pip packages:
[code]
I'm running Python 3.8.6 inside a venv.

## Reproduction Steps

[code]

## System Information

[code]

[2020-10-06 12:19] #520 closed

[2020-10-06 20:18] rajwitt commented on #472
this is scenario is also explored in this article: https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

[2020-10-07 14:33] triat commented on #472
Has something changed on PyJWT (I haven't followed the evolution of the package recently)?

[2020-10-14 22:22] ofek opened #524 "New release"
@jpadilla Hello again! Are there plans to put a new release on PyPI?

[2020-10-15 22:57] rajwitt commented on #472
don't think so but the company sponsoring the lib also published an article explaining the issue and specifies on the lib section to use min 1.0.1 as they addressed it in there forcing a user to specify the algorithms when decoding

[2020-10-20 19:32] rayluo commented on #286
@mark-adams @jpadilla The rationale in [this comment of issue 199](https://github.com/jpadilla/pyjwt/pull/199#issuecomment-325068235) makes sense, and we now need to formally document it. Do you have any specific comment on @desertkun 's attempt above? I can make it a PR for you to review.

[2020-10-23 12:32] bvsn opened #526 "Investigate support for the SHA-3"
Suggest an idea for this project.
It's possible to add support for the SHA-3 as a more secure algorithm?

Purpose: just to add support for a newer SHA.

Thank you.

[2020-10-26 09:46] begimai opened #527 "Encoding with algorithm ES256 is failing"
Summary.
Encoding with algorithm ES256 is failing, returns error https://gist.github.com/begimai/41153643c8eba79a8441aa1d31b5e38b

## Expected Result
What you expected.

to return encoded data

## Actual Result
What happened instead.

error https://gist.github.com/begimai/41153643c8eba79a8441aa1d31b5e38b

## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

[code]

This

[2020-10-26 09:47] begimai commented on #527
side info - I saw cryptography was updated yesterday

[2020-10-26 09:57] #527 closed

[2020-10-26 22:06] m10d commented on #364
note there is likely a bug in decode today; handling of timezones is broken if the jwt is not encoded in a UTC localtime.

[code]

outputs:
[code]

[2020-10-26 22:07] m10d commented on #487
I believe i encountered the same underlying issue upgrading an old project.

note there is likely a bug in decode today; handling of timezones is broken if the jwt is not encoded in a UTC localtime.

[code]

outputs:
[code]

[2020-10-28 09:25] vinhphat89 commented on #391
[code]
It also solved my problem too.

[2020-10-29 17:19] rayluo commented on #286
@jpadilla This issue can be closed now, since we merged in #525?

[2020-10-29 17:38] #286 closed

[2020-11-02 12:52] jpadilla commented on #524
Just published https://pypi.org/project/PyJWT/2.0.0a1/

[2020-11-02 12:52] #524 closed

[2020-11-03 11:44] the-papi opened #529 "jwt.encode returns str instead of bytes in 2.0.0a1"
Latest pre-release 2.0.0a1 brings change of function jwt.encode, that doesn't return bytes as in release 1.7.1, but str. Is it a bug or will it stay that way?

I am asking, because it breaks https://github.com/SimpleJWT/django-rest-framework-simplejwt and I need to know where the fix should be done.

## Expected Result

`jwt.encode` to return `bytes`

## Actual Result

`jwt.encode` returns `str`

[2020-11-03 20:08] jpadilla commented on #529
I was not able to reproduce this https://repl.it/repls/JampackedIvoryHack#main.py

https://github.com/jpadilla/pyjwt/pull/513

Although we do need to update docs https://github.com/jpadilla/pyjwt/pull/521

[2020-11-03 21:14] PapiCZ commented on #529
Sry... i wapped it. I expect to return bytes instead of str (as in 1.7.1).

[2020-11-04 14:38] jpadilla commented on #529
It is in fact an expected change.

[2020-11-04 14:38] #529 closed

[2020-11-18 19:56] PropeReferio commented on #374
Can someone explain how Python is able to import jwt after you install pyjwt? Thanks.

[2020-11-22 20:21] deifante commented on #181
pip Installed `cryptography and pyjwt` still this same issue. kinda silly after 5 year.

[2020-11-22 20:24] deifante commented on #208
@jpadilla that solution no longer works. I'm still getting a InvalidAlgorithimError with cryptography and pyjwt installed via pip.

[2020-11-23 15:41] vikramarsid commented on #359
I could get this working without a public/private key using options.

[code]

[code]

Note: "verify_signature": False is not recommended for production use.

[2020-12-16 15:22] jdufresne commented on #517
Python 2 is no longer supported.

Since Python 3.6+, [dict key order is preserved](https://docs.python.org/3.9/whatsnew/3.6.html#new-dict-implementation) and since Python 3.7+ [that is a language specification](https://docs.python.org/3.9/whatsnew/3.7.html#summary-release-highlights). Should this be closed?

[2020-12-16 15:23] niinpatel commented on #517
I think that is fine.

[2020-12-16 15:23] #517 closed

[2020-12-16 17:05] jdufresne commented on #509
The CLI entry point was removed in 8a14f087c285bbe2f6e85ba4818e6c620b708d5d. So perhaps this should be closed?

[2020-12-16 18:29] #509 closed

[2020-12-17 15:05] jdufresne commented on #505
The last line of `PyJWT.encode()` calls the parent implementation:

https://github.com/jpadilla/pyjwt/blob/db4d2f09a1e5ba0b9fdab49d9e51006c60de2b63/jwt/api_jwt.py#L63-L65

The last line of `PyJWS.encode()` is:

https://github.com/jpadilla/pyjwt/blob/db4d2f09a1e5ba0b9fdab49d9e51006c60de2b63/jwt/api_jws.py#L125

The `.decode()` implies the return type is `str`, not `bytes`.

IMO, the docs are correc

[2020-12-17 17:27] #505 closed

[2020-12-18 14:43] jdufresne commented on #377
Both Fedora 26 and Python 2.6 are end of life. Further, this project no longer supports Python 2.

I think this issue should be closed.

[2020-12-18 14:45] jdufresne commented on #391
I believe this has been fixed and this can be closed.

Since e3a1ba52b5926bd419a5bab73c64d7bce1089958, mypy now checks the return type.

[2020-12-18 14:48] jdufresne commented on #312
Python type hints have since been added and are being improved upon. Perhaps it is okay to close this?

[2020-12-20 15:03] #312 closed

[2020-12-20 15:04] #391 closed

[2020-12-20 15:04] #377 closed

[2020-12-22 19:33] frederickfung opened #579 "Algorithm ES256 is missing in PyJWT 2.0.0"
ES256 seems to be missing in PyJWT 2.0.0
Caught this in our product's unit-test. Environment: Python 3.6.12, PyJWT==2.0.0, arch=amd64, pytest=3.6.0

self = <jwt.api_jws.PyJWS object at 0x7fd9efd95588>, payload = b'{"a":"foo"}'
key = b'redacted'
algorithm = 'ES256', headers = None, json_encoder = None

    def encode(
        self,
        payload: bytes,
        key: str,
        algorithm: str =

[2020-12-22 20:01] mgorny opened #580 "pypy3 regression: tests/test_api_jws.py::TestJWS::test_options_must_be_dict - ValueError: sequence of pairs expected"
The 2.0.0 release introduces a regression in PyPy 3 support.

## Expected Result

Tests passing with pypy3.

## Actual Result

[code]

## Reproduction Steps

[code]

## System Information

    $ pypy3 -m jwt.help

[code]

[2020-12-23 01:57] nwohlgemuth opened #582 "Same call to decode does not work with version 2.0.0 when it does in previous versions"
In previous versions of pyjwt, we used to be able to call decode without specifying "algorithms". Now, it is a required parameter. Even when providing the correct algorithm - or even all algorithms, I am seeing an error. This is being done with Azure Active Directory JWT tokens. It's entirely possible (perhaps even likely) that I'm simply calling decode wrong.

## Expected Result

decode runs with

[2020-12-23 04:13] jitendra29mishra commented on #582
Hello PyJWT Team,

I'm also facing the same issue, my code perfectly working with version 1.7.1 but not with version 2.0.0.

After digging into the code of both versions, I found that the verify argument value does not assign to the verify_signature variable in the new version, because of that my code not working with a new version.

The Solution which I found, pass options argument in jwt.decode

[2020-12-23 12:26] CleoArcher opened #583 "PyJWT 2.0.0 leads to Error while login"
## Summary:
In my project we have a Django backend and a react Frontend. While using `django-graphql-jwt ==0.3.1` without specifying the `PyJWT` version it uses the latest version 2.0.0.
This leads to the Error:
[code]
I fixed the problem by manually setting the version of `PyJWT==1.7.1`.
I think the problem is in `def encode()`

## Expected Result

Login via the react frontend while using JWT

##

[2020-12-23 15:41] jpadilla commented on #582
Thanks @jitendra29mishra. I'm updating the changelog to call out some more of these breaking changes in #584

[2020-12-23 15:41] #582 closed

[2020-12-23 15:46] jpadilla commented on #580
Thanks for the report. Most likely due to #555. Note that we're still not testing against pypy3 #550

[2020-12-23 15:51] jpadilla commented on #579
Most likely due to `cryptography` not being installed. Run `$ python -m 'jwt.help'` to confirm.

[2020-12-23 15:51] #579 closed

[2020-12-23 15:55] jpadilla commented on #583
`django-graphql-jwt` doesn't currently guard against installing a different major version of pyjwt, all new installations of that library will probably have the same issue.

Fix is most likely simple enough: https://github.com/flavors/django-graphql-jwt/blob/master/graphql_jwt/utils.py#L37-L42 and https://github.com/flavors/django-graphql-jwt/blob/master/setup.py#L41

[2020-12-23 15:55] #583 closed

[2020-12-23 17:52] xupefei opened #585 "pyjwt 2.0.0 is not compatible with Python 3.5"
## Summary

pyjwt 2.0.0 is using a syntax only valid [in Python 3.6 onwards ](https://bugs.python.org/issue9232)that breaks Python 3.5 support.

Possible resolutions would be indicating version `2.0.0` available for Python 3.6 onwards in https://github.com/jpadilla/pyjwt/blob/master/CHANGELOG.md.

Ref: https://github.com/PyGithub/PyGithub/issues/1796

## Expected Result

No error.

## Actual Resul

[2020-12-23 17:55] jpadilla commented on #585
Let's surface this in the changelog #532

[2020-12-23 19:38] nwohlgemuth commented on #582
@jpadilla If support for verify option is being dropped, might be good to give the user an error or warning?

[2020-12-23 19:53] nwohlgemuth commented on #582
To fix this issue in a way that works with old and new versions:

[code]

[2020-12-23 20:01] jpadilla commented on #582
We had some deprecation warnings, although probably missed some cases https://github.com/jpadilla/pyjwt/pull/515

I'm ok with this being a breaking change and us bumping major version.

[2020-12-23 21:26] arberx opened #587 "v2.0.0 breaking changes jwt.encode()"
## Expected Result

`jwt.encode()` to return an object with a `decode` property.

## Actual Result

[code]
## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

[code]

[2020-12-23 21:30] arberx commented on #587
Seems this commit: https://github.com/jpadilla/pyjwt/commit/94d102b2e38d09f3c5ec459a8365de8a86c51fe5 broke the `API`, and was intentional...

[2020-12-23 21:35] arberx commented on #587
For backwards compatibility, `decode()` should be a method on the class, and simply call `.decode_complete()`.

In its current form in `v2.0.0`, this is a significant change to this interface and will break a lot of projects.

[2020-12-24 03:16] qrkourier opened #588 "v2.0.0 decode() gets ValueError: Could not deserialize key data."
Summary.
After upgrading to v2.0.0 there is a reproducible problem with decoding a JWT.

## Expected Result

[code]

gets

[code]

## Actual Result

After adding the now-mandatory "algorithms" parameter the decode() method gets ValueError

## Reproduction Steps

Assign an RS256 JWT to environment var TOKEN
[code]

## System Information

    $ python -m jwt.help

[code]

[2020-12-24 03:18] qrkourier commented on #588
When I paste the same JWT in jwt.io I get header

[code]

[2020-12-24 03:27] qrkourier commented on #588
Here's [an example JWT](https://jwt.io/#debugger-io?token=eyJraWQiOiI1SWE4TTZmeTBnUUpCQzIwV3BNVGlVMjRZV3BYU2FRMW12V3ZXQXRLbm9FPSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIzY291OHZmdnJ0MW02cHQxN2FpMGdwZ3JpcSIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiaHR0cHM6XC9cL2dhdGV3YXkuc2FuZGJveC5uZXRmb3VuZHJ5LmlvXC9cL2lnbm9yZS1zY29wZSIsImF1dGhfdGltZSI6MTYwODc4MDI2NSwiaXNzIjoiaHR0cHM6XC9cL2NvZ25pdG8taWRwLnVzLWVhc3QtMS5hbW

[2020-12-24 12:25] jpadilla commented on #588
[code]

[The verify param is not supported anymore](https://github.com/jpadilla/pyjwt/blob/master/CHANGELOG.md#dropped-deprecated-verify-param-in-jwtdecode)

[2020-12-24 12:25] #588 closed

[2020-12-24 12:28] jpadilla commented on #587
Unrelated to https://github.com/jpadilla/pyjwt/commit/94d102b2e38d09f3c5ec459a8365de8a86c51fe5

`jwt.encode(...)` now returns a string instead of a byte string.

https://github.com/jpadilla/pyjwt/blob/master/CHANGELOG.md#jwtencode-return-type

[2020-12-24 12:28] #587 closed

[2020-12-25 00:31] asottile commented on #585
@xupefei `python_requires` is set properly in the metadata  -- this likely means you're using a too-old version of `pip` and/or using `easy_install` to install the library: https://github.com/jpadilla/pyjwt/blob/c96131b970fd341106ce33d0a85b50e3bdbb67ec/setup.cfg#L35

[2020-12-25 09:29] laurent-brisbois opened #589 "PyJWT 2.0.0 causes issues"
I'm using django-graphql-jwt that deep inside uses PyJWT. When it was using `PyJWT 1.7.1` it was working fine. But when upgrading to `PyJWT 2.0.0` it gives error when I try to log in.

## Expected Result

No error when trying to log in.

## Actual Result

[code]

I can give more info if needed.

[2020-12-26 00:26] marvincorreia opened #590 "JWT 2.0.0 exception on decode_complete function"
Summary.

## Expected Result

No error (on 1.x.x versions)

## Actual Result

jwt.exceptions.DecodeError: It is required that you pass in a value for the "algorithms" argument when calling decode().
/lib/site-packages/jwt/api_jwt.py, line 113, in decode

Stracktrace:
File "C:\Users\marvi\.virtualenvs\vabmakersite-yxWtHWbQ\lib\site-packages\ibm_cloud_sdk_core\base_service.py", line 297, in prepare_

[2020-12-26 12:41] xupefei commented on #585
@asottile I believe so. I'm using `python3-pip` from Ubuntu 16.01 (version `8.1.1`), and unfortunately unable to upgrade :(

[2020-12-26 13:13] jpadilla commented on #590
See https://github.com/jpadilla/pyjwt/blob/master/CHANGELOG.md#dropped-deprecated-verify-param-in-jwtdecode

[2020-12-26 13:13] #590 closed

[2020-12-26 13:14] jpadilla commented on #589
See https://github.com/jpadilla/pyjwt/issues/583#issuecomment-750362022

[2020-12-26 13:14] #589 closed

[2020-12-26 18:07] asottile commented on #585
yeah you need at least pip 9.x -- I'd suggest using a virtuaenv either way and not the system python

[2020-12-27 18:02] RakeshRam opened #591 "Issue with PyJWT == 2.0.0"
Error occurs when trying to use `mutations.Register.Field()` or `mutations.ObtainJSONWebToken.Field()` when working on

- graphene-django
- django-graphql-jwt
- django-graphql-auth

Issue occurs only in version `PyJWT==2.0.0` works fine on `PyJWT==1.7.1`

## Expected Result

No Result.

## Actual Result

[code]

[2020-12-27 23:38] dedayoa commented on #591
hi @RakeshRam. Appears the API's changed between 1.7.1 and 2.0.0. Django-graphql-jwt is setup to use 'PyJWT>=1.5.0' https://github.com/flavors/django-graphql-jwt/blob/28e4f9749bac839d327914cfdda2ea3bb77bd775/setup.py#L41
You probably want to report this in that project instead.

[2020-12-28 04:44] auvipy commented on #591
those packages need pyjwt 2.0 support

[2020-12-28 05:16] auvipy commented on #585
python 3.5 is EOL already so not supportd in v2.0 :)

[2020-12-29 18:46] clokep commented on #585
It would be nice to specify in setup.py that Python > 3.6 is required (via the `python_requires` option). This will help people to not install an incompatible version.

[2021-01-03 12:41] namelivia opened #593 "TypeError when using jwks_client.get_signing_key_from_jwt"
Hello! First of all thank you for your package, it implements just the solution I was looking for. Also sorry if this report does not have the standard structure  but I found it to be easier to explain this way.

When I try `jwks_client.get_signing_key_from_jwt` I always end up with the following TypeError:
[code]

I've done some debugging and this is what I've found out, fetching the data from th

[2021-01-03 15:06] thenewguy opened #594 "Algorithms"
Just got hit with logins failing due to `It is required that you pass in a value for the "algorithms" argument when calling decode().`  I am guessing this is due to the change in v2.0.0.

I am not up to date on which algorithms are safe.  I am assuming this restriction was put into place because some of the available algorithms are no longer safe?

What is the best way to allow all safe algorithms

[2021-01-04 23:28] Mariatta opened #596 "Add link to the changelog from the documentation."
I was reading the pyjwt documentation at https://pyjwt.readthedocs.io/en/stable/index.html and was looking for changelog of things that were changed between versions. I could not find such info in the doc, so I went to the source code on GitHub and then found the Chaneglog.md file.

I think it would be great if the Changelog is included as part of the documentation, or at least provide the link to

[2021-01-05 15:06] #585 closed

[2021-01-06 13:17] jpadilla commented on #594
@thenewguy I'd say try to explicitly list only algorithms that your application supports, instead of everything(unless that's what you really want).

[2021-01-06 13:17] #594 closed

[2021-01-06 13:37] #591 closed

[2021-01-06 19:24] Natim opened #599 "jwt.decode verify_signature=False and verify_exp=True doesn't work properly"
When trying to decode an expired token to see if it needs a refresh, the expected exception doesn't raise.

## Expected Result

I expect the following code to  raise an `ExpiredSignatureError`

## Actual Result

However it doesn't raise.

## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

[code]

[2021-01-07 23:27] ksong-gib opened #600 "Build Fails After Upgrading to 2.0.0"
My pip build started failing with these error when trying to build the PyJWT-2.0.0:

[code]

Any reasons to remove the utf-8 encoding header from the 1.7.1 version? Can we add it back as a hot fix?
https://github.com/jpadilla/pyjwt/blob/1.7.1/jwt/__init__.py#L1

Thanks,

Kai

[2021-01-08 12:02] francoisfreitag commented on #505
For future reference, the behavior was changed to return `str` in https://github.com/jpadilla/pyjwt/commit/5d33b041f2aeccc653436958c08187f1bd538d94 on August 24th, 2020.

[2021-01-08 18:45] jpadilla commented on #600
@ksong-gib do you have steps to reproduce this?

[2021-01-08 20:38] michaelarnauts commented on #599
It seems that the other claims are only validated if the signature itself is also validated.

https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jwt.py#L98

[code]

[2021-01-08 20:43] michaelarnauts commented on #599
This might makes sense from a security standpoint, if the signature isn't validated, the expiry can be forged, so it can't be trusted.

I do have valid use-case however, I have a jwt from another service that I keep in memory in my application, and I would like to know if it can still be used (so I want to use `verify_exp` but I can't use `verify_signature` since I don't know the key).

[2021-01-08 20:49] Natim commented on #599
Yes in my case it is to know if I need to refresh the token, so validating
the signature is not my app responsibility.

[2021-01-08 20:50] michaelarnauts commented on #599
I use it for exactly the same purpose. Funny, this was never supported in pyjwt, and I only just notice it now (two days after your issue).

[2021-01-10 18:15] #596 closed

[2021-01-11 12:11] mirajehossain opened #601 "jwt.decode returns Signature has expired"
I expect the decoded result of JWT, but it returns an error `Signature has expired`

## Reproduction Steps
[code]

## System Information

    $ python -m jwt.help

[code]

[2021-01-11 15:05] WolfgangFellger opened #602 "encode()/decode() key parameter type should not be str"
The ``jwt.encode()`` and `jwt.decode()` functions declare parameter `key` to be `str`. This seems to have been the case for a while, but with new release mypy will now complain that
`Argument "key" has incompatible type "bytes"; expected "str"  [arg-type]`
when this parameter is given a bytes object.

Giving it a string does not seem to make sense though, the key is inherently binary (and indeed t

[2021-01-11 19:14] mchasej opened #603 "PyJWKClient should use "kty" not "alg" parameter"
`PyJWKClient` requires keys to have the `alg` parameter, which is an *OPTIONAL* member of a JWK (see [RFC 7517 sec. 4.4](https://tools.ietf.org/html/rfc7517#section-4.4)).

`PyJWKClient `should instead rely on the `kty` parameter to determine the type of public key.  This parameter "MUST be present in a JWK" (see [RFC 7517 sec. 4.1](https://tools.ietf.org/html/rfc7517#section-4.1)).  This would re

[2021-01-11 19:26] mchasej commented on #601
Verify that your token is not expired.  Use https://jwt.io/ or https://jwt.ms/ to check the claims of the token and that the `exp` parameter is not in the past.  Tokens are often short-lived for security reasons.

If you are simply testing code with expired tokens, try using the `verify_exp` option:

[code]

[2021-01-12 02:49] jpadilla commented on #601
Also note that `verify` param is deprecated in 2.0 https://github.com/jpadilla/pyjwt/blob/master/CHANGELOG.rst#dropped-deprecated-verify-param-in-jwtdecode

[2021-01-12 02:49] #601 closed

[2021-01-12 03:14] #593 closed

[2021-01-12 03:25] jpadilla commented on #603
nice catch, thanks for reporting.

here's some prior art we can use as reference https://github.com/panva/jose/blob/master/src/jwks/remote.ts

[2021-01-12 09:33] namelivia commented on #593
Thanks! :clap:

[2021-01-13 13:41] rahul6612 commented on #319
where we will apply this?

[2021-01-13 17:07] timmc-edx commented on #258
This permissive function signature (along with a typo) resulted in what appears to be quite a serious vulnerability in the social-auth-core library:

https://github.com/python-social-auth/social-core/commit/eed3007c4ccdbe959b1a3ac83102fe869d261948#diff-c00186529f1572bf1eba22a82687e9d9bb4a5424a84f82a9e6f3bf41ce800e02L128

I believe this would allow someone to forge Apple ID auth tokens by using HS2

[2021-01-14 16:53] manuco opened #606 "jwt.jws_api.PyJWS.decode_complete shouldn't accept kwargs argument"
Here we are using flask_jwt_extended. There is a call in it that calls jwt.api_jwt.PyJWT.decode with a now disapeared parameter. The problem is that jwt.api_jwt.PyJWT.decode accepts any named parameters, and forwards them to jwt.jws_api.PyJWS.decode_complete. So a call that should fail is working but doing the wrong thing.

Moreover kwargs in jwt.jws_api.PyJWS.decode_complete isn't used at all. It

[2021-01-15 18:28] egor83 commented on #319
Thanks again @vimalloc, and for future googlers, this solves the following exceptions:

[code]

[2021-01-16 22:51] rudyryk commented on #600
Before the 2.0 release `.encode()` function returned `bytes` and after 2.0 release it starts returning `str`.

This is backward incompatibility in fact and much of code may become broken because of that.

**1.7.1**: https://github.com/jpadilla/pyjwt/blob/1.7.1/jwt/api_jws.py#L127
**2.0.0**: https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jws.py#L126

Didn't see any warning before and the hom

[2021-01-16 22:55] rudyryk commented on #600
Sorry for posting here, seem like this is not relevant, found other thread https://github.com/jpadilla/pyjwt/issues/529

[2021-01-16 23:01] rudyryk commented on #529
I'd disagree, this is strong backward incompatibility change, which is not expected in such "core" library. Usually it's used at the very utility level and could break everything one day after occasional update.

Since the method name is unchanged, the only good approach here is to return proxy wrapper which will not break on `.decode('utf-8')` for example (because `str` has no decode). And show w

[2021-01-17 00:06] jpadilla commented on #529
I appreciate the feedback, thanks.

While I do agree that I could've planned out a whole series of releases with deprecation warnings, compatibility layers, and the whole lot, I ultimately decided against that because that does take time and energy to execute. I knew I wanted to make breaking changes, I knew I wanted to add new features, address bugs, etc so I decided to just release new major ver

[2021-01-17 21:18] rudyryk commented on #529
@jpadilla I do agree, that pinning versions is a better practice than specifying version-less dependency. But also Python community often praise backwards compatibility.

What I meant is actually simply return from the new `jwt.encode()` not a plain `str` but something like:

[code]

and then `return BytesCompatStr(str_value)`. This won't cover 100% cases but probably more than 90%.

[2021-01-17 21:22] rudyryk commented on #529
@jpadilla And also I'd suggest to highlight API changes for 2.0 on the main README.md, now it's implicit (I didn't track if there are other changes).

And thank you for the awesome library with plain simple API. I hate to be the criticising guy but I got unexpected server crashes recently, that forced me to respond :)

[2021-01-17 22:36] goneall opened #607 "Pip Install will not install versions greater than or equal to 2.0 after 2.0.1 release"
Summary.

Attempting to install pyjwt version >= 2.0 results in an error.

## Expected Result

Installation of the 2.0.1 version

## Actual Result

The following error:

[code]

## Reproduction Steps
[code]
First discovered installing social-auth-core>=3.3.0 which has PyJWT as a dependency.

See [SPDX online tools issue 284](https://github.com/spdx/spdx-online-tools/issues/284) for the original er

[2021-01-18 14:41] lucasvazq commented on #607
Same problem here
[code]

[2021-01-18 14:56] jpadilla commented on #607
Dropped support for Python 2 starting in PyJWT 2.0.0 https://github.com/jpadilla/pyjwt/blob/master/CHANGELOG.rst#drop-support-for-python-2-and-python-30-35

[2021-01-18 14:56] #607 closed

[2021-01-18 19:42] goneall commented on #607
@jpadilla Thanks for the pointer.  It looks like the problem I'm running into is related to changes in the requirements for [python-social-auth](https://github.com/python-social-auth/social-core) and not related to changes in pyjwt.

[2021-01-18 21:28] lucasvazq commented on #607
@jpadilla The 4.0.3 version of social-core (released 6 days ago) uses `PyJWT>=2.0.0`
See changelog: https://github.com/python-social-auth/social-core/releases/tag/4.0.3

The penultimate version, 4.0.2 (released 8 days ago) uses `PyJWT>=1.4.0,<2` and is Python 2 compatible

[2021-01-18 21:28] lucasvazq commented on #607
@goneall The 4.0.3 version of social-core (released 6 days ago) uses `PyJWT>=2.0.0`
See changelog: https://github.com/python-social-auth/social-core/releases/tag/4.0.3

The penultimate version, 4.0.2 (released 8 days ago) uses `PyJWT>=1.4.0,<2` and is Python 2 compatible

[2021-01-18 21:57] goneall commented on #607
Thanks @lucasvazq

The social-core is a dependency of [social-auth-app-django](https://github.com/python-social-auth/social-app-django) which specifies the dependency as `social-auth-core >= 3.3.0`.  It looks like it is picking up the latest version making several versions of social-app-django incompatible.

Do you know if there is a way to work-around this without changing social-app-django requi

[2021-01-19 00:50] lucasvazq commented on #607
@goneall Yes, you can install first `social-auth-core==4.0.2`, and then install `social-auth-app-django`

[2021-01-19 22:37] goneall commented on #607
@lucasvazq Thanks for the tip - that worked.

[2021-01-22 08:36] Natim commented on #599
I started a fix here: https://github.com/jpadilla/pyjwt/pull/608 I would be glad if one of you could have a look and see if it fixes their issues too.

[2021-01-31 23:21] costela commented on #603
If anyone else is hit by this and - like me :wink: - cannot wait for the proper fix, the following is a possible (admittedly very dirty) workaround:
[code]

This will obviously break if the IdP (e.g. Azure) decides to start using a different algorithm for RSA keys, but it should be enough to get the basics working in the meantime. Of course: YMMV.

[2021-02-01 09:32] b99andla opened #609 "Could not deserialize key data when using jwt.encode"
I have a solution that has been working for at least a year, but since updating to pyjwt 2.0.1 does not work.

[code]

get_private_key() returns (removed data to not show secrets...):
`
b'-----BEGIN RSA PRIVATE KEY-----\\nMII\\n-----END RSA PRIVATE KEY-----'
`

## Expected Result

I expect a correctly encoded JWT to be generated.

## Actual Result

load_pem_private_key in jwt algorithms returns a

[2021-02-03 10:47] jarikujansuu opened #612 "pyjwt[crypto] doesn't actually force cryptography version"
Got error in jwt.decode about missing backend parameter in prepare_key on CI (linux) but worked on my mac. Checked that CI had pyjwt 2.0.1 but cryptography was 2.9.2. There is commit that fixes requirement but it is also not visible in change logs.

https://github.com/jpadilla/pyjwt/commit/482364776109cb597af7f679161dcf9c3ef5d0ea#diff-fa602a8a75dc9dcc92261bac5f533c2a85e34fcceaff63b3a3a81d9acde2fc5

[2021-02-03 23:14] derkkila opened #613 "ImportError: cannot import name 'AsymmetricPadding' (most likely due to a circular import)"
## Summary
Due to project requirements, all libraries must be included in the project, rather than being installed via pip. When doing this, I get an ImportError: cannot import name 'AsymmetricPadding' from partially initialized module 'cryptography.hazmat.primitives.asymmetric.padding' (most likely due to a circular import).

## Expected Result

Expect the library to be imported without issue.

#

[2021-02-04 14:48] derkkila commented on #613
I even went with using 'pip install -t lib pyjwt' and get the same behavior.

[2021-02-04 17:47] derkkila commented on #613
I was able to fix it by re-installing via pip to a local directory.

[2021-02-04 17:47] #613 closed

[2021-02-06 04:50] abhishekdhadwal opened #614 "how to encode objectId"
I am unable to encode objectId . when i pass objectId it returns nothing

[2021-02-07 21:40] 9sVYLuLL commented on #613
@derkkila which version of crypto were you using?

[2021-02-08 14:50] mcejp opened #615 "Caching of key set in PyJWKClient"
Currently, `PyJWKClient.get_signing_key_from_jwt` will always trigger a new HTTP request (https://github.com/jpadilla/pyjwt/blob/cda3ef147a6e7c12a63b761631b3f169a6827df0/jwt/jwks_client.py#L19)

To improve response times, it would be helpful to save the key set, once retrieved, in the PyJWKClient instance.

If this is considered out of scope of the class, it could be also made responsibility of th

[2021-02-08 14:58] mcejp commented on #594
When using `PyJWKClient`, it would be super convenient to be able to say "accept whatever my IdP declares".

[2021-02-10 08:12] tonsV2 commented on #374
I had named my script "token.py" and that caused this error

[2021-02-10 16:50] iruizr7 commented on #612
This should also be realted to the fact that pinning `pyjwt[crypto]` to a patch version `~=`, resulted in broken builds after some time, because cryptography now requires Rust to build

[2021-02-10 20:42] dnltsk opened #616 "PyJWKClient is not able to detect the ES384 Algorithm from a given key"
The `PyJWKClient` is not able to detect the `ES384` Algorithm from a key.

The code breaks with the following error message:
[code]

Also adding the `'alg': 'ES384'` attribute via the hack discussed in https://github.com/jpadilla/pyjwt/issues/603#issuecomment-770470079 doesn't solve it.

## Expected Result

The following code should work, because token and key belong together.
[code]

## Actual Re

[2021-02-15 16:40] #599 closed

[2021-02-15 16:45] jpadilla commented on #612
hm interesting. @auvipy how does celery handle this type of situations?

[2021-02-16 14:01] lugodev commented on #374
This solved my issue. Thanks!

[2021-02-18 04:17] dimaqq commented on #603
More like:
* `"kty": "EC", "crv": "P-256"` → `ES256`
* (smth for RSA)

[2021-02-18 15:30] auvipy commented on #612
usually, we try to stick to a specific version. celery has diverse requirements so pins should be strict in the case of packages like cryptography.

[2021-02-21 08:02] abhishekdhadwal opened #618 "how can i encode mongodb object id"
how can i encode mongodb object id. when i try to encode it returns empty object

[2021-02-21 08:14] auvipy commented on #618
Share your code snippets, please

[2021-02-21 13:19] abhishekdhadwal commented on #618
import jwt
from src.config import app_constant
from src.config import mongo
collections = mongo.db

options = "HS256"

admin_sk = app_constant.seckret_keys["admin_seckret_key"]
print("admin_sk : ",admin_sk)

def generate_token(payload) :

      try :

            print("----------------payload--",payload)
            gen_token = jwt.encode({"admin_id" : payload['admin_id']}, key, options)

[2021-02-21 13:21] abhishekdhadwal commented on #618
![Uploading Screenshot from 2021-02-21 18-50-52.png…]()

[2021-02-24 01:53] pcty-kk commented on #374
it works!!

[2021-02-24 19:57] asthasr commented on #602
It should also accept the private key types from Cryptography (on encode) and the public key types (on decode).

Example:

[code]

[2021-02-24 20:40] WolfgangFellger commented on #602
Yeah, was [discussed over in the PR](https://github.com/jpadilla/pyjwt/pull/605#issuecomment-762779641). Seems like the only practical solution at this time is going to `Any`.

[2021-02-24 22:42] sarangdharmapurikar1 opened #619 "Seeing issues in decode"
With the latest version I see these errors. What can I do to fix these? I just want to decode the token without verifying.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.9/site-packages/jwt/api_jwt.py", line 113, in decode
    decoded = self.decode_complete(jwt, key, algorithms, options, **kwargs)
  File "/usr/local/lib/python3.9/site-packa

[2021-02-26 14:17] hjmallon commented on #616
I can reproduce this issue, but adding the 'alg' seems to fix it for me. Is this a duplicate of https://github.com/jpadilla/pyjwt/issues/603?

[2021-02-26 15:45] hjmallon commented on #603
Is the problem here that `class PyJWK` is representing a key and the algorithm used for it, whearas it should only be the key. Maybe pyjwt could provide a `from_jwk` function that delegates to the `Algorithm.from_jwk` based on `kty` etc?

[2021-02-26 18:40] 0ccupi3R commented on #374
it worked for me too, only by keeping `pip3 install pyjwt==1.5.3` package.

[2021-02-27 15:22] jpadilla commented on #618
you should be able to specify a custom json encoder https://github.com/jpadilla/pyjwt/blob/master/tests/test_api_jwt.py#L545

[2021-02-27 15:22] #618 closed

[2021-02-28 07:07] dajiaji opened #621 "Support from_jwk for Ed25519Algorithm"
I'd like to use `get_signing_key_from_jwk()`  for JWT with alg=EdDSA.

But, at the moment, it seems that pyjwt does not support it because `Ed25519Algorithm` does not have `from_jwk()`.

Do you have a plan to support that?
If you don't have the plan, I can send a PR for that.

I'd appreciate it if you can tell me the plan to support EdDSA-based token.

[2021-03-02 22:28] GarryGaller opened #622 "AudienceError"
[code]

[2021-03-04 21:31] crgwbr commented on #621
For reference, looks like the spec for this is in [RFC 8037](https://tools.ietf.org/html/rfc8037#section-2).

[2021-03-05 22:20] dajiaji commented on #621
Yes, in other words, I need from_jwt()  for JWT kty=OKP compliant with RFC8037.

[2021-03-06 05:09] dajiaji commented on #622
@GarryGaller in the current implementation, I think you need to specify `audience` parameter on decoce() as follows:

[code]

[2021-03-08 20:39] mjr9804 opened #626 "PyJWKClient raises error when key omits "use" (Public Key Use) parameter"
`PyJWKClient.get_signing_keys` is hard-coded to look for keys that have a `use` (Public Key Use) value of `sig`. This causes errors when working with JWKs that omit this parameter. I believe this is an optional parameter according to [RFC 7517, Section 4.2](https://tools.ietf.org/html/rfc7517#section-4.2).

Adjusting the check at https://github.com/jpadilla/pyjwt/blob/master/jwt/jwks_client.py#L32

[2021-03-14 04:24] P3nt3st3r123 commented on #311
Just fix this in file jwt/algorithm.py
class ECAlgorithm
[code]

[2021-03-14 13:46] P3nt3st3r123 commented on #428
https://github.com/jpadilla/pyjwt/issues/311#issuecomment-798830656

[2021-03-17 14:06] titovanton opened #631 "UTC time for exp claim works as not expected"
Hello,
better then my pure English is a simple pytest snippet:
[code]

That test has passed for me. Documentation says: you have to use UTC time for claims, as `jwt.decode` uses UTC time to compare such claims like `exp` . From the test case we see, that this statement is False, or I missed something.
Thanks.

[2021-03-18 22:08] #361 closed

[2021-03-18 23:23] #621 closed

[2021-03-20 05:59] dajiaji commented on #631
It seems like a bug. The following code unintentionally returns the local time.

https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jwt.py#L133

Instead of timegm(), mktime() or `datetime.utcnow().timestamp()` should be used.

[2021-03-20 06:20] dajiaji commented on #631
The same issue has already been reported in #487.

[2021-03-21 19:42] XenoAmess opened #634 "give a way to not raise error if key type not correct, just do the base64."
in algorithm.py
[code]

Well, quite some of the people use this lib to attack something so we need it not throw error.

Maybe an error logging is a better choice?

related materials : https://medium.com/101-writeups/hacking-json-web-token-jwt-233fe6c862e6

[2021-03-22 08:14] #603 closed

[2021-03-22 08:14] #616 closed

[2021-03-31 10:13] fenchu commented on #634
pyJWT==1.7.1 can be used

[2021-03-31 16:29] XenoAmess commented on #634
Well, using an older version?

Maybe it can work but I don't think it be a right way to solve this .

[2021-04-02 14:13] mathieu-lacage opened #639 "Allow integration of ssh-agent-based RS256 signature"
I'd like to be able to use pyjwt to generate jwt tokens signed by my ssh-agent. i.e., something like this:

https://github.com/orion-labs/jwt-ssh-agent-go

I already implemented this with a python script that first generates a signing_input, sends it to connects to my local ssh-agent and completes the creation of the jwt by concatenating the signing_output to the signing_input.

Basically, the dum

[2021-04-04 06:33] LouisStAmour commented on #615
It looks like this is fixed with #611 but not yet released as of v2.0.1: https://github.com/jpadilla/pyjwt/blob/master/CHANGELOG.rst

[2021-04-06 07:13] codrinh opened #641 "Ability to remove dictionary value "typ": "JWT" from jwt header"
Suggest an idea for this project.
Hi, I'm hitting a limitation where I cannot use this library as it is adding the "typ": "JWT" dict to the header automatically.

A similar issue has been reported below.
https://stackoverflow.com/questions/61511738/pyjwt-custom-header-remove-type-from-jwt-header

Can you please add "typ" as optional?

Thank you

[2021-04-06 16:39] JohannesWill opened #642 "Support to_jwk for Ed25519Algorithm"
after [Support of form_jwk()](https://github.com/jpadilla/pyjwt/issues/621) it would be nice to implement
to_jwk() for Ed25519Algorithm

[2021-04-08 12:06] dajiaji commented on #641
@codrinh Could you check the above PR? Is this what you want?

[2021-04-09 23:56] dajiaji commented on #622
Or

[code]

Anyway, I think this issue doesn't have any problem.  @jpadilla @auvipy you can close this issue.

[2021-04-09 23:58] dajiaji commented on #460
To my understanding, leeway is not ignored at the current implementation. @jpadilla @auvipy I think you can close this issue.

[2021-04-10 07:24] #622 closed

[2021-04-10 07:24] #460 closed

[2021-04-10 10:28] dimaqq commented on #460
* `nbf` validation takes `leeway` into account
* `exp` validation takes `leeway` into account
* `iat` validation doesn't take current time into account, I guess that's OK? 🤷🏿

[2021-04-12 10:40] yahoo0742 opened #646 "Export PyJWK and PyJWKSet"
Can you also export PyJWK and PyJWKSet please?
Although PyJWKClient is helpful, I reckon it cannot meet some user cases like people want to construct the PyJWKSet by a JSON or a dict. Currently the only way of getting the JWKs is by downloading, which is not enough.  I saw somebody added the cache for the keys, while it can reduce the traffic, it cannot having another source for the keys.

[2021-04-12 14:48] phillipuniverse commented on #615
#611 is a good naive implementation. For my uses, I wanted to share a cache across all of my instances and across all of the workers in all of those instances (I run in Gunicorn with `--workers=4`). I'm also using Django that has a really nice caching abstraction. Here's what I did using `pyjwt==2.0.1`:

[code]

`decode_jwt` is assumed to be invoked with a signed JWT, meaning strip out the `Bearer

[2021-04-17 22:08] ekuns opened #648 "Are there any plans to have classes for parsing RFC 8414 well-known endpoints?"
It would make life easier if there were classes where one could pass the URL as configuration, and the rest of the classes in this library could self-configure from that.  The RFC is at:

https://tools.ietf.org/html/rfc8414

Is this planned at any point?  Or would a pull request implementing something for this be welcomed?  (I don't know if I'd have time myself to work on such a thing or not.)

[2021-04-18 16:24] siliconplains44 opened #649 "verify_signature : false"
I pulled the below source code from auth0s website.  While trying to bring up my jwt decode I received an error that the key needed to be in pem format.  I then got lucky by turning off verify_signature : false in the decode.  Then the jwt token would go through without error.  What am I missing here?  I researched and found I do need to verify the signature but that causes the pem error.  The pem

[2021-04-19 22:43] dvf commented on #587
This looks like a breaking issue. Has this been fixed?

[2021-04-20 02:32] arberx commented on #587
I do think this is an issue, no reason the code snippet I posted in the summary shouldn't work.

I ended up pinning to the last release.

[2021-04-22 07:38] verhovensky commented on #319
Thanks for clarification! Btw if someone using HTTTpie instead of curl - you should NOT include  auth param in quotes " "

[2021-04-27 01:11] johachi commented on #649
Much more likely to get help if you format the code to in a code block and set it to `python`

[2021-04-28 01:00] siliconplains44 commented on #649
johachi, thank you for the recommendation.  I just added my code block and learned something in the process!  Thank you!!!

[2021-04-28 11:40] jpadilla commented on #649
@siliconplains44 can you point me to the docs/website that shows an example like that?

You could try something like this instead

[code]

[2021-04-28 11:42] #642 closed

[2021-04-28 11:53] #646 closed

[2021-04-30 01:07] siliconplains44 commented on #649
So the code I originally posted literally came from the Auth0 website.  Here is the link....

https://auth0.com/docs/quickstart/backend/python/01-authorization

[2021-04-30 01:28] siliconplains44 commented on #649
Your code snippet really helped a lot!  Thank you very much @jpadilla!

[2021-04-30 01:28] #649 closed

[2021-05-06 12:24] joshfriend commented on #430
I got a very similar error using the cryptography backend:

[code]

[code]

Note that i can call `test_key.sign()` just fine.

[2021-05-06 20:04] codrinh commented on #641
@dajiaji looks great, thanks a lot !

[2021-05-16 10:58] ashutosh1206 opened #659 "Malformed JWTs due to different signing algorithms in `headers` and `algorithm` parameters"
Generating JWTs (`encode()`) with `alg` key set in `headers` parameter along with a different `algorithm` parameter value results in malformed JWTs.

Example `headers` and `algorithm` values that will result in malformed tokens:
[code]

## Expected Result
A token signed with let's say HS256 algorithm should always contain `alg` value set as HS256 in the JWT header.

## Actual Result
Tokens can be

[2021-05-16 12:51] BainesySP commented on #374
Hi all. I'm having this issue too. I've tried all the suggestions recommended so far and none have worked. What's even more confusing is that after uninstalling pyjwt and jwt, when I search for the jwt dir to remove it using 'locate' my terminal outputs the path but when I attempt to remove it I'm told the directory doesn't exist. I've updated my system using 'apt update' but doesn't seem to make

[2021-05-19 20:41] khatkar commented on #619
@sarangdharmapurikar1  The new library does not support `verify` param. Try this:
[code]

[2021-05-20 17:49] fluggo opened #660 "Published types aren't complete enough for Pyright/Pylance"
It seems a bit unfair to file this as a "bug," when really what's going on is that the Python community is trying to figure out what a "typed" Python library looks like. In this case, what looks like perfectly reasonable code is, in another light, not explicit enough to allow tools to determine types.

(For clarity's sake: Pylance is Microsoft's new language-analysis extension for Python in VS Cod

[2021-05-25 14:53] varunlohade commented on #374
pip3 install pyjwt==1.5.3
worked for me.

[2021-06-03 20:30] breadbored commented on #347
@sidneijp Do you remember if you resolved your issue? We're trying to pass a public key via ENV and we are running into the same issue. It works locally and on Heroku, but it is giving us this error on DigitalOcean's App Platform.

[2021-06-08 18:31] zedrdave opened #663 "using jwt.decode() without providing the algorithm argument throws DecodeError instead of a non-token-related exception"
After upgrading jwt and failing to update some legacy code to add the `algorithm` parameter (my mistake), I failed to see the error, due to its getting caught by the standard `InvalidTokenError` catch block, and getting treated as an expected behaviour. I think this is due to `DecodeError` inheriting from `InvalidTokenError `?

[code]

For example:

[code]

## Expected Result

The exception warnin

[2021-06-10 08:39] assman commented on #609
I am also facing this issue

[2021-06-10 08:44] assman commented on #435
I agree, such a snippet should be added to the docs as guidance. Will help newbies to get started quickly.

[2021-06-16 11:19] gauravvjn opened #665 "Support for providing custom headers in PyJWKClient fetch_data"
[This line ](https://github.com/jpadilla/pyjwt/blob/2.1.0/jwt/jwks_client.py#L20) raises 403 for URLs that are expecting some headers, mostly `User-Agent` (e.g. Cloudflare URLs)

Here is a similar issue from another project: https://github.com/datopian/datahub-qa/issues/81

urllib’s default user agent is "Python-urllib/3.7" (on Python 3.7). https://github.com/python/cpython/blob/3.7/Lib/urllib/req

[2021-07-05 20:54] vladko312 commented on #401
I guess, the best solution would be to add two changes:
1) Add an option with a long name to allow `none` handling (similar to how `--no-preserve-root` prevents users from running `rm -rf /` by accident)
2) Add specific error for running `none` if the signature is correct (empty) and option for trusting `none` is not set. It must be different from default incorrect signature error, as the signatur

[2021-07-15 13:38] dajiaji opened #669 "{"aud": null } should be ignored"
It is a rare case but I found an example that ｛”aud”: null ｝is set.
According to RFC7519(JWT), it is usually a list of strings or a string, but there is no specification about the type of "aud".

## Expected Result

{"aud": null} should be treated the same as unspecified.

## Actual Result

If the ”aud” parameter is not specified, an error will occur.

## Reproduction Steps

See https://dgcg.covid

[2021-07-20 03:28] jjsty1e opened #671 "Why I have to pass public_key to decode a jwt token?"
Please refer to our [StackOverflow tag](https://stackoverflow.com/questions/tagged/pyjwt) for guidance.

this is the example:

[code]

as the jwt principle, it's not required.

thanks for any helpful message.

[2021-07-20 03:31] jjsty1e commented on #671
ok, got it

[2021-07-20 03:31] #671 closed

[2021-07-21 17:20] dhh1128 opened #672 "interested in a meaningful contribution?"
@jpadilla , I am working on a technology called DIDComm. It makes heavy use of JWKs, JWEs, and JWSs -- but not really JWTs. It's being done in FOSS in conjunction with the Decentralized Identity Foundation, Trust Over IP Foundation, and Linux Foundation. Eventually the spec that we're trying to implement is going to IETF.

After studying various python libs for JOSE, we have concluded that PyJWT i

[2021-07-21 17:25] De117 commented on #659
I just bumped into a related (usability) issue: using a non-default algorithm with a custom header. (I was doing [OIDC asymmetric signatures][1].)

The `algorithm` parameter has a default, so you have to specify it twice:

[code]

Which wouldn't be needed if `headers["alg"]` is used in preference to "HS256":

[code]

It's cleaner code (for the user) and saner behaviour.
However, the parameter type

[2021-07-21 22:51] dajiaji commented on #648
I think that RFC8414 is an OAuth2/OpenID Connect related specification that should be implemented outside of the JWT library.
In addition, In the attributes defined in RFC8414, `jwks_uri` is the only URL which is related to JWT. I think there is no reason that RFC8414 should be implemented in this library.

@jpadilla @auvipy If you can agree with me, I think you can close this issue.

[2021-07-21 23:03] dajiaji commented on #631
I was mistaken and the above snippet is wrong. Using `timegem(timetuple)` is right. To get the UTC current time, `timegm(datetime.utcnow().utctimetuple())` should be used.

@jpadilla @auvipy I think you can close this issue.

[2021-07-22 02:22] scottwn commented on #359
Working with IBM Cloud tokens, @jpadilla's suggestion above cleared the `could not deserialize` error for me; however I'm now getting `Expecting a PEM-formatted key`:
[code]

[2021-07-22 03:49] dajiaji commented on #659
Hi, @De117 @ashutosh1206. I've sent a [PR](https://github.com/jpadilla/pyjwt/pull/673) to fix this issue. Could you check it?

My PR supports the case mentioned by @De117.

[code]

On the other hand, in the following @ashutosh1206 's case, alg=none will be preferred and returns error because key is set.

[code]

In any case, I think the consistent rule that `headers["alg"]` is preferred to `algori

[2021-07-22 04:51] dajiaji commented on #359
@scottwn At least, you should use `public` instead of `key`.

decoded = jwt.decode(token, **public**, algorithms=key['alg'])

[2021-07-22 12:33] jpadilla commented on #672
Meaningful contributions (fixes, features, improvements, docs, issues, etc) are always welcome! JWK, JWE, and JWS are all still related and I wouldn't let the Py_JWT_ name get in the way of that.

[2021-07-22 14:00] De117 commented on #659
@dajiaji I had something slightly different in mind ("prefer `headers["alg"]` _unless_ `algorithm` is explicitly given"), but your way ("always prefer `headers["alg"]`") is indeed simpler.

[2021-07-27 22:10] AlexandreTunstall opened #676 "JWTs containing base64 padding are erroneously accepted"
JWTs where the signature is generated over a *base64*-encoded (not *base64url*-encoded) payload are erroneously accepted.

## Expected Result

These JWTs must be rejected according to several different parts of the standards.

[RFC 7519 section 7.2](https://datatracker.ietf.org/doc/html/rfc7519#section-7.2), emphasis mine

This section also references the validation processes for JWSs and JWEs, qu

[2021-07-29 16:11] ioxFR opened #677 "AzureAD JWKS get signing key from jwt failed"
Hello,

I trying to use pyjwt to validate jwt from azureAD. But i got some issue to get signing key to decode it.

## Expected Result

signing_key = jwks_client.get_signing_key_from_jwt(token) should return the signing key to be able to decode the jwt

## Actual Result

An exception throwed with message:
Unable to find a algorithm for key

Stacktrace:
Traceback (most recent call last):
 File "/var

[2021-07-30 13:00] #669 closed

[2021-08-04 11:05] Thanabhat commented on #677
Can you try to install cryptography package on Azure app service?
https://pypi.org/project/cryptography/

[2021-08-06 02:34] #659 closed

[2021-08-06 07:07] ioxFR commented on #677
Hello @Thanabhat

Already tried on local but same thing.
I cannot also keep crypto lib in my package as it is heavy and as i'm in lambda@edge context limit of package cannot be more than 1MB...
But you confirm that pyjwt already including algorithm required to decode jwt right? as this is "classic" algorithm i suppose to.

[2021-08-07 10:26] Thanabhat commented on #677
If you are using `RS256`, you need a `cryptography` package.

In this file, https://github.com/jpadilla/pyjwt/blob/master/jwt/algorithms.py#L69, RS256 is imported from `cryptography`.

[2021-08-08 19:09] #641 closed

[2021-08-08 23:40] #606 closed

[2021-08-10 15:16] akarev0 opened #679 "PyJWT.decode_complete() method changing provided options object"
PyJWT.decode_complete() method changing provided options object instead of working with copy or something similar

## Expected Result

[code]

## Actual Result

[code]
## Fragment from api_jwt.py

[code]
## Reproduction Steps

[code]

[2021-08-10 16:58] vmaksimov-aim commented on #679
Such implementation breaks the "immutable development" approach.
From my point of view it is much better to work with your own options object based on incoming parameters instead of reusing kwarg and changing this object by link.
For example if I want to use immutable dict based on MappingProxyType I'll receive an error when this code will try to change my object

[2021-08-11 04:03] ioxFR commented on #677
Hi @Thanabhat ,

Thanks for your reply.
Maybe we can add this dependency to the doc as requirement...
My package size changed to 5MB with crypto :D
I have to find solution for that.
Thanks for help!

[2021-08-11 04:03] #677 closed

[2021-08-13 18:58] diem-ai commented on #226
I also got the issue:
ERROR: Could not find a version that satisfies the requirement pywt (from versions: none)
ERROR: No matching distribution found for pywt

[2021-08-18 12:48] bradydean opened #680 "TypeError: public_key() missing 1 required positional argument: 'backend'"
pyjwt is used by djangorestframework_simplejwt but I'm running into this exception in this package.

## Expected Result

No exception

## Actual Result

[code]

When looking at `jwt/algorithms.py` it's obviously not providing the backend parameter.

## System Information

    $ python -m jwt.help

[code]

[2021-08-18 13:04] bradydean commented on #680
It looks like I had an older version of `cryptography` installed despite pyjwt's reqirements specifying the correct version. Bumping `cryptography` version solved this issue.

[2021-08-18 13:04] #680 closed

[2021-08-19 14:52] JosiahDub opened #681 "Support using AWS KMS to sign and verify."
AWS KMS allows for signing and verifying arbitrary binary strings using a variety of algorithms. Create an "algorithm" that wraps the `boto3 kms` methods of `sign` and `verify`. The key would be the key id, key ARN, etc, created in KMS.

This may be slightly difficult as the algorithm would have to handle not only the key but the signing algorithm. If desired, this could be a separate library buil

[2021-08-19 22:03] tyoc213 opened #683 "sizes of HS256 doesnt match between py36 and py39"
## Expected Result

output be the same lenght and content

## Actual Result

outputs difer in length and content

## Reproduction Steps

Make two python environments with 3.6.9 and 3.9.6 and install pyjwt and itisdangerous (just to replicate)

[code]

Actual output is

[code]

and

[code]

## System Information

py39

[code]

**py36**

[code]

[2021-09-05 14:32] #631 closed

[2021-09-16 09:35] matpuk commented on #665
This can be extended a bit and make it possible to provide socket timeout to pass to urlopen(client) too.

[2021-09-20 15:04] olitomas opened #685 "cannot import name 'PyJWKClient' from 'jwt'"
I am getting some sort of conflict error since upgrading to python 3.7 from python 3.5.

I am using djangorestframework-simplejwt. But the conflict seems to be when importing jwt:
cannot import name 'PyJWKClient' from 'jwt' (......../venv/lib/python3.7/site-packages/jwt/__init__.py)

But the weird thing is that sometimes it works (no errors) and sometimes it does not. If I refresh the webpage it s

[2021-09-24 17:05] MarcinBMD opened #687 "2.1.0 unable to decode with verify=False when 1.7.1 (and jwt.io) can"
I'm using a decode workflow where I decode an incoming token with `verify=False`, then use the 'iss' inside to retrieve the public key and then RE-decode using the key to ensure authenticity. In 1.7.1 I used another library to convert the key to the expected PEM format which worked fine, but I wanted to use 2.1.0's conversion ability with:

[code]

Unfortunately it doesn't work anymore because the

[2021-09-26 06:56] mr-lanholmes opened #688 "Windows and Linux jwt encode return differently"
Hi team,

I realised the return provided by jwt.encode() is different on Windows and Linux.

Came across this as I was deploying my Flask app to include the jwt token to my jsonify return.

On Windows, I can pass to jsonify without problem but on Linux, I should append the jwt.encode() with .decode('utf-8') in order for jsonify to be able to process it.

I believe on Linux the jwt.encode() return

[2021-09-26 08:54] auvipy commented on #688
can you share the code detail and output detail? you can share screenshots too

[2021-09-26 09:47] geekypandey commented on #688
Could you share the versions of the library being used in both Windows and Linux?
Starting from v2.0.0, the `encode` function returns string instead of bytes.

Reference commit: 5d33b041f2aeccc653436958c08187f1bd538d94

[2021-09-26 11:26] geekypandey commented on #687
I think the syntax you are using is not quite correct. We need to pass an `options` dictionary for validation options.
Like this:
[code]

Link to reference API: [jwt.decode](https://pyjwt.readthedocs.io/en/2.1.0/api.html#jwt.decode)

[2021-09-26 11:38] geekypandey commented on #685
sorry to hear that. Which version of `pyjwt` are you using? Sometimes due to multiple python and pip there is confusion in the system. Could you use the following code to get the version info?
[code]
Some commands that have come handy to me are:
`python -m pip install ...` instead of `pip install ...` - The pip used is then tied to the python which is used.
`which python` - To get the location of

[2021-09-26 11:41] mr-lanholmes commented on #688
Thanks @auvipy @geekypandey for the replies.

I believe is due to the different version, my bad didnt lock the requirements.txt

Linux: 1.7.1
Windows: 2.0.0

I bumped my Linux PyJWT version up to 2.0.0 and fixed the issue.

Thank you so much and have a great day ahead!

[2021-09-26 11:41] #688 closed

[2021-09-27 15:53] #687 closed

[2021-09-27 16:45] geekypandey commented on #687
That is actually quite strange. It should have given some error 🤔

[2021-10-02 14:07] renardeinside opened #692 "Cryptography requirements change due to versioning"
Hi team,

The cryptography package has updated its versioning approach, and due to this `pyjwt` installation fails with the following error:
[code]
Would be great to change this requirement for PyJWT as well.

[2021-10-02 18:12] #692 closed

[2021-10-04 03:59] bemonio commented on #685
Hi!, check the version of djangorestframework-simplejwt, I had the same problem and I changed it
from: djangorestframework-simplejwt==4.8.0
to: djangorestframework-simplejwt==4.7.2

[2021-10-06 09:13] penguinolog opened #696 "PyJWT updated release is needed to unlock usage modern cryptography package"
Current master support last `cryptography` package, but last published release (2.1.0) not.

[2021-10-07 07:14] penguinolog commented on #696
2.2.0

[2021-10-09 16:10] #619 closed

[2021-10-09 16:14] auvipy commented on #660
do you have any improvement plans?

[2021-10-11 01:24] dajiaji commented on #660
@auvipy @fluggo I think the following code is reasonable to fix this issue for now. It is redundant and we have to maintain the two functions which have the same interface though.

If you are OK with this change, I can send a PR.

[code]

[2021-10-11 05:35] zaccrites opened #698 "Removal of kwargs in v2.2.0 is a breaking API change"
Example: https://github.com/LibrePhotos/librephotos/issues/373

**TypeError: decode() got an unexpected keyword argument 'verify'**

See also https://stackoverflow.com/questions/69485121/django-rest-framework-simple-jwt-decode-got-an-unexpected-keyword-argument-v

[code]

## Expected Result

This error should not occur.

## Actual Result

The `verify` keyword argument is now rejected.

## Reproduc

[2021-10-11 12:18] champax commented on #698
Confirmed, same issue here, 2.1.0 is fine

[2021-10-22 10:45] rekyungmin opened #704 "Use explicit Optional when default = None"
Implicit optional is not [PEP484](https://www.python.org/dev/peps/pep-0484/#union-types) compliant.

Also Mypy will error on it in the future: python/mypy#9091

## Expected Result

Use explicit Optional when default = None

## Actual Result

Some implicit optionals are used.

## Reproduction Steps

[code]
mypy fails.

[2021-10-22 12:49] #704 closed, assigned to nobody

[2021-10-28 10:38] alex-hsp opened #706 "PyJWT api incompatible with cryptography"
Using `ES256`, i am trying to generate JWT token with following code

[code]
private key file is .pem with `-----BEGIN RSA PRIVATE KEY-----` inside

## Expected Result

Expected to generate token. Same code worked 6 months ago.

## Actual Result

[code]
key is `cryptography.hazmat.backends.openssl.rsa._RSAPrivateKey`
sign_obj is `jwt.algorithms.ECAlgorithm`

key.sign requires padding and algorithm

[2021-10-29 06:40] bastantoine opened #707 "Allow to extend at will the list of claims mapped to a time value"
Hello,

I'm using your lib right now to setup access and refresh tokens for an app in my work. In the specs of the refresh token, I have the `val` claim that represent the validity window of the refresh token. It is a timestamp which represents the datetime before which the refresh token can be used to get a new bearer - refresh token pair.

In my Python model, this claim is handled using an insta

[2021-10-29 23:45] jpadilla commented on #707
Passing a custom json.JSONEncoder would also solve this, no?

[2021-10-29 23:52] jpadilla commented on #706
@alex-hsp can you please provide steps to fully reproduce this? How was key fully generated, etc.

[2021-11-01 21:13] mehmetg opened #709 "P-521 Coordinates (x,y) are expected to be the same length and equal which is not always true"
when decoding JWT tokens issued by keycloak I have come across x and y coordinate lengths 65 and 66 respectively and when this happens pyjwt throws this error.
[code]

## Expected Result

It should allow coordinate lengths in [64, 66]
Ref: https://stackoverflow.com/questions/50002149/why-p-521-public-key-x-y-some-time-is-65-bytes-some-time-is-66-bytes

## Actual Result

The library raised an inval

[2021-11-10 15:56] auvipy commented on #435
contributions are welcome

[2021-11-10 16:05] #648 closed

[2021-11-10 16:06] #698 closed

[2021-11-10 16:06] #600 closed

[2021-11-11 20:35] #359 closed

[2021-11-12 01:01] #672 closed

[2021-11-12 01:01] #706 closed

[2021-11-12 01:02] #685 closed

[2021-11-18 22:09] maximeish commented on #207
You can encode your token and set a higher expiration period by doing:

`
token = jwt.encode({ 'exp': datetime.datetime.utcnow() + datetime.timedelta(days=**1**, seconds=**10**),
                                     'payload': value
                                  }, 'secret')
`

Here I set the token to expire after 1 day and 10 seconds. Hope this is helpful :)

[2021-11-30 09:27] oinklulu opened #714 "encode error"
https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jws.py   line129
In the old version, there was no `return encoded_string.decode("utf-8")`, why add this?
It seems that encode should not be decoded.

[2021-12-01 16:40] kadabusha opened #715 "Add support for OrderedDict to headers to make possible custom ordering"
Headers order in jwt.encode() follows values hardcoded in api_jws.py:
[code]
and can not be changed.
An issue referenced to old #116 - new [RFC 8225](https://datatracker.ietf.org/doc/html/rfc8225#page-6) has pretty strict requirements for headers - they should be ordered lexicographically (A-Z)
[code]

## Expected Result

Values for headers should not override the configured ones
[code]
## Actual

[2021-12-08 20:38] r-priyam commented on #143
Any update that when it will be implemented?

[2021-12-11 03:57] #287 closed

[2021-12-12 11:45] auvipy commented on #714
why this should not be decoded?

[2021-12-12 12:52] auvipy commented on #715
please upgrade to latest pypi release & report again

[2021-12-13 09:41] kadabusha commented on #715
Hi, @auvipy thanks for looking into this.
In order to confirm the issue with latest pypi release I used another test box with Debian 11 (bullseye), where installed latest python, cryptography and pyjwt. The misorder seems to be present there as well, please see below.

[code]

[2021-12-13 16:46] innomatica commented on #609
I had the same issue with v2.3.0. It turned out that my RSA key pair was not generated properly. You need to use OpenSSL:

[code]

as described [here](https://stackoverflow.com/questions/53337833/could-not-deserialize-key-data-on-decoding-jwt-python).

[2021-12-14 03:53] auvipy commented on #609
so we can close this, right?

[2021-12-14 03:53] #609 closed

[2021-12-21 13:13] msaba92 opened #717 "TypeError: sign() takes 3 positional arguments but 4 were given (not EC key)"
I have a private key extracted from a p12 file with
`openssl pkcs12 -in my_key.p12 -out my_key.key -nocerts -nodes`

I'm following the docs at https://pyjwt.readthedocs.io/en/latest/usage.html. doing:

[code]

## Expected Result.

I expect the JWT to be created.

## Actual Result

Same issue as issue #429, but in my case it's not an EC key. The key starts with `b'-----BEGIN PRIVATE KEY-----\n`.

[

[2021-12-21 14:20] auvipy commented on #717
TypeError: sign() takes 3 positional arguments but 4 were given

[2021-12-21 15:46] msaba92 commented on #717
I dug a bit, and apparently https://github.com/jpadilla/pyjwt/blob/master/jwt/algorithms.py#L262 here `key = load_pem_private_key(key, password=None)` returns a `<cryptography.hazmat.backends.openssl.ec._EllipticCurvePrivateKey object>`, despite this not being an EC key. Beyond that, I wouldn't know how to debug any more.

[2021-12-26 13:58] miloira opened #718 "The result of encoding is different from the official website（https://jwt.io/）."
The official website result is `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwibmFtZSI6ImFkbWluIiwiZXhwIjoxNTE2MjM5MDIyfQ.Wmw6IKBTkRK0c7qX1E2rEGb8D6cqjnC6l3FFOT4WvOs`

## Expected Result

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwibmFtZSI6ImFkbWluIiwiZXhwIjoxNTE2MjM5MDIyfQ.Wmw6IKBTkRK0c7qX1E2rEGb8D6cqjnC6l3FFOT4WvOs
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwibmFtZSI6ImFkbWluIiwiZXhwI

[2021-12-29 14:22] jpadilla commented on #715
I have no objections on introducing this to support RFC 8225. @kadabusha wanna work on it?

[2021-12-29 14:36] kadabusha commented on #715
Hi, @jpadilla
I'll check if I can workaround that - for my own test case I just removed typ from api_jws.py and passed it later in my code.
In case I'm able to get working code, I'll file a PR referencing this issue.

[2021-12-29 20:32] sabrina981 commented on #715
What is rfc 8225? I don’t think you can send the information to the
national security committee for review correct?

On Wed, 29 Dec 2564 BE at 8:23 AM José Padilla ***@***.***>
wrote:

[2021-12-29 20:59] kadabusha commented on #715
@jpadilla the PR was filed here: https://github.com/jpadilla/pyjwt/pull/721
Seems to be as simple as add sort for keys on json.dumps()

@sabrina981 I don't quite follow your question.
RFC8225 is a standard that was written on top of JWT ones:
[code]
It is needed for particular implementations, e.g. one that is called Stir-Shaken in SIP world.
Even though the sorting is not mandated by JWT specific

[2022-01-03 19:22] peterfarrell commented on #433
@jpadilla Could we get this PR merged and released?  It's blocking support for multiple IDPs:

https://github.com/snok/django-auth-adfs/pull/201

[2022-01-11 17:31] flyte opened #722 "PyJWK doesn't support RSA-OAEP algorithm"
Using a hosted KeyCloak instance from https://www.cloud-iam.com/ which sets its `enc` public cert to use `RSA-OAEP` causes `PyJWKClient` to throw an exception (raised by `PyJWK` constructor).

## Expected Result

I don't know the ins and outs of it, but either the `RSA-OAEP` algorithm should be supported or the `enc` cert ignored (the `sig` one is `RSA256`).

## Actual Result

[code]

## Reproduct

[2022-01-20 21:26] SamuelYaron commented on #722
I was running into the same problem. Since keys with algorithms I cannot handle are the same to me as non existing keys, I decided to simply ignore them. I derived a slightly adapted PyJWKClient:

[code]

I am not sure if it could be feasible to integrate this kind of behaviour via a flag during the creation of a genuine PyJWKClient or not, but I just wanted to share the solution that worked for m

[2022-01-21 15:33] woodruffw opened #724 "New API: Retrieving a key by KID from a `PyJWKSet`?"
First of all, thanks for creating and maintaining this library!

The current `PyJWKSet` API is pretty thin: it wraps a list of `PyJWK` and provides basic deserialization, but nothing else.

I'd like to propose adding `PyJWKSet.__getitem__`, which would allow a user to index the `PyJWKSet` by key ID and return the corresponding `PyJWK` (or `KeyError` if not present). This saves users from having to

[2022-01-21 15:46] woodruffw commented on #724
I went ahead and opened #725 with the changes, since they're pretty small.

[2022-01-25 02:12] #724 closed

[2022-01-25 11:26] pm-coelho commented on #722
As a workaround you can also configure keycloak to disable the RSA-OAEP key or use a different algorithm until it is supported.

`Realm->Settings->Keys->rsa-generated-enc->enabled=False`

[2022-01-25 15:49] hsupu commented on #718
Could you repeat your test? I got `Invalid Signature` on jwt.io for both your expected & actual result.

[2022-01-26 15:17] tiago-peres commented on #722
That didn't work for me @pm-coelho

![image](https://user-images.githubusercontent.com/13332903/151188063-ffcf56c8-2e55-44d2-a9bc-a909a734d32b.png)

Notice that `alg` is now `RS256`

![image](https://user-images.githubusercontent.com/13332903/151190824-bb42b427-6eb2-4fd4-b06c-baaf00b62dfb.png)

[2022-01-26 15:27] pm-coelho commented on #722
@tiago-peres do you have the [crypto optional dependency](https://pyjwt.readthedocs.io/en/stable/installation.html#cryptographic-dependencies-optional) dependency installed?

[2022-01-26 15:49] tiago-peres commented on #722
Well spotted... I don't and using `RUN pip install pyjwt[crypto]` doesn't build the image

![image](https://user-images.githubusercontent.com/13332903/151196166-458309e1-5fc7-47b3-a71b-50dcaf2f1d68.png)

Then tried `RUN pip install cryptography` but also

![image](https://user-images.githubusercontent.com/13332903/151196047-46953d76-5e01-4588-b86d-ab6fb8a8c232.png)

[2022-01-26 15:59] pm-coelho commented on #722
that looks like a missing OS dependency, make sure you have all that crypto requires installed and on $PATH

[2022-01-26 16:10] tiago-peres commented on #722
you're right again... As per [the documentation](https://cryptography.io/en/latest/installation/#alpine):

it was missing ` libffi-dev openssl-dev cargo`. Currently building the image and will soon test again...

[2022-01-27 09:13] tiago-peres commented on #722
yep, that's working if we ensure the next steps I've done after! Thank you!

[2022-02-02 03:29] #458 closed

[2022-02-02 13:28] dpogorzelski opened #731 "EdDSA : PyJWKError: Unable to find a algorithm for key"
[code]

## Expected Result

To be able to fetch the signing key

## Actual Result

Unable to find a algorithm for key: {'use': 'sig', 'kty': 'OKP', 'kid': 'someidhere', 'crv': 'Ed25519', 'alg': 'EdDSA', 'x': 'somepubkeyhere'}

[2022-02-02 13:42] #731 closed

[2022-02-02 13:43] dpogorzelski commented on #731
The issue was caused by missing `pip install pyjwt[crypto]`

[2022-02-04 05:11] Muhammadali-Akbarov commented on #374
I used all methods in comments but all does not work?

[code]

[2022-02-04 20:13] DestyNova commented on #374
So you tried `pip install --force PyJWT` and it didn't work? You may have to uninstall whatever package is currently providing the `jwt` module.

Alternatively you can use `virtualenv` to get a fresh virtual environment, then install PyJWT there.

[2022-02-07 23:16] leonsmith commented on #466
I don't mind opening a pull request for this? I'm just a bit confused as to why 100 in the `v.to_bytes(100, "big").lstrip(b"\0")`

looks like 100 is an arbitrary number to make sure it will fit but then we strip the leading null bytes?

[2022-02-07 23:45] dimaqq commented on #466
Here’s a summary of EC `p` bit sizes:
https://www.johndcook.com/blog/2019/02/15/elliptic-curve-names/

[2022-02-08 22:19] leonsmith commented on #466
Made a first stab at this...

https://github.com/jpadilla/pyjwt/pull/732

[2022-02-10 08:00] auvipy commented on #466
thanks

[2022-02-14 06:07] ilatypov commented on #718
Moving @miloira 's `typ` attribute to the beginning of the `header` dictionary makes both signatures the same `..s4`.  Both @miloira 's code and PyJWT stringify dictionaries without sorting them by keys,

https://github.com/jpadilla/pyjwt/blob/2.3.0/jwt/api_jwt.py#L59
https://github.com/jpadilla/pyjwt/blob/2.3.0/jwt/api_jws.py#L93-L102
https://docs.python.org/3/library/json.html#json.dumps

PyJWT

[2022-02-15 03:18] dmahr1 opened #733 "Mention performance reasons for passing RSAPrivateKey to encode"
My employer is currently using PyJWT in production for signing URLs. As part of some routine performance monitoring and profiling, I discovered that this signing method was consuming a disproportionate amount of time - even more than the wall clock time of communicating with the database. The icicle plot below shows how most of the time was spent in the `load_pem_private_key()` method within the `

[2022-02-15 16:19] dmahr1 commented on #733
@auvipy Thanks for the approval! Closing this issue.

[2022-02-18 04:06] Muhammadali-Akbarov commented on #374
DestyNova  thanks I'll try

[2022-02-18 19:56] ekevoo commented on #144
I would love it if the JWK Set can be used as a whole to decode instead having to traverse it for decoding. Otherwise it's a great improvement. I didn't find any documentation on JWKs either.

[2022-02-18 21:55] Spurlock opened #735 "Decode fails after upgrade from 1.7.1"
Hello.

I'm upgrading PyJWT from 1.7.1 to 2.3.0 (cryptography 36.0.1 also installed).

When using the upgraded library, this call fails:

`jwt.decode(token, self.secret_key, algorithms=["HS256"])`

even though nothing else (token, key, algo) has changed. The exception thrown is:

"Invalid header string: 'utf-8' codec can't decode byte 0x97 in position 2: invalid start byte"

Reverting back to the

[2022-02-25 16:16] MakRude commented on #718
Not sorting the dictionary header keys like @ilatypov uncovered is not necessary to comply with the RFC, but it might be a good idea.

I've faced compatibility issues with other JWT libraries (For instance with https://github.com/golang-jwt/jwt because Go automatically sorts maps when they are converted to JSON strings)

I'm constrained to using Python due to hardware constraints, which is how I c

[2022-02-27 21:44] SHxKM opened #736 "Third party suddenly does not accept my ES256 token generated with PyJwt, any help appreciated!"
I've been using `PyJWT==2.1.0` successfully to generate a JWT token needed for a third-party service authentication, it's an ES256 token. Recently though, I've had to upgrade some dependencies and one of them, `cryptography`, was bumped from `3.4.7` to the whopping `36.0.1`. Since then, this third party service has been denying my JWT tokens, even though I can encode and decode them. This third pa

[2022-02-27 22:25] SHxKM commented on #736
When I check the token on jwt.io it seems to decode just fine, so I really don't understand if I'm just unlucky. Here's what the requirements about the key say:

And here's how I'm doing that:

[code]

What am I doing wrong?

[2022-02-28 01:30] #736 closed

[2022-03-04 17:08] dianagudu opened #737 "PyJWKClient raises error when key does not contain "kid" parameter"
`PyJWKClient.get_signing_keys` raises an error for keys that do not have a `kid` (Key ID) parameter, although the [RFC7517](https://datatracker.ietf.org/doc/html/rfc7517#section-4.5) states that this is OPTIONAL.

## Expected Result

`PyJWKClient` should be able to parse keys that omit the optional `kid` parameter.

## Actual Result

A `jwt.exceptions.PyJWKClientError` is raised.

[code]

## Repro

[2022-03-17 18:12] JViggiani opened #741 "PyJWT : Exception "Invalid payload string: 'utf-8' codec can't decode" while decoding"
I'm using the PyJWT library to do some decoding of some JWTs in Python 3.9.10 with PyJwt version 2.3.0

I have my JWT as a standard string, which I pass to PyJwt in the following way:

[code]

The algorithm in use in this particular instance is "RS256". TENDUKE_JWT_PUBLIC_KEY_DEV is our public key which takes the form:

[code]
Firstly, the key appears to have issues when verifying the signature. B

[2022-03-24 11:14] svetlanama commented on #374
I works, thanks.
because of incopatibility `djangorestframework-jwt 1.11.0 requires PyJWT<2.0.0,>=1.5.2, but you have pyjwt 2.3.0 which is incompatible`

[2022-03-26 19:45] christopherorea commented on #405
The problem is stated here and determines that Flask-JWT-extended requires a custom decorator. You just need to use a previous version and it will work without the decorator.

https://stackoverflow.com/questions/55917908/flask-jwt-extended-is-throwing-an-error-decoding-my-jwt-how-can-i-capture-it

[2022-03-30 11:39] akx commented on #735
You should show the relevant traceback too, not only the exception message.

[2022-04-05 17:18] #679 closed

[2022-04-06 19:51] lindycoder opened #745 "Typing on the get_unverified_header function"
Hello, thank you for the tool!

It seems the `get_unverified_header` is missing types to use in a strict mypy configuration!

https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jws.py#L202

If I am not mistaken, this might do it:

[code]

[2022-04-06 20:07] lindycoder commented on #745
Actually based on what _load takes, jwt should be a `Union[str, bytes]`

[2022-04-07 10:33] prryplatypus commented on #602
Hi there! I know this issue is kinda old, but thought I'd chip in to say that the `jwt.api_jwt.decode_complete` method would probably also need this fixed \:)

[2022-04-14 15:17] bhagy01 opened #750 "jose.exceptions.JWSError: Invalid header string: 'utf-8' codec can't decode byte 0xc7 in position 1: invalid continuation byte"
Hi ,

While decoding the JWT token am getting the below error:

**jose.exceptions.JWSError: Invalid header string: 'utf-8' codec can't decode byte 0xc7 in position 1: invalid continuation byte**

I am directly updating the header like below;

[code]

[code]
[code]
[code]
Jose unable to decode it. Please help me to find what I am doing wrong here

[2022-04-26 23:23] fviard commented on #397
The support for RFC7797 was added with the following commit:
https://github.com/jpadilla/pyjwt/commit/1e7915613f4962d793b97a0db7bbe1661a59fa5a
I think that you can now close this ticket as "resolved" :-)

[2022-04-27 04:20] #397 closed

[2022-04-27 10:02] aniketor opened #752 "Able to decode a tampered token which is signed using EdDSA encryption"
### Generating token
I generated a key pair using EdDSA encryption and signed the token using the private key.
[code]
Generated token:

Public key:

### Decoding the token
[code]
### Tampering the token
Replaced the last character "Q" of the token with a small case "d".
[code]

Ideally we should not be able to decode the token if it has been changed but I was able to still decode the token.

### p

[2022-05-11 15:06] lbam opened #754 "PyJWKSet reports the wrong exception for an empty key set"
Empty key sets give the wrong exception. The error is here:

https://github.com/jpadilla/pyjwt/blob/24b29adfebcb4f057a3cef5aaf35653bc0c1c8cc/jwt/api_jwk.py#L80-L84

When `keys` is the empty list, `not keys` is true so the second check is never reached (unless some `list` subclass overrides `__bool__`).

## Expected Result

Should raise `PyJWKSetError("The JWK Set did not contain any keys")`.

## A

[2022-05-11 18:22] jtemporal commented on #681
Refer to [#issuecomment-966739972](https://github.com/jpadilla/pyjwt/pull/682#issuecomment-966739972).

[2022-05-11 18:22] #681 closed

[2022-05-11 18:26] jtemporal commented on #714
I'm closing this one since it has been more than 3 months without a response from the issue author.

Please feel free to submit another issue following the issue template if the problem persists.

[2022-05-11 18:26] #714 closed

[2022-05-11 18:27] #92 closed

[2022-05-11 18:29] jtemporal commented on #144
We already support JWK in PyJWT so I'm closing this one.

[2022-05-11 18:29] #144 closed

[2022-05-11 18:34] jtemporal commented on #150
I'm closing this one since it has been more than 3 months without a response from the issue author.

Please feel free to submit another issue following the issue template if you still have the question.

[2022-05-11 18:34] #150 closed

[2022-05-11 18:48] jtemporal commented on #347
I'm closing this one since it has been more than 3 months without a response from the issue author.

Please feel free to submit another issue following the issue template if the problem persists.

[2022-05-11 18:48] #347 closed

[2022-05-11 18:51] jtemporal commented on #366
I'm closing this one since it was using PyJWT with a version lower than `2.0.0`.

Please feel free to submit another issue following the issue template if the problem persists.

[2022-05-11 18:51] #366 closed

[2022-05-11 18:52] #294 closed

[2022-05-11 18:53] #193 closed

[2022-05-11 18:54] #380 closed, assigned to nobody

[2022-05-11 18:57] #358 closed

[2022-05-11 18:57] jtemporal commented on #362
I'm closing this one since it has been more than 3 months without a response from the issue author.

Please feel free to submit another issue following the issue template if the problem persists.

[2022-05-11 18:57] #362 closed

[2022-05-13 13:37] JohnnyRacer commented on #752
@aniketor [aniketor](https://github.com/aniketor) Have you found a solution to this problem? I am having the same issue with encrypting tokens with EdDSA where the output is just an unencrypted b64encoded string. Seems like nothing changed even if I change the keys and generate new ones using OpenSSL.

[2022-05-13 16:55] Nandoxp opened #755 "The Problem header position please update"
![gambar](https://user-images.githubusercontent.com/13316777/168331708-e512a6ff-bbbd-4fe7-a840-6a3de3818ff3.png)
i want to create "alg" header on the first one and the second one is "typ" header

[2022-05-14 04:57] auvipy commented on #755
can you please share more detail?

[2022-05-15 00:39] Nandoxp commented on #755
you can see on here
![gambar](https://user-images.githubusercontent.com/13316777/168452526-06188937-0134-40d8-ae7f-e4ad780fc6c9.png)
I want to sort in order , i want alg header in first , and jwt in the second

[2022-05-15 09:38] Nandoxp commented on #755
![gambar](https://user-images.githubusercontent.com/13316777/168466396-392840fb-843a-4597-b6d0-96d1fedd579f.png)
i have solved the problem so everyone if you have same problem with me just edit api_jws.py

[2022-05-15 09:39] Nandoxp commented on #755
please update my recommend to your code

[2022-05-15 13:49] #755 closed

[2022-05-16 06:28] kadabusha commented on #715
An issue was still valid, PR waits for @jpadilla to review I assume:
https://github.com/jpadilla/pyjwt/pull/721

[2022-05-17 08:10] Nandoxp opened #759 "Please update your library"
Summary.

## Expected Result

What you expected.

## Actual Result

What happened instead.

## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

[code]

This command is only available on PyJWT v1.6.3 and greater. Otherwise,
please provide some basic information about your system.

[2022-05-17 08:11] #759 closed

[2022-05-17 09:09] AlexandreTunstall commented on #676
This is still the case on the current `master` commit (`235f01c9563e407c63888795a573d0b56868e902`).

Also, while testing this, I reused an old JWT, and it seems `verify_exp` is broken on that commit.

[code]

[2022-05-19 22:38] fbideau opened #760 "at+jwt token type"
Hi

For a given token eyJraWQiOiJleHQtY2xvdWQtRW1XV1QyeVhZZnYtdi1FSDZFaEx0dW1ocGlweVBFM19wSktmbm83N2lSbz0iLCJ0eXAiOiJhdCtqd3QiLCJhbGciOiJSUzI1NiIsInZlcnNpb24iOiJPQXV0aDIifQ.eyJhdWQiOiJhcGlkLWludC1jbG91ZCIsInN1YiI6InN1YnNjcmlwdGlvbnMtcG9jIiwibmJmIjoxNjUyODI1MTIwLCJwb2xpY3lJZCI6IjEwMDUzMDAiLCJzY29wZSI6WyJhcGlkLWludC1jbG91ZDpnZXQ6L2d3L3N1YnNjcmlwdGlvbnMtcG9jIl0sImlzcyI6Imh0dHBzOi8vc3RzLWV4dC1jbGQudGV

[2022-05-23 02:09] #718 closed

[2022-05-23 02:09] #717 closed

[2022-05-24 10:38] dimaqq commented on #466
Should be fixed in #732

[2022-05-24 17:57] YongquanYao commented on #736
how do you solve this ?

[2022-05-24 20:11] XenoAmess commented on #634
comment

[2022-05-25 02:11] #741 closed

[2022-05-25 02:11] #707 closed

[2022-05-25 02:11] #665 closed

[2022-05-25 02:11] #663 closed

[2022-05-25 13:37] Mankuda commented on #754
#1 #3 #waaRiis #music

[2022-05-26 06:11] mgorny commented on #580
Still happens as of today, with PyPy3.9 7.3.9.

[2022-05-26 09:23] #580 closed

[2022-05-26 13:06] Tinche commented on #660
Looks fine to me in the latest VS Code.

![Screenshot 2022-05-26 at 15 05 30](https://user-images.githubusercontent.com/1909233/170493407-ac92c785-e450-4424-b4f4-d67d4c89a66d.png)

The bigger problem is the annotations seem to be wrong, key isn't just a string.

[2022-05-27 12:53] lovasoa commented on #722
We encountered the same error while using pyjwt with keycloak. Is support for RSA-OAEP planned ?

[2022-05-29 02:14] #639 closed

[2022-05-29 07:20] wuqiang-001 opened #767 "请问这个项目一直在维护吗?"
我看到最新的维护时间是 2021年

[2022-05-29 08:31] auvipy commented on #767
english please

[2022-05-30 01:25] wuqiang-001 commented on #767
Has this project been under maintenance?

[2022-05-30 03:01] jpadilla commented on #767
yes, latest release was a couple of days ago.

[2022-05-30 03:01] #767 closed

[2022-05-31 02:12] #626 closed

[2022-05-31 14:49] jpadilla commented on #754
probably fixed by https://github.com/jpadilla/pyjwt/pull/762

[2022-05-31 14:51] #466 closed

[2022-05-31 14:54] lbam commented on #754
Not fixed. #762 changes code beyond the point where this exception occurs. Would you please reopen the issue?

[2022-05-31 14:57] #410 closed

[2022-05-31 14:57] jpadilla commented on #412
cli entrypoint has been removed

[2022-05-31 14:57] #412 closed

[2022-06-02 02:12] #615 closed

[2022-06-02 02:12] #614 closed

[2022-06-02 02:12] #526 closed

[2022-06-04 02:08] #504 closed

[2022-06-04 02:08] #493 closed

[2022-06-04 02:08] #502 closed

[2022-06-04 02:08] #487 closed

[2022-06-07 02:09] #735 closed

[2022-06-07 16:12] lindycoder commented on #745
Removing stale just waiting for a maintainer to comment if this issue is valid or not.

[2022-06-07 18:28] jpadilla commented on #745
lgtm, can you open a PR?

[2022-06-07 18:55] lindycoder commented on #745
Thanks, I might look into it, might take a couple weeks though, pretty busy

[2022-06-09 02:10] #473 closed

[2022-06-09 02:10] #472 closed

[2022-06-10 02:13] #465 closed

[2022-06-10 02:13] #445 closed

[2022-06-12 02:12] #435 closed

[2022-06-12 02:12] #433 closed

[2022-06-12 02:12] #432 closed

[2022-06-14 02:13] #602 closed

[2022-06-14 02:13] #430 closed

[2022-06-15 02:15] #429 closed

[2022-06-15 06:45] vladko312 commented on #401
Actually, RFC considers the need to specifically add `none` algorithm to whitelist as a good enough measure against accidental usage, but adding a separate option will make it safer.

[2022-06-16 02:11] #428 closed

[2022-06-16 16:28] ps-george commented on #602
This still seems to be an issue

[2022-06-18 02:12] #425 closed

[2022-06-19 02:13] #424 closed

[2022-06-20 16:48] sirosen commented on #314
I may have approached this the wrong way years back when I filed this issue. Perhaps it's too verbose.
But I still think that OIDC is a valid use-case to consider.

I've been happy to contribute ever since I opened this and the two related (closed) PRs, but I'm not willing to open another one without some buy-in from maintainers.

I'd appreciate this not being closed just because it's old. It's st

[2022-06-21 02:12] #408 closed

[2022-06-21 02:12] #405 closed

[2022-06-23 02:12] #396 closed

[2022-06-23 02:12] #394 closed

[2022-06-23 02:12] #390 closed

[2022-06-25 02:13] #376 closed

[2022-06-25 13:32] timmc-edx commented on #258
This appears to still be an issue: https://github.com/jpadilla/pyjwt/blob/a863a7329027fe1e993c866374b195785978b2a9/jwt/api_jwt.py#L72

(I'm not sure it makes sense to have stalebot running on this one.)

[2022-06-27 02:13] #369 closed

[2022-06-27 02:13] #364 closed

[2022-06-27 02:13] #338 closed

[2022-06-27 22:20] josecoelho opened #772 "KMS implementation for "RS256" Algorithm, how to keep expected header?"
I'm trying to add support for KMS while keeping the header `{"alg": "RS256"}`. We found a workaround but would like some opinion on how to make it easier to follow.

## Expected Result

To be able to add a custom algorithm that defines the expected header.

Allow us to override the header when calling jwt: (you may have a better idea)
[code]
With the current implementation, there's no option to en

[2022-06-28 23:17] s2t2 commented on #374
GitHub Actions "Python Application" is throwing this error.

[2022-06-29 02:13] #311 closed

[2022-06-29 02:13] #295 closed

[2022-06-30 02:12] #290 closed

[2022-07-01 02:13] #266 closed

[2022-07-01 02:14] #217 closed

[2022-07-07 20:42] DylanYoung commented on #709
This looks like a valid issue to me.

[2022-07-07 21:02] DylanYoung commented on #709
Seems like the proper fix is in `to_jwk`, not the validation.

[2022-07-08 10:09] kkirsche commented on #660
I may be able to take a stab at expanding and cleaning up the type hints, incorporating typing extensions so that the types are usable by all Python 3.6+ versions, etc.

It sounds like the key is working backwards from the "core" functions out towards the user API to ensure its accuracy for things like keys, etc.

[2022-07-10 17:29] mehmetg commented on #709
Can we reopen?

[2022-07-11 07:42] #737 closed

[2022-07-13 15:23] tvallois commented on #660
I'm still having some issues with pyright when `typeCheckingMode` is strict.
<img width="972" alt="image" src="https://user-images.githubusercontent.com/22823477/178770820-df92588c-7c90-4131-bd23-342e5c8b81c4.png">

Probably because key and value types are Unknown for pyright for headers parameter.

[2022-07-13 16:59] kkirsche commented on #660
Yeah, to fix the user-facing ones means going from the ground up and reworking some of the interfaces in the crypto portions to be more consistent so that the higher-level abstractions can expose correct types. It’s more involved than expected but not too horrible as long as you start from third-party modules, install proper types for those (eg types-cryptography) and then just work your way up th

[2022-07-15 05:33] DylanYoung commented on #709
In case it helps, here's a rouch sketch of how I solved it for `to_jwk`.  I'm not sure if there's anywhere else it needs to be fixed, but the JWK standard does specify that it should be 66 bytes, so if validation of another library's implementation is failing, I think that's an issue with those libraries:

[code]

[2022-07-18 06:25] kadabusha commented on #715
Still valid.

[2022-07-18 07:54] DaGuich commented on #722
I think the issue itself may be resolved with #762.

[2022-07-19 02:13] #145 closed

[2022-07-19 02:13] #143 closed

[2022-07-19 11:33] #715 closed

[2022-07-21 02:14] #752 closed

[2022-07-22 14:16] teaishealthy opened #783 "PyJWT does not support all valid JSON types as the payload."
PyJWT does not support all valid JSON types as the payload.

## Expected Result

`str`s, `int`s, `float`s and `list`s (even better `Sequence`s) should be able to encoded in the payload of the JWT as they are valid JSON types (string, number, object and array)

## Actual Result

Raises `TypeError: Expecting a mapping object, as JWT only supports JSON objects as payloads.`

## Reproduction Steps

[c

[2022-07-23 04:46] AlexandreTunstall commented on #676
I no longer have the setup to test the latest version, but the lack of discussion suggests that the issue remains unresolved.

[2022-07-24 07:40] XenoAmess commented on #634
comment

[2022-07-27 11:42] wuqiang-001 opened #785 "是不是 Windos 不能用啊"
![image](https://user-images.githubusercontent.com/85499933/181238424-2ce285ae-bf7f-4361-b37b-c2b98de4cfbc.png)
![Uploading image.png…]()

[2022-07-31 07:16] auvipy commented on #785
more detail in english plz

[2022-08-01 10:34] #754 closed

[2022-08-03 18:52] apastel opened #789 "PwJWKClient doesn't support custom SSL contexts"
PwJWKClient doesn't support custom SSL contexts when calling `fetch_data()` to get the JWK set.

### Expected Result
`get_signing_key_from_jwt()` could accept a [SSLContext](https://docs.python.org/3/library/ssl.html#ssl.SSLContext) as a parameter to support authorization servers that may require custom SSL configurations, for example a server in a test environment that uses self-signed certs or r

[2022-08-08 05:00] dayongi opened #790 "Not support RS256 algorithm?"
### Codes：
![image](https://user-images.githubusercontent.com/41787764/183342609-094ddd37-84f6-4f57-a02f-ad525826819c.png)

### Return:
![image](https://user-images.githubusercontent.com/41787764/183342581-2ebb279b-0b81-4232-9308-f397d84db764.png)

[2022-08-09 19:25] odigity opened #792 "documentation for PyJWKClient and RSAAlgorithm"
I'm trying to validate JWTs from Apple using their JWK (https://appleid.apple.com/auth/keys) and it took me hours to figure out what to do with them.  Had to piece together information from different Issues and PRs + the last item on the Usage Examples page:

https://pyjwt.readthedocs.io/en/stable/usage.html#retrieve-rsa-signing-keys-from-a-jwks-endpoint

Would be nice if the PyJWKClient and RSAAl

[2022-08-15 02:13] #745 closed

[2022-08-15 12:24] DavidKorczynski opened #793 "Continuous fuzzing by way of OSS-Fuzz"
Hi,

I was wondering if you would like to integrate continuous fuzzing by way of OSS-Fuzz? Fuzzing is a way to automate test-case generation and can be used to find unexpected exceptions in Python. In this PR https://github.com/google/oss-fuzz/pull/8230 I did an initial integration into OSS-Fuzz and the current fuzzer targets the `decode` and `encode` apis with the idea of catching uncaught except

[2022-08-15 12:54] auvipy commented on #793
could be a good addition, but what about property based testing with hypothesis which is a form of fuzzing?

[2022-08-15 14:08] DavidKorczynski commented on #793
I think ultimately doing OSS-Fuzz and Hypothesis would be the best.

I'm not much familiar with Hypothesis so I can't comment too much on it. But, see this comment from the Hypothesis maintainer on how fuzzing and hypothesis compares: https://mail.python.org/archives/list/numpy-discussion@python.org/message/GHERCCDPOICEBDJJZAYKT4XJYFBGGA3C/

I think the fuzzer should be able to get some results as

[2022-08-20 19:02] clesiemo3 commented on #790
It is supported. Make sure you have cryptography installed.

https://pyjwt.readthedocs.io/en/stable/installation.html#cryptographic-dependencies-optional

If crypto is not installed, RS256 will not be in your default algorithms list: https://github.com/jpadilla/pyjwt/blob/5ecbafc366ebc4940ce4eac81350bc41887a4433/jwt/algorithms.py#L79-L104

Also your installation may be older as line 272 in api_jws

[2022-08-23 02:13] #401 closed

[2022-08-29 02:14] #314 closed

[2022-08-31 23:59] yingzhuo opened #795 "Maybe a bug about NoneAlgorithm"
Hi!

I noticed that NoneAlgorithm's method 'verify' always return a False.
It's cannot verify empty signature. But can generate a empty signature.

I have to register another to do so.
Is it a bug?

Thanks!

[code]

[2022-09-01 16:31] wcedmisten-reify opened #796 "Possible incorrect behavior of verifying `exp` claim when `exp` == `datetime.now()`"
When validating the `exp` claim, pyjwt checks if `exp < (now - leeway)`, and throws an error if so. I would expect this condition to be `exp <= (now - leeway)`.

https://github.com/jpadilla/pyjwt/blob/master/jwt/api_jwt.py#L233-L234

The [RFC describes the expiration claim](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.4):

   or after which the JWT MUST NOT be accepted for processing.

which

[2022-09-04 02:14] #772 closed

[2022-09-12 15:48] kkirsche commented on #660
Stale doesn't mean addressed

[2022-09-12 16:36] fabiocaccamo opened #799 "Unexpected decode error `jwt.exceptions.DecodeError: Invalid header string: ...`"
Thank you for this great library.

I have a project where I'm using this library for encoding/decoding tokens for resetting passwords.
Everything works well, but the other day I got an unexpected error when a user clicked the password-reset-link sent via email. This is a very isolated case because it happened only once.

## Actual Result

The following exception is raised:
[code]

## Reproduction

[2022-09-16 11:35] felixhammerl opened #800 "Import fails in AWS Lambda Python 3.8 runtime due to `cryptography`"
When trying to import `jwt` in AWS Lambda with a python 3.8  with `cryptography` on a recent version, the following error is thrown.

[code]

## Expected Result

Module gets imported

## Actual Result

Import error (see above)

## Reproduction Steps

[code]

## System Information

    $ python -m jwt.help

[code]

## Workaround

[code]

[2022-09-17 14:21] kloczek opened #802 "2.5.0: pytest is failing in `tests/test_algorithms.py::TestAlgorithms::test_ec_to_jwk_with_invalid_curve` unit"
I'm packaging your module as an rpm package so I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH pointing to si

[2022-09-19 03:25] auvipy commented on #802
@jtemporal can you take a look please? when you have time

[2022-09-19 12:50] lautat opened #804 "`crypto` extra requires outdated `types-cryptography` type annotation stubs"
Type annotation stub packages are usually only needed for static type analyzers like `mypy`. Type annotations of dependencies might not be useful in any way for the user of this library if it's not necessary to use the dependency directly. Thus, type annotations of dependencies should be always optional, and definitely not included in the `crypto` extra. Also, annotations in `types-cryptography` a

[2022-09-19 16:15] alex commented on #804
Just want to note, as one of the pyca/cryptographer maintainers, that I concur with this: our own type annotations are definitely preferable to do the external types package.

Perhaps it'd be easier to set a minimum bound of >=3.4 if you want to ensure type hints are always available.

[2022-09-19 18:52] sanders41 opened #806 "Encoded values different after updating to 2.5.0"
Summary.

After updating from 2.4.0 to 2.5.0 we started seeing failing tests in our CI ([for example](https://github.com/ethyca/fidesops/actions/runs/3084160052/jobs/4986072014#step:6:321)). We have tracked the issue down to the encoded value being different for the value we used to get. I didn't see anything in the change log that would cause this, and looking through the PRs the only thing I saw

[2022-09-19 19:06] frenck commented on #806
We notice the same thing @ the Home Assistant project.

<https://github.com/home-assistant/core/pull/78776> (CI fails for the same reason as above).

[2022-09-19 23:56] #804 closed

[2022-09-20 11:12] jpadilla commented on #806
That's because of sorting header keys introduced in https://github.com/jpadilla/pyjwt/pull/721. What's the use case of JWTs for equality instead of validity?

[2022-09-20 11:41] frenck commented on #806
Clear @jpadilla 👍 It just made alarm bells ring, without a clear reason why. Thanks for the clarification 👍

[2022-09-20 12:21] sanders41 commented on #806
Yes, we have switched to validity instead. It was just a surprise to see things fail since we didn't see anything in the change log.

[2022-09-23 11:14] #796 closed

[2022-09-24 00:42] XenoAmess commented on #634
comment

[2022-09-24 02:13] #722 closed

[2022-09-28 02:14] #783 closed

[2022-09-29 02:14] #676 closed

[2022-10-04 18:50] eva-mueller-coremedia commented on #800
My AWS lambda (Python 3.9) ran into the same error when using

[code]

The following downgrade worked for me:
[code]

[AWS Lambda Python 3.9](https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html) uses an [Amazon Linux 2](https://docs.aws.amazon.com/AL2/latest/relnotes/relnotes.html#c-runtime) which itself

I also found this issue: https://github.com/pyca/cryptography/issues/6391#issue

[2022-10-05 10:01] BSVogler opened #811 "Request to add an option to not sort headers"
Since #715 the header values are sorted. There is no way to disable that. By upgrading to 2.5.0 this changes the generated token and makes it incompatible with other software we are using.

[2022-10-05 22:18] taylornelson-outside opened #812 "verify_aud flag required for verifying audiences from django oauth toolkit"
https://github.com/jazzband/django-oauth-toolkit/blob/492a867499b50f348c28db4ef3e429e8f46dc412/oauth2_provider/oauth2_validators.py#L887 requires an aud which is a client_id which pyjwt does not accept.  I think pyjwt is probably correct here and would appreciate any guidance or pointers short of using verify_aud to skip verification.  I could also be missing something.  Thanks.

[2022-10-06 19:23] bdw666 commented on #681
I've partially implemented some of this, there are advantages to keeping the signing keys in KMS. I've implemented ES256, at least for signing, for verifying I'm still using the python lib to do it with the public key in KMS. the R|S to ANS.1 conversion isn't super easy, ANS.1 to R|S is fairly straight forward.

[2022-10-08 02:13] #785 closed

[2022-10-16 02:15] #792 closed

[2022-10-21 12:29] AGaliciaMartinez opened #814 "The token is not yet valid (iat)."
We found an issue in one of our tests in the recent update of yours. Our package works with `pyjwt==2.5.0` but it breaks with `pyjwt==2.6.0`. We will give more details on the issue once we explore it more and will try to provide a minimal example that reproduces the error. However, may I ask you to check if the latests changes could have broken backawards compatibility? We are particularly suspici

[2022-10-21 13:26] bluefish6 opened #815 "2.6.0 release missing from github"
Release 2.6.0 is present on [pypi](https://pypi.org/project/PyJWT/#history) and mentioned in [CHANGELOG](https://github.com/jpadilla/pyjwt/blob/master/CHANGELOG.rst#v260), however is not listed as a [release](https://github.com/jpadilla/pyjwt/releases).

Please create a github release of this version. Different versions on pypi and github are a red flag suggesting that **possibly** somebody hijack

[2022-10-21 16:59] sriharan16 commented on #814
Hi @AGaliciaMartinez ,
Kindly check the token you use whether the issued_at time is greater than current (adding leeway as well). This is the case which was handled as part of this [Pull Request ](https://github.com/jpadilla/pyjwt/pull/794).

I request you take a look at the PR description to understand it better why we need to include this check and also check your code/token what's the current_t

[2022-10-21 16:59] sriharan16 commented on #814
Hi @AGaliciaMartinez ,
Kindly check the token you use whether the issued_at time is greater than current (adding leeway as well). This is the case which was handled as part of this [Pull Request ](https://github.com/jpadilla/pyjwt/pull/794).

I request you take a look at the PR description to understand it better why we need to include this check and also check your code/token what's the current_t

[2022-10-23 00:39] jadbin commented on #814
Different servers could have different time settings, especially when they are not connected to the internet, like a private network. Not every private network has a clock synchronization mechanism.

[2022-10-23 02:14] #793 closed

[2022-10-23 07:18] sriharan16 commented on #814
In that cases we can use the UTC time as a standard time. Also for the time difference in clock synchronization we can use the leeway time to make it work.

@auvipy any added inputs will be helpful here

[2022-10-24 18:41] jbmcfarlin31 opened #817 "PyJWT 2.6.0 IAT Decode Error - TypeError: '>' not supported between instances of 'str' and 'int'"
# Summary
Just upgraded to version `2.6.0` and now whenever I try to do a decode of a JWT I get the following error:
[code]

It appears that the `iat` value is "trying" to be converted (and if not, raises an exception) but doesn't actually evaluate the `iat` value as an int.

My payload comes across like:
[code]
So trying to perform `>` operations on that will result in a string. This does not hap

[2022-10-24 18:45] dsschult commented on #814
I've also encountered this issue, particularly in tests where the token is issued within a few milliseconds of when it gets used.  The problem is that the `iat` is assumed to be an integer, while the RFC allows floats.  If a token is issued with a float `iat` and decoded within that second, the code will test against the integer second, which is less than the float `iat`.  This results in `Immatur

[2022-10-25 01:46] auvipy commented on #814
we need to get rid of the type error

[2022-10-25 04:23] sriharan16 commented on #814
It's yes and no, since most JWT libraries in other languages also support the `int` type this could cause an issue. I agree with the fact that float has a bit more precision than int but to tackle this synchronization issue the recommended way is `leeway time`. So adding the minimum leeway time will help them without changing the custom logic they have now.

An example could is,
`jwt.decode(jwt.en

[2022-10-25 16:31] dtczest commented on #814
We've also been hit by this bug, broke all our tests. Our 'iat' stores the current time as a float.

[2022-10-25 18:05] sriharan16 commented on #814
Hi,
The check of `iat` as an integer exisits for a long time. The new change that went in is the `ImmatureSignatureError` when the `iat` is greater than `current time + leeway`.

<img width="722" alt="Screenshot 2022-10-25 at 11 32 32 PM" src="https://user-images.githubusercontent.com/17510446/197848203-f3abb394-3792-41ad-8e70-5ccdac0a38e2.png">

@auvipy I hope this is something we all need to tak

[2022-10-25 18:30] dsschult commented on #814
One simple "fix" would be to cast `iat` to an int, for example:
[code]

This would allow `PyJWT` to only deal with integers, but be compatible with sources that use floats.

It is possible to use `leeway` instead, but if that is the approach to be taken, maybe the default should be `leeway=1` instead of `leeway=0` so existing code continues to work.

[2022-10-27 00:07] jpadilla commented on #815
https://github.com/jpadilla/pyjwt/releases/tag/2.6.0

[2022-10-27 00:07] #815 closed

[2022-10-27 00:35] jpadilla commented on #814
what if instead of:
https://github.com/jpadilla/pyjwt/blob/0cfc0978a6c9dc01d89043d203b7f397e78822c2/jwt/api_jwt.py#L190

we just did

[code]

Wouldn't that mostly address the issues seen? Anything else would be addressed by specifying a leeway when decoding. unsure if i'm missing anything else.

[2022-10-28 02:13] #790 closed

[2022-11-02 16:09] julianhahn opened #820 "very unhelpfull / missleading error messages on get_signing_key_from_jwt"
Hello,

I spend a few hours today for a bug that shouldn't have been there. I set up my python application where I recieve a jwt token from oauth-proxy, validate, decode and echo the contents.
Running locally, everything went perfect. Running in a container I got the message "The JWK Set did not contain any usable keys". I checked, oauth configs, credentials, my code, put a few hours into trying t

[2022-11-04 12:17] daillouf commented on #814
@jpadilla your solution should work,

I also got a few tests failing when upgrading pyjwt :

[code]

the value of «now» seems not to include milliseconds, because

per timegm source code, it’s only seconds :
[code]

we could bypass this with a leeway of 1 second, but that’s a lot of leeway

[2022-11-04 21:20] thundercat1 opened #822 "Allow custom headers to be set on JWKClient requests"
When using `PyJWKClient` to access a jwks server behind a firewall, I've run into problems with my request being denied due to the default `Python-urllib/3.9` user agent.

Would the maintainers entertain allowing users to specify a custom `headers` dictionary when creating the `pyJWKClient` that would automatically be set on fetch requests to retrieve the JWK? By allowing a generic header dictiona

[2022-11-04 21:40] TimoWilhelm commented on #820
I just encountered the same issue today. Thankfully I found this issue so I didn't have to spend a few hours debugging this. I agree a better error message would be very helpful!

[2022-11-05 05:34] HanhThong commented on #820
I have face with the same issue. This is not a bug, you must install cryptography to another algorithms such as RS256.

[2022-11-05 09:16] #814 closed

[2022-11-06 12:40] aruehl opened #824 "The token is not yet valid (iat)"
Since upgrading to version 2.6.0 the decoding of my ID Token fails with:
jwt.exceptions.ImmatureSignatureError: The token is not yet valid (iat)

The token has valid values. For example:
[code]
Epoch timestamp at calling the decode method was 1667737094. From client view the token is generated in the future.

Previous versions (2.4.0 and 2.5.0) are decoding the token susccessfully.

I have also tr

[2022-11-07 10:30] daillouf commented on #824
this is a duplicate of #814
#814 got closed as the PR got closed but there was no release made yet.

Waiting for that release I suggest either putting leeway=1 in all your decode() calls, or limit your pyjwt <2.6.0 for now

[2022-11-07 14:34] #824 closed

[2022-11-12 16:23] oktavlachs commented on #817
+1, same for me

my test is
[code]

[2022-11-12 16:30] oktavlachs commented on #817
Happy to provide also a full stack trace
[code]

[2022-11-12 16:44] oktavlachs commented on #817
I tried out other versions and can verify that it stops working with version 2.0.
This makes sense, since I updated recently from version 1.7.1

[2022-11-16 08:46] fabiocaccamo commented on #799
No more stale.

[2022-11-17 01:31] berryscone opened #826 "_validate_claims in jwt/api_jwt.py raise expiration exception even though I didn't add exp into requrire"
in decode_complete method, it merges self.options and options and "verify_exp" is set in self.options.
it makes _validate_claims method check expiration time even though I didn't request to check exp.
(i call jwt.decode with require option which doesn't have "exp")

## Expected Result
no exception raised

## Actual Result
ExpiredSignatureError("Signature has expired") is raised

## Reproduction St

[2022-11-17 01:52] berryscone commented on #826
sorry I misunderstood the API.
verify_exp=False should be added to option
please delete this issue or close (i cant find how to delete this issue)

[2022-11-17 01:52] #826 closed

[2022-11-17 14:05] teuf22 commented on #799
I observed a similar problem. I suspect that the user email program (Outlook it appears) is doing a 'pre-fetch' on the link (before the user clicks on it). However in this pre-fetch, Outlook is changing the jwt token to something bogus.

[2022-11-17 14:14] fabiocaccamo commented on #799
@teuf22 interesting...

[2022-11-17 16:39] ChrisMeeusen commented on #789
Was this ever implemented?  I"m running into this same issue because my corporate FW is doing SSL decryption.  Otherwise I can look to another library.

[2022-11-17 16:53] apastel commented on #789
@ChrisMeeusen Not that I know of. I'm not sure why it didn't get a response. I'm currently using my monkeypatch solution above.

[2022-11-17 17:01] ChrisMeeusen commented on #789
Thanks for the response, when you say you're using the monkeypatch solution does that mean you basically pulled down all the source code for this library and build it along side your application?  There is no way to just update that single file right?  Sorry I'm pretty new to Python.

[2022-11-17 17:16] apastel commented on #789
@ChrisMeeusen Thankfully no, you don't have to re-build the library. In Python you can essentially replace a library function by redefining it. So the code that I've shown above is all that's needed.

The top two answers here are a good reference: https://stackoverflow.com/questions/5626193/what-is-monkey-patching

[2022-11-18 21:22] lahirumaramba opened #827 "CVE-2022-3602 and CVE-2022-3786 fixes in cryptography 38.0.3"
Hey folks,

You probably have already looked into this, but since I couldn't find any closed issues on this I decided to create this as more of an FYI.

`cryptography` package was affected by [CVE-2022-3602 and CVE-2022-3786](https://www.openssl.org/blog/blog/2022/11/01/email-address-overflows/) and they have [addressed](https://cryptography.io/en/latest/changelog/#v38-0-3) the issue in the `v38.0

[2022-11-21 16:46] masalim2 commented on #820
It's not a bug, but it is easy to miss this requirement and spend some time chasing down the cause.  For instance, this just happened to me where `cryptography` was installed in my dev environment but missing from a Docker image.

Instead of silently swallowing the `PyJWKErrors`, what if a warning was emitted here in `api_jwk.py`:

[code]

[2022-11-21 18:05] julianhahn commented on #820
I didn't say it's a bug in the package, rather the error handling caused a bug in my project :)
exactly @masalim2, a simple warning message would have reduced the time needed to solve the issue down to few minutes.
The reason, why I dind't commit something like your suggestion, is that there are a lot of diffrent modules in the file with the big "try to import, else throw the error away" and I'm n

[2022-11-23 11:40] akx commented on #827
Probably not relevant to change here – chances are some downstream user of PyJWT will want to use it with a Python version that's e.g. no longer supported by Cryptography 38, so pinning it here would make installing `pyjwt[crypto]` impossible for those users.

[2022-11-25 18:20] kaisung commented on #820
I ran into the same issue, thanks for Google search leading me to the solution here. Agree this isn't a bug but adding a hint in the error message as @masalim2 proposed seems like a good usability improvement.

[2022-11-28 03:24] AlexanderPershin commented on #680
To which version did you upgrade?

[2022-11-28 14:30] bradydean commented on #680
It has been so long I can't really remember. I'd assume you want cryptography>=3.4.0, that's what is in setup.cfg now.

[2022-11-28 16:17] AlexanderPershin commented on #680
I've already found out that `cryptography` version should be > `3.1` so I just installed `3.2` and error is gone. Thank you for answering anyway

[2022-11-28 16:54] bradydean commented on #680
3.2 was released oct 2020, probably worth bumping that further if you can.

[2022-11-29 15:38] nayef-livio-derwiche commented on #817
Do we have an update on this ? Seems like a pretty big regression, how come it does not happen to more people, did we miss something or were we not supposed to use this function ?